Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate, test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

Path conditions:
  migrate: any of: api/app/*/VERSION
  test-ui: any of: src/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-proxy: any of: api/app/proxy/VERSION
  release_build-proxy: any of: api/app/proxy/VERSION
  release_deploy-proxy: any of: api/app/proxy/VERSION
  release_success-proxy: any of: api/app/proxy/VERSION
  release_failure-proxy: any of: api/app/proxy/VERSION
  release-auth: any of: api/app/auth/VERSION
  release_build-auth: any of: api/app/auth/VERSION
  release_deploy-auth: any of: api/app/auth/VERSION
  release_success-auth: any of: api/app/auth/VERSION
  release_failure-auth: any of: api/app/auth/VERSION
  release-example: any of: api/app/core/VERSION
  release_build-example: any of: api/app/core/VERSION
  release_deploy-example: any of: api/app/core/VERSION
  release_success-example: any of: api/app/core/VERSION
  release_failure-example: any of: api/app/core/VERSION

fix: test
  src/auth/user/account/modify/api/test.rs
Due: test-api

fix: gitlab ci
  .gitlab-ci.yml
  api/app/test/VERSION
  api/ci/build-test.sh
Due: migrate

fix: gitlab ci
  .gitlab-ci.yml
  api/ci/build-test.sh
Due: none

fix: gitlab ci
  api/app/test/VERSION
Due: migrate

fix: gitlab ci
  .gitlab-ci.yml
Due: none

change: vitest
  package-lock.json
  package.json
  src/auth/sign/nav/data.ts
  src/auth/user/password/input/convert.ts
  src/auth/user/password/reset/reset/test.ts
  src/auth/user/password/reset/token_destination/input/test.ts
  src/auth/user/password/reset/token_destination/kernel/convert.ts
  src/x_content/menu/docs_menu.ts
  src/z_lib/ui/search/sort/convert.ts
  src/z_lib/ui/search/sort/test.ts
  ui/setup/config/vitest.config.ts
  ui/setup/env/entry_point.js
Due: test-ui

fix: variant key
  src/auth/sign/nav/data.ts
Due: test-ui

fix: font
  src/x_content/css/font.css
Due: none

move: reset token
  src/auth/user/password/input/convert.ts
  src/auth/user/password/input/data.ts
  src/auth/user/password/reset/reset/convert.ts
  src/auth/user/password/reset/reset/data.ts
  src/auth/user/password/reset/reset/infra.ts
  src/auth/user/password/reset/reset/init/mock.ts
  src/auth/user/password/reset/reset/init/reset_remote.ts
  src/auth/user/password/reset/reset/init/view.ts
Due: test-ui

refactor
  .envrc
  api/setup/build.rs
  bootstrap/generate_cloudfront_key_pair.sh
  src/core/dashboard/init.ts
  src/core/dashboard/init/resource.ts
  src/core/dashboard/resource.ts
  src/core/dashboard/x_preact/dashboard.ts
  src/x_main/secure/index/entry.ts
  src/x_main/secure/index/page.ts
  ui/public/dist/fonts/minmoji/minmoji.eot
  ui/public/dist/fonts/minmoji/minmoji.ttf
  ui/public/dist/fonts/minmoji/minmoji.woff
  ui/public/root/index.html
  ui/public/root/not_found.html
  ui/public/template/site.html
  ui/secure/nginx.conf.template
  ui/setup/config/jest.config.js
Due: test-ui

fix: test docker file
  api/app/test/Dockerfile
Due: none

update: package
  Cargo.lock
  src/auth/proxy/helper.rs
Due: test-api

update: package
  Cargo.lock
Due: none

fix
  src/x_main/auth/main.rs
Due: test-api

add: security.txt
  ui/ci/deploy.sh
  ui/public/well-known/security.txt
Due: none

version bumped: 0.28.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

version bumped: 0.50.0-proxy
  api/app/proxy/VERSION
Due: migrate, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy

fix: dockerfile
  api/app/auth/Dockerfile
  api/app/core/Dockerfile
  api/app/proxy/Dockerfile
Due: none

version bumped: 0.50.1-proxy
  api/app/proxy/VERSION
Due: migrate, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy

version bumped: 0.8.0-core
  api/app/core/VERSION
Due: migrate, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

version bumped: 0.10.0-auth
  api/app/auth/VERSION
Due: migrate, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth

fix: dynamodb projection expression
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb/ticket.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb/reset_token.rs
Due: test-api

version bumped: 0.11.0-auth
  api/app/auth/VERSION
Due: migrate, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth

fix: auth role
  src/auth/user/account/search/test.ts
  src/auth/user/kernel/api/data.rs
  src/core/outline/load/test_helper.ts
  src/x_content/api/role.rs
  src/x_content/menu/home_menu.ts
  src/x_content/role.ts
Due: test-ui, test-api

fix: test
  src/auth/proxy/test.rs
  src/auth/ticket/check/api/test.rs
  src/auth/ticket/kernel/test.ts
  src/auth/ticket/validate/test.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/modify/test.ts
  src/auth/user/account/register/api/test.rs
  src/auth/user/account/register/test.ts
  src/auth/user/account/search/api/test.rs
  src/auth/user/account/unregister/api/test.rs
  src/auth/user/kernel/api/data.rs
  src/auth/user/login_id/change/api/test_overwrite.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/change/api/test_overwrite.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
  src/core/outline/load/test.ts
Due: test-ui, test-api

fix: deploy script
  .gitlab-ci.yml
  ui/ci/deploy.sh
Due: none

version bumped: 1.0.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

version bumped: 1.0.0-proxy
  api/app/proxy/VERSION
Due: migrate, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy

version bumped: 1.0.0-core
  api/app/core/VERSION
Due: migrate, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

version bumped: 1.0.0-auth
  api/app/auth/VERSION
Due: migrate, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth

fix: major version up
  src/avail/version/find_next/action.ts
  src/avail/version/find_next/test.ts
  ui/public/metadata.js
Due: test-ui

update: preact
  package-lock.json
  package.json
Due: none

version bumped: 1.1.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: font-src
  ui/public/metadata.js
Due: none
