Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

test-ui:
  stage: test
  variables:
    SECURE_SERVER_URL: https://secure.example.com
    API_SERVER_URL: https://api.example.com
  before_script:
  - npm clean-install
  script:
  - npm test
  - npm run build

test-api:
  stage: test
  image: rust:1-buster
  before_script:
  - rustup install nightly
  - rustup component add --toolchain nightly llvm-tools-preview
  - cargo install rustfilt
  - cargo install grcov
  script:
  - ./api/ci/test.sh

release-ui:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $UI_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_deploy-ui:
  stage: release_deploy
  when: on_success
  variables:
    BUILD_ENV: production
  before_script:
  - apt-get update && apt-get install -y python3-pip
  - pip3 install awscli
  - npm clean-install
  script:
  - ./ui/ci/deploy.sh

release_success-ui:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release_failure-ui:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release-api:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $API_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_build-api:
  stage: release_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - api/ci/build.sh

release_deploy-api:
  stage: release_deploy
  when: on_success
  image: google/cloud-sdk:latest
  script:
  - api/ci/deploy.sh

release_success-api:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

release_failure-api:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

version bumped: 0.21.2-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

version bumped: 0.4.0-auth
  api/app/auth/VERSION
Due: none

add: comment
  ui/secure/metadata.js
Due: none

fix: site template
  ui/public/template/site.html
Due: none

add: search user account
  src/auth/user/account/action_manage/action.ts
  src/auth/user/account/action_manage/init/resource.ts
  src/auth/user/account/action_manage/mock.ts
  src/auth/user/account/action_manage/resource.ts
  src/auth/user/account/action_manage/test.ts
  src/auth/user/account/action_manage/x_preact/manage.ts
  src/auth/user/account/action_manage/x_preact/search.stories.ts
  src/auth/user/account/action_manage/x_preact/search.ts
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/docs.ts
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/mock.ts
  src/auth/user/account/action_search/resource.ts
  src/auth/user/account/action_search/test.ts
  src/auth/user/account/action_search/x_preact/search.stories.ts
  src/auth/user/account/action_search/x_preact/search.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/mock.ts
  src/auth/user/login_id/input/action_search/mock.ts
  src/auth/user/login_id/input/action_search/test.ts
  ui/vendor/getto-application/board/action_observe_board/test.ts
  ui/vendor/getto-application/board/action_observe_field/test.ts
Due: test-ui

fix: manage user account
  main/ui/secure/auth/user/account/common.ts
  main/ui/secure/auth/user/account/entry.ts
  main/ui/secure/auth/user/account/page.stories.ts
  main/ui/secure/auth/user/account/page.ts
  main/ui/secure/auth/user/account/resource.ts
  src/auth/user/account/action_manage/init/resource.ts
  src/auth/user/account/action_manage/resource.ts
  src/auth/user/account/action_manage/x_preact/manage.ts
  src/auth/user/account/action_search/x_preact/search.ts
  src/auth/user/login_id/input/action_search/x_preact/search.stories.ts
  src/example/outline/kernel/init/home.ts
  ui/env/entry_point.js
  ui/vendor/getto-css/preact/design/box.ts
Due: test-ui

add: user account pager
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/resource.ts
  src/auth/user/account/action_search/test.ts
  src/auth/user/account/action_search/x_preact/form.storie.ts
  src/auth/user/account/action_search/x_preact/form.ts
  src/auth/user/account/action_search/x_preact/pager.stories.ts
  src/auth/user/account/action_search/x_preact/pager.ts
  src/auth/user/account/action_search/x_preact/search.ts
  src/auth/user/account/kernel/data.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/event.ts
  src/auth/user/account/search/infra.ts
  src/auth/user/account/search/init/remote.ts
  src/auth/user/account/search/method.ts
  src/example/x_preact/design/table.ts
  src/z_lib/ui/remote/data.ts
Due: test-ui

add: user account pager
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/mock.ts
  src/auth/user/account/action_search/x_preact/pager.ts
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/init/remote.ts
  src/auth/user/login_id/input/action_input/x_preact/input.ts
  src/auth/user/login_id/input/action_search/x_preact/search.ts
  src/example/x_preact/design/table.ts
  src/z_lib/ui/remote/data.ts
  src/z_lib/ui/remote/search/action_search/action.ts
  src/z_lib/ui/remote/search/action_search/init.ts
  src/z_lib/ui/remote/search/action_search/mock.ts
  src/z_lib/ui/remote/search/action_search/resource.ts
  src/z_lib/ui/remote/search/action_search/test.ts
  src/z_lib/ui/remote/search/action_search/x_preact/search.stories.ts
  src/z_lib/ui/remote/search/action_search/x_preact/search.ts
  src/z_lib/ui/remote/search/convert.ts
  src/z_lib/ui/remote/search/data.ts
  ui/vendor/getto-application/board/action_input/x_preact/input.stories.ts
  ui/vendor/getto-application/board/action_input/x_preact/select.stories.ts
  ui/vendor/getto-application/board/action_input/x_preact/select.ts
  ui/vendor/getto-application/board/input/init/connector.ts
  ui/vendor/getto-application/board/kernel/convert.ts
  ui/vendor/getto-application/board/kernel/data.ts
  ui/vendor/getto-application/board/observe_field/infra.ts
  ui/vendor/getto-application/board/observe_field/init/observer.ts
Due: test-ui

fix: test
  src/auth/user/account/action_search/test.ts
Due: test-ui

refactor: names
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/mock.ts
  src/auth/user/account/action_search/x_preact/pager.ts
  ui/vendor/getto-table/preact/cell/expansion.ts
  ui/vendor/getto-table/preact/cell/multipart.ts
  ui/vendor/getto-table/preact/cell/simple.ts
  ui/vendor/getto-table/preact/cell/tree.ts
  ui/vendor/getto-table/preact/core.ts
Due: test-ui

add: checkbox input
  ui/vendor/getto-application/board/action_input/action.ts
  ui/vendor/getto-application/board/action_input/init.ts
  ui/vendor/getto-application/board/action_input/x_preact/checkbox.stories.ts
  ui/vendor/getto-application/board/action_input/x_preact/checkbox.ts
  ui/vendor/getto-application/board/action_input/x_preact/select.ts
  ui/vendor/getto-application/board/input/infra.ts
  ui/vendor/getto-application/board/input/init/mock.ts
  ui/vendor/getto-application/board/input/init/multiple_connector.ts
Due: test-ui

add: search columns
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/mock.ts
  src/auth/user/account/action_search/x_preact/columns.ts
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/data.ts
  src/example/x_preact/design/table.ts
  src/z_lib/ui/remote/search/action_search/action.ts
  src/z_lib/ui/remote/search/action_search/init.ts
  src/z_lib/ui/remote/search/action_search/mock.ts
  src/z_lib/ui/remote/search/action_search/test.ts
  src/z_lib/ui/search/action_columns/action.ts
  src/z_lib/ui/search/action_columns/init.ts
  src/z_lib/ui/search/action_columns/resource.ts
  src/z_lib/ui/search/action_columns/test.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.stories.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.ts
  src/z_lib/ui/search/action_offset/action.ts
  src/z_lib/ui/search/action_offset/init.ts
  src/z_lib/ui/search/action_offset/mock.ts
  src/z_lib/ui/search/action_offset/resource.ts
  src/z_lib/ui/search/action_offset/x_preact/offset.stories.ts
  src/z_lib/ui/search/action_offset/x_preact/offset.ts
  src/z_lib/ui/search/convert.ts
  src/z_lib/ui/search/data.ts
  ui/vendor/getto-application/board/action_input/x_preact/checkbox.ts
Due: test-ui

add: user account columns
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/mock.ts
  src/auth/user/account/action_search/resource.ts
  src/auth/user/account/action_search/x_preact/columns.storie.ts
  src/auth/user/account/action_search/x_preact/columns.ts
  src/auth/user/account/action_search/x_preact/search.ts
  src/z_lib/ui/search/action_columns/action.ts
  src/z_lib/ui/search/action_columns/init.ts
  src/z_lib/ui/search/action_columns/mock.ts
  src/z_lib/ui/search/action_columns/test.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.stories.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.ts
  ui/vendor/getto-application/board/action_input/x_preact/checkbox.ts
Due: test-ui

refactor: full columns
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/init.ts
  src/z_lib/ui/search/action_columns/init.ts
  src/z_lib/ui/search/action_columns/mock.ts
Due: test-ui

refactor: search method
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/search/method.ts
Due: test-ui

fix: columns
  src/auth/ticket/kernel/init/repository/authn.ts
  src/auth/ticket/kernel/init/repository/authz.ts
  src/auth/ticket/z_protobuf/db.proto
  src/auth/user/account/action_manage/init/resource.ts
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/mock.ts
  src/auth/user/account/action_search/resource.ts
  src/auth/user/account/action_search/test.ts
  src/auth/user/account/action_search/x_preact/columns.storie.ts
  src/auth/user/account/action_search/x_preact/columns.ts
  src/auth/user/account/action_search/x_preact/search.ts
  src/example/load_season/init/repository/season.ts
  src/example/outline/action_load_menu/init.ts
  src/example/outline/kernel/infra.ts
  src/example/outline/kernel/init/docs.ts
  src/example/outline/kernel/init/home.ts
  src/example/outline/kernel/init/repository/menu_expand.ts
  src/example/outline/z_protobuf/db.proto
  src/example/z_protobuf/db.proto
  src/z_lib/ui/search/action_columns/action.ts
  src/z_lib/ui/search/action_columns/init.ts
  src/z_lib/ui/search/action_columns/mock.ts
  src/z_lib/ui/search/action_columns/test.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.stories.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.ts
  src/z_lib/ui/search/columns/convert.ts
  src/z_lib/ui/search/columns/data.ts
  src/z_lib/ui/search/columns/event.ts
  src/z_lib/ui/search/columns/infra.ts
  src/z_lib/ui/search/columns/init.ts
  src/z_lib/ui/search/columns/init/repository/columns.ts
  src/z_lib/ui/search/columns/init/repository/mock.ts
  src/z_lib/ui/search/columns/method.ts
  src/z_lib/ui/search/z_protobuf/db.proto
  ui/setup/environment.js
  ui/vendor/getto-application/board/action_input/x_preact/checkbox.ts
  ui/vendor/getto-application/board/input/infra.ts
  ui/vendor/getto-application/board/input/init/mock.ts
  ui/vendor/getto-application/board/input/init/multiple_connector.ts
Due: test-ui

fix: user account columns
  src/auth/user/account/action_search/action.ts
  src/auth/user/account/action_search/init.ts
  src/auth/user/account/action_search/mock.ts
  src/auth/user/account/action_search/resource.ts
  src/auth/user/account/action_search/test.ts
  src/auth/user/account/action_search/x_preact/columns.storie.ts
  src/auth/user/account/action_search/x_preact/columns.ts
  src/auth/user/account/action_search/x_preact/search.ts
  src/auth/user/account/action_search/x_preact/structure.ts
  src/auth/user/account/action_search/x_preact/table.ts
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/infra.ts
  src/auth/user/account/search/init.ts
  src/auth/user/account/search/init/remote.ts
  src/auth/user/account/search/mock.ts
  src/example/x_preact/design/table.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.stories.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.ts
  src/z_lib/ui/search/convert.ts
  src/z_lib/ui/search/sort/data.ts
  src/z_lib/ui/search/sort/helper.ts
  ui/vendor/getto-css/preact/design/data.ts
  ui/vendor/getto-table/preact/cell.ts
  ui/vendor/getto-table/preact/cell/expansion.ts
  ui/vendor/getto-table/preact/cell/simple.ts
  ui/vendor/getto-table/preact/cell/structure.ts
  ui/vendor/getto-table/preact/core.ts
  ui/vendor/getto-table/preact/mutable.ts
  ui/vendor/getto-table/preact/mutable/leaf.ts
  ui/vendor/getto-table/preact/style.ts
Due: test-ui

fix: layout
  src/auth/user/account/action_search/x_preact/columns.ts
  src/auth/user/account/action_search/x_preact/pager.ts
Due: test-ui

refactor: table view
  src/auth/user/account/action_search/resource.ts
  src/auth/user/account/action_search/x_preact/columns.ts
  src/auth/user/account/action_search/x_preact/pager.ts
  src/auth/user/account/action_search/x_preact/table.ts
  ui/vendor/getto-table/preact/cell.ts
  ui/vendor/getto-table/preact/cell/expansion.ts
  ui/vendor/getto-table/preact/cell/group.ts
  ui/vendor/getto-table/preact/cell/helper.ts
  ui/vendor/getto-table/preact/cell/multipart.ts
  ui/vendor/getto-table/preact/cell/simple.ts
  ui/vendor/getto-table/preact/cell/structure.ts
  ui/vendor/getto-table/preact/cell/tree.ts
  ui/vendor/getto-table/preact/core.ts
Due: test-ui

fix: all visible option
  ui/vendor/getto-table/preact/cell/expansion.ts
  ui/vendor/getto-table/preact/cell/helper.ts
  ui/vendor/getto-table/preact/cell/simple.ts
  ui/vendor/getto-table/preact/core.ts
Due: test-ui

fix: search user account
  src/auth/user/account/remote/proxy_search/init.rs
  src/auth/user/account/remote/search/infra.rs
  src/auth/user/account/remote/search/init/search_repository.rs
  src/auth/user/account/remote/search/method.rs
  src/auth/user/account/remote/x_actix_web/route.rs
  src/auth/user/account/search/init/remote.ts
  src/auth/user/account/z_protobuf/api.proto
  src/auth/user/account/z_protobuf/service.proto
  src/z_lib/remote/search/data.rs
Due: test-ui, test-api

fix: todo
  src/auth/user/account/kernel/data.ts
  src/auth/user/account/search/init/remote.ts
  src/example/outline/kernel/init/home.ts
Due: test-ui

fix: search
  src/auth/user/account/remote/search/infra.rs
  src/auth/user/account/remote/search/init/search_repository.rs
  src/auth/user/account/remote/search/x_tonic/response.rs
  src/auth/user/password/remote/change/x_tonic/response.rs
  src/z_lib/remote/search/data.rs
Due: test-api

refactor: move common lib
  src/auth/ticket/action_check/x_preact/check_auth_info.ts
  src/auth/user/account/action_search/x_preact/structure.ts
  src/auth/user/login_id/input/action_input/x_preact/input.ts
  src/auth/user/login_id/input/action_search/x_preact/search.ts
  src/auth/user/password/action_authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/action_change/x_preact/change_password.ts
  src/auth/user/password/input/action_input/x_preact/input.ts
  src/auth/user/password/reset/action_request_token/x_preact/request_token.ts
  src/auth/user/password/reset/action_request_token_profile/x_preact/request_token.ts
  src/auth/user/password/reset/action_reset/x_preact/reset_password.ts
  src/example/action_load_season/x_preact/load_season.ts
  src/example/action_load_season/x_preact/load_season_field.ts
  src/example/x_preact/design/table.ts
  src/example/x_preact/docs/Docs/box.ts
  src/z_lib/ui/search/action_columns/x_preact/columns.ts
  src/z_lib/ui/search/action_offset/x_preact/offset.ts
  src/z_lib/ui/x_preact/common.ts
Due: test-ui

upgrade: rust edition
  Cargo.toml
Due: none

version bumped: 0.45.0-api
  Cargo.toml
  api/app/api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: none

update: packages
  Cargo.lock
  Cargo.toml
  api/setup/grpc.rs
  main/auth/main.rs
  main/example/main.rs
Due: none

version bumped: 0.45.1-api
  Cargo.toml
  api/app/api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: none

version bumped: 0.5.0-auth
  api/app/auth/VERSION
Due: none

version bumped: 0.3.0-example
  api/app/example/VERSION
Due: none

fix: build script
  Cargo.lock
  api/setup/grpc.rs
Due: none

fix: tonic layer
  main/auth/main.rs
  main/example/main.rs
Due: none

upgrade: packages
  .envrc
  package-lock.json
  package.json
  ui/public/webpack.config.js
  ui/secure/webpack.config.js
Due: none

fix: ws proxy
  ui/public/nginx.conf.template
  ui/secure/nginx.conf.template
Due: none

version bumped: 0.22.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: webpack config
  .gitlab-ci.yml
  src/auth/user/password/remote/proxy_authenticate/init.rs
  ui/public/webpack.config.js
  ui/secure/webpack.config.js
Due: test-api

version bumped: 0.22.1-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION
