Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

update: package
  package-lock.json
  package.json
Due: none

version bumped: 0.26.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: entry point
  src/auth/user/account/manage/init/resource.ts
  src/x_main/public/entry_point.json
  src/x_main/secure/entry_point.json
  ui/setup/env/entry_point.js
Due: test-ui

fix: entry point
  ui/setup/env/entry_point.js
Due: none

fix: test
  src/auth/sign/nav/resource.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/avail/x_preact/application_error.ts
  src/avail/x_preact/not_found.ts
  src/core/outline/load/test_helper.ts
  src/core/outline/load/x_preact/load_breadcrumb_list.ts
  src/core/x_preact/design/icon.ts
  src/core/x_preact/design/table.ts
  src/docs/content/x_preact/helper.ts
  src/x_content/menu/docs_menu.ts
  src/x_content/menu/home_menu.ts
  src/z_lib/ui/icon/init/line_icon.ts
Due: test-ui

fix: icon
  src/auth/sign/nav/resource.ts
  src/avail/x_preact/application_error.ts
  src/avail/x_preact/not_found.ts
  src/core/x_preact/design/icon.ts
  src/x_content/menu/docs_menu.ts
  src/x_content/menu/home_menu.ts
Due: test-ui

fix: menu
  src/x_content/menu/home_menu.ts
Due: test-ui

remove: css
  .gitignore
  ui/public/dist/css/site.css
Due: none

fix: gitignore
  .gitignore
Due: none

version bumped: 0.27.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

add: secretlint
  .secretlintrc.json
  api/vendor/aws-cloudfront-cookie/README.md
  package-lock.json
  package.json
Due: none

add: sidebar button
  src/z_vendor/getto-css/preact/layout/app.ts
  ui/public/template/site.html
Due: test-ui

fix: icon
  src/auth/sign/nav/x_preact/nav.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/avail/x_preact/application_error.ts
  src/avail/x_preact/not_found.ts
  src/core/outline/load/x_preact/load_breadcrumb_list.ts
  src/core/outline/load/x_preact/load_menu.ts
  src/core/x_preact/design/icon.ts
  src/core/x_preact/design/table.ts
  src/docs/content/x_preact/helper.ts
Due: test-ui

fix: radio, checkbox
  src/auth/user/account/search/x_preact/columns.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/account/search/x_preact/table.ts
  src/core/season/input/x_preact/input.ts
  src/core/season/setup/action.ts
  src/core/season/setup/test.ts
  src/core/season/setup/x_preact/setup.ts
  src/core/x_preact/design/table.ts
  src/z_lib/ui/search/columns/x_preact/columns.ts
  src/z_lib/ui/search/offset/x_preact/offset.ts
  src/z_vendor/getto-application/board/input/x_preact/checkbox.ts
  src/z_vendor/getto-application/board/input/x_preact/file.ts
  src/z_vendor/getto-application/board/input/x_preact/radio.ts
  src/z_vendor/getto-application/board/input/x_preact/select.ts
  src/z_vendor/getto-css/preact/design/form.ts
  src/z_vendor/getto-css/preact/design/table.ts
Due: test-ui

fix: icon
  src/auth/user/account/search/api/x_logger/log.rs
  src/auth/user/account/search/x_preact/form.ts
Due: test-ui, test-api

fix: icon
  src/auth/ticket/check/x_preact/check_ticket.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/avail/version/find_next/x_preact/move_to_latest_version.ts
  src/avail/x_preact/application_error.ts
  src/avail/x_preact/not_found.ts
  src/core/outline/load/x_preact/load_breadcrumb_list.ts
  src/core/x_preact/design/icon.ts
  src/x_content/menu/docs_menu.ts
  src/x_content/menu/home_menu.ts
Due: test-ui

fix: search user
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/api/action.rs
  src/auth/user/account/search/api/infra.rs
  src/auth/user/account/search/api/init/request_decoder.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/infra.ts
  src/auth/user/account/search/init/mock.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/init/shell.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/account/search/x_protobuf/service.proto
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/login_id/input/action.ts
  src/auth/user/login_id/input/test.search.ts
  src/core/x_preact/design/table.ts
  src/z_lib/ui/search/convert.ts
  src/z_lib/ui/search/data.ts
  src/z_lib/ui/search/kernel/convert.ts
  src/z_lib/ui/search/kernel/data.ts
  src/z_lib/ui/search/offset/convert.ts
  src/z_lib/ui/search/sort/convert.ts
  src/z_lib/ui/search/sort/data.ts
  src/z_lib/ui/search/sort/helper.ts
  src/z_vendor/getto-application/board/kernel/convert.ts
  src/z_vendor/getto-application/board/observe_field/action.ts
  src/z_vendor/getto-application/board/observe_field/infra.ts
  src/z_vendor/getto-application/board/observe_field/init/observer.ts
  src/z_vendor/getto-table/preact/cell/simple.ts
Due: test-ui, test-api

fix: search
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/api/action.rs
  src/auth/user/account/search/api/data.rs
  src/auth/user/account/search/api/infra.rs
  src/auth/user/account/search/api/init/request_decoder.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/account/search/api/x_tonic/response.rs
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/search/x_protobuf/service.proto
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/z_lib/api/search/data.rs
  src/z_lib/ui/search/sort/convert.ts
Due: test-ui, test-api

fix: test
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/columns.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/account/search/x_preact/table.ts
  src/auth/user/login_id/input/test.search.ts
  src/auth/user/login_id/input/test.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/change/test.ts
  src/auth/user/password/input/test.ts
  src/auth/user/password/reset/request_token/test.profile.ts
  src/auth/user/password/reset/request_token/test.ts
  src/auth/user/password/reset/reset/test.ts
  src/core/season/input/test.ts
  src/core/season/setup/test.ts
  src/z_lib/ui/search/columns/action.ts
  src/z_lib/ui/search/columns/test.ts
  src/z_lib/ui/search/columns/x_preact/columns.ts
  src/z_lib/ui/search/columns/x_preact/helper.ts
  src/z_lib/ui/search/kernel/test.ts
  src/z_lib/ui/search/kernel/x_preact/helper.ts
  src/z_lib/ui/search/offset/test.ts
  src/z_lib/ui/search/sort/test.ts
  src/z_vendor/getto-application/board/input/test.ts
  src/z_vendor/getto-application/board/kernel/test_helper.ts
  src/z_vendor/getto-application/board/observe_field/test.ts
  src/z_vendor/getto-table/preact/cell/structure.ts
  src/z_vendor/getto-table/preact/core.ts
Due: test-ui

fix: search
  src/auth/sign/sign/action.ts
  src/auth/ticket/check/action.ts
  src/auth/ticket/logout/action.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/init/mock.ts
  src/auth/user/account/search/init/shell.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/login_id/input/action.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/reset/action.ts
  src/avail/version/find_next/action.ts
  src/core/outline/load/action.ts
  src/core/season/load/action.ts
  src/core/season/setup/action.ts
  src/core/season/setup/test.ts
  src/z_lib/ui/search/columns/action.ts
  src/z_vendor/getto-application/board/observe_board/action.ts
  src/z_vendor/getto-application/board/observe_field/action.ts
  src/z_vendor/getto-application/board/observe_field/infra.ts
  src/z_vendor/getto-application/board/observe_field/init/observer.ts
  src/z_vendor/getto-application/board/validate_board/action.ts
Due: test-ui

refactor: sign link
  src/auth/sign/nav/action.ts
  src/auth/sign/nav/test.ts
  src/auth/sign/sign/action.ts
  src/auth/sign/sign/init/resource.ts
  src/auth/sign/sign/init/worker/foreground.ts
  src/auth/sign/sign/test.ts
  src/auth/sign/sign/x_preact/privacy_policy.ts
  src/auth/sign/sign/x_preact/sign.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/x_main/public/auth/sign/entry.ts
  src/x_main/public/auth/sign/worker/foreground.ts
  src/z_vendor/getto-application/board/editable/action.ts
  src/z_vendor/getto-application/board/editable/test.ts
Due: test-ui

fix: nginx config
  ui/secure/nginx.conf.template
Due: none

fix: request token profile
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/request_token/init/resource.ts
  src/auth/user/password/reset/request_token/test.profile.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/x_main/secure/auth/profile/common.ts
  src/x_main/secure/auth/profile/entry.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/profile/resource.ts
  src/x_main/secure/auth/profile/worker/foreground.ts
  src/z_vendor/getto-application/board/editable/action.ts
  ui/secure/webpack.config.js
Due: test-ui

fix: change password editable
  src/auth/user/password/change/action.ts
  src/auth/user/password/change/init/resource.ts
  src/auth/user/password/change/test.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/x_main/secure/auth/profile/common.ts
  src/x_main/secure/auth/profile/entry.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/profile/resource.ts
  src/x_main/secure/auth/profile/worker/foreground.ts
Due: test-ui

fix: sidebar
  src/auth/user/account/manage/docs.ts
  src/auth/user/account/manage/init/resource.ts
  src/auth/user/account/manage/x_preact/manage.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/init/infra.ts
  src/auth/user/account/search/init/resource.ts
  src/auth/user/account/search/x_preact/columns.ts
  src/auth/user/account/search/x_preact/detail.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/list.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/search/x_preact/search.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/account/search/x_preact/table.ts
  src/core/x_preact/design/icon.ts
  src/core/x_preact/design/table.ts
  src/x_main/secure/auth/user/account/entry.ts
  src/x_main/secure/auth/user/account/page.ts
  ui/public/template/site.html
Due: test-ui

fix: default selected
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/core/season/input/action.ts
  src/core/season/input/test.ts
  src/core/season/input/x_preact/input.ts
  src/core/season/setup/action.ts
  src/core/season/setup/test.ts
  src/core/season/setup/x_preact/setup.ts
  src/z_lib/ui/search/columns/action.ts
  src/z_lib/ui/search/columns/test.ts
  src/z_lib/ui/search/columns/x_preact/columns.ts
  src/z_lib/ui/search/offset/x_preact/offset.ts
  src/z_vendor/getto-application/board/editable/action.ts
  src/z_vendor/getto-application/board/input/init/connector.ts
  src/z_vendor/getto-application/board/input/x_preact/checkbox.ts
  src/z_vendor/getto-application/board/input/x_preact/radio.ts
  src/z_vendor/getto-application/board/input/x_preact/select.ts
Due: test-ui

fix: focus detect / update
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/infra.ts
  src/auth/user/account/search/init/mock.ts
  src/auth/user/account/search/init/shell.ts
Due: test-ui

add: override password
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/x_preact/detail.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/change/data.ts
  src/auth/user/password/change/infra.ts
  src/auth/user/password/change/init/config.ts
  src/auth/user/password/change/init/infra.ts
  src/auth/user/password/change/init/override_remote.ts
  src/auth/user/password/change/init/resource.ts
  src/auth/user/password/change/x_preact/helper.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/change/x_protobuf/service.proto
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/core/x_preact/design/icon.ts
  src/x_main/secure/auth/user/account/entry.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/auth/user/account/resource.ts
  src/z_vendor/getto-application/board/validate_board/action.ts
  src/z_vendor/getto-application/board/validate_board/data.ts
Due: test-ui

fix: icon
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
Due: test-ui

fix: detect user
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/test.ts
Due: test-ui

add: test
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/test.ts
  src/auth/user/password/change/test.override.ts
Due: test-ui

move: x_protobuf
  src/z_lib/ui/search/columns/init/columns_repository.ts
  src/z_lib/ui/search/columns/x_protobuf/db.proto
Due: test-ui

add: sidebar fold/expand
  src/core/x_preact/design/icon.ts
  src/x_main/secure/auth/user/account/entry.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/auth/user/account/resource.ts
  src/z_lib/ui/search/sidebar/action.ts
  src/z_lib/ui/search/sidebar/convert.ts
  src/z_lib/ui/search/sidebar/data.ts
  src/z_lib/ui/search/sidebar/infra.ts
  src/z_lib/ui/search/sidebar/init/resource.ts
  src/z_lib/ui/search/sidebar/init/sidebar_repository.ts
  src/z_lib/ui/search/sidebar/test.ts
  src/z_lib/ui/search/sidebar/x_preact/helper.ts
  src/z_lib/ui/search/sidebar/x_preact/main_title.ts
  src/z_lib/ui/search/sidebar/x_protobuf/db.proto
  ui/setup/environment.js
Due: test-ui

fix: test
  src/x_main/secure/auth/user/account/page.ts
  src/z_lib/ui/search/sidebar/test.ts
Due: test-ui

fix: sidebar default state
  src/z_lib/ui/search/sidebar/action.ts
  src/z_lib/ui/search/sidebar/init/resource.ts
  src/z_lib/ui/search/sidebar/test.ts
Due: test-ui

add: sidebar scroll
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/x_preact/list.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/x_main/secure/auth/user/account/page.ts
  src/z_vendor/getto-css/preact/layout/app.ts
Due: test-ui

fix: scroll to focus
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/list.ts
  src/z_lib/ui/search/sidebar/x_preact/helper.ts
Due: test-ui
