Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

fix: state type
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/request_token/test.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
Due: test-ui

fix: state type
  src/avail/version/find_next/action.ts
  src/avail/version/find_next/test.ts
  src/avail/version/find_next/x_plain/move_to_next_version.ts
  src/avail/version/find_next/x_preact/move_to_latest_version.ts
Due: test-ui

fix: state type
  src/core/season/kernel/init/available_seasons.ts
  src/core/season/load/action.ts
  src/core/season/load/test.ts
  src/core/season/load/x_preact/load_season.ts
  src/core/season/load/x_preact/load_season_field.ts
  src/core/season/setup/action.ts
  src/core/season/setup/test.ts
  src/core/season/setup/x_preact/setup.ts
Due: test-ui

fix: state type
  src/auth/user/account/search/x_preact/columns.ts
  src/z_lib/ui/search/columns/action.ts
  src/z_lib/ui/search/columns/test.ts
  src/z_lib/ui/search/columns/x_preact/helper.ts
Due: test-ui

fix: state type
  src/z_lib/ui/search/sidebar/action.ts
  src/z_lib/ui/search/sidebar/test.ts
  src/z_lib/ui/search/sidebar/x_preact/helper.ts
  src/z_lib/ui/search/sidebar/x_preact/main_title.ts
Due: test-ui

remove: describe
  src/auth/sign/nav/test.ts
  src/auth/sign/sign/test.ts
  src/auth/ticket/check/test.ts
  src/auth/ticket/logout/test.ts
  src/auth/user/login_id/change/test.override.ts
  src/auth/user/login_id/input/test.search.ts
  src/auth/user/login_id/input/test.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/change/test.override.ts
  src/auth/user/password/change/test.ts
  src/auth/user/password/input/test.ts
  src/auth/user/password/reset/request_token/test.ts
  src/auth/user/password/reset/reset/test.ts
  src/avail/unexpected_error/notify/test.ts
  src/avail/version/find_next/test.ts
  src/core/outline/load/test.breadcrumb.ts
  src/core/outline/load/test.ts
  src/core/season/input/test.ts
  src/core/season/load/test.ts
  src/core/season/setup/test.ts
  src/z_lib/ui/progress/test.ts
  src/z_lib/ui/search/columns/test.ts
  src/z_lib/ui/search/kernel/test.ts
  src/z_lib/ui/search/offset/test.ts
  src/z_lib/ui/search/sidebar/test.ts
  src/z_lib/ui/search/sort/test.ts
  src/z_vendor/getto-application/board/editable/test.ts
  src/z_vendor/getto-application/board/input/test.file.ts
  src/z_vendor/getto-application/board/input/test.ts
  src/z_vendor/getto-application/board/observe_board/test.ts
  src/z_vendor/getto-application/board/validate_board/test.ts
  src/z_vendor/getto-application/board/validate_field/test.ts
Due: test-ui

fix: dynamodb table name
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb/ticket.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb/nonce.rs
Due: test-api

fix: docs
  src/auth/ticket/docs.ts
  src/auth/user/account/docs.ts
  src/auth/user/account/input/data.ts
  src/auth/user/login_id/docs.ts
  src/auth/user/login_id/input/data.ts
  src/auth/user/password/docs.ts
  src/docs/init.ts
  src/docs/init/resource.ts
  src/docs/resource.ts
  src/docs/x_preact/docs.ts
  src/x_content/menu/docs_menu.ts
  src/x_main/secure/docs/auth/entry.ts
  src/x_main/secure/entry_point.json
  src/z_vendor/getto-application/docs/data.ts
Due: test-ui

fix: docs
  src/auth/docs.ts
  src/auth/ticket/check/docs.ts
  src/auth/ticket/docs.ts
  src/auth/ticket/logout/docs.ts
  src/auth/user/account/modify/docs.ts
  src/auth/user/account/search/docs.ts
  src/auth/user/docs.ts
  src/auth/user/login_id/change/docs.ts
  src/auth/user/login_id/docs.ts
  src/auth/user/password/authenticate/docs.ts
  src/auth/user/password/change/docs.ts
  src/auth/user/password/docs.ts
  src/auth/user/password/reset/docs.ts
  src/auth/user/password/reset/request_token/docs.ts
  src/auth/user/password/reset/reset/docs.ts
  src/auth/user/password/reset/token_destination/change/docs.ts
  src/avail/docs.ts
  src/avail/unexpected_error/docs.ts
  src/avail/unexpected_error/notify/docs.ts
  src/avail/version/docs.ts
  src/avail/version/find_next/docs.ts
  src/core/docs.ts
  src/docs/docs.ts
  src/x_content/menu/docs_menu.ts
  src/x_main/secure/docs/auth/index/entry.ts
  src/x_main/secure/docs/auth/login_id/override/entry.ts
  src/x_main/secure/docs/auth/password/authenticate/entry.ts
  src/x_main/secure/docs/auth/password/change/entry.ts
  src/x_main/secure/docs/auth/password/override/entry.ts
  src/x_main/secure/docs/auth/password/reset/entry.ts
  src/x_main/secure/docs/auth/ticket/check/entry.ts
  src/x_main/secure/docs/auth/ticket/logout/entry.ts
  src/x_main/secure/docs/avail/entry.ts
  src/x_main/secure/docs/docs/entry.ts
  src/x_main/secure/docs/index/entry.ts
  src/x_main/secure/entry_point.json
Due: test-ui

fix: privacy policy
  src/auth/sign/sign/x_preact/privacy_policy.ts
  src/docs/content/init.ts
  src/docs/content/init/resource.ts
  src/docs/content/resource.ts
  src/docs/content/x_preact/domain.ts
  src/docs/content/x_preact/domain_detail.ts
  src/docs/content/x_preact/helper.ts
  src/docs/content/x_preact/usecase.ts
  src/docs/docs.ts
  src/x_content/privacy_policy.ts
  src/x_main/secure/docs/auth/entry.ts
  src/x_main/secure/docs/avail/entry.ts
  src/x_main/secure/docs/docs/entry.ts
  src/x_main/secure/docs/index/entry.ts
  src/x_main/secure/docs/privacy_policy/entry.ts
  src/z_vendor/getto-application/docs/data.ts
  src/z_vendor/getto-application/docs/helper.ts
Due: test-ui

fix: remove unused interface
  src/auth/user/account/search/api/data.rs
  src/auth/user/login_id/input/convert.ts
  src/auth/user/password/input/convert.ts
  src/z_vendor/getto-application/board/validate_field/action.ts
  src/z_vendor/getto-application/board/validate_field/infra.ts
Due: test-ui, test-api

fix: destination
  src/auth/user/account/search/api/x_tonic/response.rs
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/x_protobuf/service.proto
  src/auth/user/password/reset/token_destination/change/api/init/request_decoder.rs
  src/auth/user/password/reset/token_destination/change/x_protobuf/service.proto
  src/auth/user/password/reset/token_destination/input/action.ts
  src/auth/user/password/reset/token_destination/input/test.ts
  src/auth/user/password/reset/token_destination/kernel/api/mod.rs
  src/auth/user/password/reset/token_destination/kernel/api/x_tonic/mod.rs
  src/auth/user/password/reset/token_destination/kernel/api/x_tonic/response.rs
  src/auth/user/password/reset/token_destination/kernel/convert.ts
  src/auth/user/password/reset/token_destination/kernel/mod.rs
  src/auth/user/password/reset/token_destination/kernel/x_protobuf/service.proto
  src/auth/user/password/reset/token_destination/kernel/y_protobuf/mod.rs
  src/auth/user/password/reset/token_destination/mod.rs
Due: test-ui, test-api

refactor
  src/auth/user/kernel/api/init/user_repository/dynamodb.rs
  src/auth/user/kernel/api/init/user_repository/memory.rs
  src/z_lib/api/search/data.rs
Due: test-api

fix: modify user
  src/auth/user/account/modify/init/modify_remote.ts
  src/auth/user/kernel/api/init/user_repository/dynamodb/login_id.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb/user.rs
  src/auth/user/password/reset/token_destination/change/init/change_remote.ts
Due: test-ui, test-api

fix: permission
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/x_logger/log.rs
  src/auth/user/account/modify/api/x_tonic/response.rs
  src/auth/user/account/search/api/action.rs
  src/auth/user/kernel/api/data.rs
  src/auth/user/password/reset/token_destination/change/api/action.rs
  src/auth/user/password/reset/token_destination/change/api/x_logger/log.rs
  src/auth/user/password/reset/token_destination/change/api/x_tonic/response.rs
  src/x_content/menu/home_menu.ts
Due: test-ui, test-api

fix: test
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/search/x_preact/detail.ts
  src/auth/user/kernel/api/data.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
  src/x_content/role.rs
Due: test-ui, test-api

fix: validation-error
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/data.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/login_id/change/data.ts
  src/auth/user/login_id/change/test.override.ts
  src/auth/user/login_id/change/x_preact/helper.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/authenticate/data.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/change/data.ts
  src/auth/user/password/change/test.override.ts
  src/auth/user/password/change/test.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/helper.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/request_token/data.ts
  src/auth/user/password/reset/request_token/test.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/reset/data.ts
  src/auth/user/password/reset/reset/test.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/auth/user/password/reset/token_destination/change/action.ts
  src/auth/user/password/reset/token_destination/change/data.ts
  src/auth/user/password/reset/token_destination/change/test.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/z_vendor/getto-css/preact/layout/login.ts
Due: test-ui

fix: take longtime message
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/search/x_preact/columns.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/core/season/setup/x_preact/setup.ts
  src/core/x_preact/design/form.ts
  src/z_vendor/getto-css/preact/design/form.ts
Due: test-ui

add: search granted roles
  src/auth/user/account/input/action.ts
  src/auth/user/account/input/test.granted_roles_search.ts
  src/auth/user/account/input/x_preact/granted_roles.ts
  src/auth/user/account/input/x_preact/granted_roles_search.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/api/data.rs
  src/auth/user/account/search/api/init/request_decoder.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/account/search/x_protobuf/service.proto
  src/auth/user/kernel/api/convert.rs
  src/auth/user/kernel/api/data.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb.rs
  src/auth/user/kernel/api/init/user_repository/memory.rs
  src/x_content/role.rs
Due: test-ui, test-api

fix: x_content
  src/x_content/api/mail.rs
  src/x_content/api/metadata.rs
  src/x_content/api/mod.rs
  src/x_content/api/role.rs
  src/x_content/mod.rs
  src/z_vendor/getto-application/board/kernel/data.ts
Due: test-ui, test-api

refactor: mock available seasons
  src/core/season/kernel/init/all_seasons.ts
  src/core/season/kernel/init/current_season.ts
  src/core/season/load/action.ts
  src/core/season/load/init/resource.ts
  src/core/season/load/test.ts
  src/core/season/setup/action.ts
  src/core/season/setup/init/infra.ts
  src/core/season/setup/test.ts
Due: test-ui

refactor: season editable
  src/core/season/setup/action.ts
  src/core/season/setup/test.ts
  src/core/season/setup/x_preact/setup.ts
  src/x_main/secure/season/setup/entry.ts
  src/x_main/secure/season/setup/resource.ts
Due: test-ui

fix: comment
  src/core/season/setup/x_preact/setup.ts
Due: test-ui

add: unregister auth user
  src/auth/user/account/mod.rs
  src/auth/user/account/register/api/proxy/init.rs
  src/auth/user/account/register/api/proxy/init/register.rs
  src/auth/user/account/unregister/api/action.rs
  src/auth/user/account/unregister/api/data.rs
  src/auth/user/account/unregister/api/infra.rs
  src/auth/user/account/unregister/api/init.rs
  src/auth/user/account/unregister/api/init/request_decoder.rs
  src/auth/user/account/unregister/api/proxy/init.rs
  src/auth/user/account/unregister/api/proxy/init/unregister.rs
  src/auth/user/account/unregister/api/test.rs
  src/auth/user/account/unregister/api/x_actix_web/route.rs
  src/auth/user/account/unregister/api/x_logger/log.rs
  src/auth/user/account/unregister/api/x_tonic/response.rs
  src/auth/user/account/unregister/api/x_tonic/route.rs
  src/auth/user/account/unregister/data.ts
  src/auth/user/account/unregister/init/unregister_remote.ts
  src/auth/user/account/unregister/x_preact/unregister.ts
  src/auth/user/account/unregister/x_protobuf/service.proto
  src/auth/user/account/x_actix_web/route.rs
  src/auth/user/account/x_tonic/route.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb/user.rs
  src/auth/user/kernel/api/init/user_repository/memory.rs
  src/auth/user/kernel/api/init/user_repository/memory/user.rs
  src/x_main/auth/main.rs
Due: test-ui, test-api

fix: discard all ticket when unregister user
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb.rs
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb/ticket.rs
  src/auth/ticket/kernel/api/init/ticket_repository/memory.rs
  src/auth/ticket/kernel/api/init/ticket_repository/memory/ticket.rs
  src/auth/user/account/register/action.ts
  src/auth/user/account/register/x_preact/register.ts
  src/auth/user/account/unregister/api/action.rs
  src/auth/user/account/unregister/api/infra.rs
  src/auth/user/account/unregister/api/init.rs
  src/auth/user/account/unregister/api/test.rs
  src/auth/user/kernel/api/data.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb/login_id.rs
  src/auth/user/kernel/api/init/user_repository/memory.rs
Due: test-ui, test-api

fix: docs
  src/auth/user/account/docs.ts
Due: test-ui

add: auth user memo
  src/auth/ticket/kernel/convert.ts
  src/auth/user/account/input/granted_roles/action.ts
  src/auth/user/account/input/granted_roles/convert.ts
  src/auth/user/account/input/granted_roles/test.search.ts
  src/auth/user/account/input/granted_roles/test.ts
  src/auth/user/account/input/granted_roles/x_preact/input.ts
  src/auth/user/account/input/granted_roles/x_preact/search.ts
  src/auth/user/account/input/memo/action.ts
  src/auth/user/account/input/memo/convert.ts
  src/auth/user/account/input/memo/data.ts
  src/auth/user/account/input/memo/test.ts
  src/auth/user/account/input/memo/x_preact/input.ts
  src/auth/user/account/kernel/data.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/data.ts
  src/auth/user/account/modify/infra.ts
  src/auth/user/account/modify/init/modify_remote.ts
  src/auth/user/account/modify/test.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/modify/x_protobuf/service.proto
  src/auth/user/account/register/action.ts
  src/auth/user/account/register/test.ts
  src/auth/user/account/register/x_preact/register.ts
  src/auth/user/account/register/x_preact/structure.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/z_vendor/getto-application/board/kernel/infra.ts
  src/z_vendor/getto-application/board/validate_field/data.ts
  src/z_vendor/getto-application/board/validate_field/infra.ts
Due: test-ui

fix: test
  src/auth/user/account/input/granted_roles/action.ts
  src/auth/user/account/input/granted_roles/test.ts
  src/auth/user/account/input/granted_roles/x_preact/input.ts
  src/auth/user/account/input/memo/test.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/test.ts
  src/auth/user/account/register/action.ts
  src/auth/user/account/register/test.ts
  src/auth/user/account/search/test.ts
Due: test-ui

fix: fields
  src/auth/user/account/input/granted_roles/x_preact/input.ts
  src/auth/user/account/input/memo/action.ts
  src/auth/user/account/input/memo/convert.ts
  src/auth/user/account/input/memo/data.ts
  src/auth/user/account/input/memo/x_preact/input.ts
  src/auth/user/login_id/input/action.ts
  src/auth/user/login_id/input/convert.ts
  src/auth/user/login_id/input/data.ts
  src/auth/user/login_id/input/x_preact/input.ts
  src/auth/user/password/input/action.ts
  src/auth/user/password/input/convert.ts
  src/auth/user/password/input/data.ts
  src/auth/user/password/input/x_preact/input.ts
  src/auth/user/password/reset/token_destination/input/action.ts
  src/auth/user/password/reset/token_destination/input/data.ts
  src/auth/user/password/reset/token_destination/input/test.ts
  src/auth/user/password/reset/token_destination/input/x_preact/destination.ts
  src/auth/user/password/reset/token_destination/kernel/convert.ts
  src/auth/user/password/reset/token_destination/kernel/data.ts
  src/z_lib/ui/validate/data.ts
  src/z_lib/ui/validate/helper.ts
  src/z_lib/ui/validate/infra.ts
  src/z_lib/ui/validate/text.ts
  src/z_lib/ui/validate/x_plain/error.ts
  src/z_vendor/getto-application/board/validate_field/data.ts
  src/z_vendor/getto-application/board/validate_field/test.ts
  src/z_vendor/getto-css/preact/design/form.ts
Due: test-ui

fix: validate
  src/auth/user/account/modify/api/init/request_decoder.rs
  src/auth/user/account/register/api/init/request_decoder.rs
  src/auth/user/account/search/api/data.rs
  src/auth/user/account/unregister/api/init/request_decoder.rs
  src/auth/user/login_id/change/api/convert.rs
  src/auth/user/login_id/kernel/api/convert.rs
  src/auth/user/login_id/kernel/api/data.rs
  src/auth/user/login_id/kernel/api/x_logger/log.rs
  src/auth/user/password/authenticate/api/convert.rs
  src/auth/user/password/change/api/convert.rs
  src/auth/user/password/reset/request_token/api/convert.rs
  src/auth/user/password/reset/reset/api/convert.rs
  src/auth/user/password/reset/token_destination/change/api/init/request_decoder.rs
  src/z_lib/api/mod.rs
  src/z_lib/api/validate/data.rs
  src/z_lib/api/validate/mod.rs
  src/z_lib/api/validate/text.rs
  src/z_lib/api/validate/x_logger/log.rs
  src/z_lib/api/validate/x_logger/mod.rs
Due: test-api

fix: test
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/login_id/kernel/api/data.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/api/test.rs
Due: test-api

fix: validate
  src/auth/user/login_id/kernel/api/convert.rs
  src/auth/user/password/authenticate/api/convert.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/convert.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/change/api/test_override.rs
  src/auth/user/password/kernel/convert.rs
  src/auth/user/password/kernel/data.rs
  src/auth/user/password/kernel/infra.rs
  src/auth/user/password/kernel/init/password_hasher.rs
  src/auth/user/password/kernel/init/password_matcher.rs
  src/auth/user/password/kernel/x_logger/log.rs
  src/auth/user/password/reset/reset/api/convert.rs
  src/auth/user/password/reset/reset/api/test.rs
Due: test-api
