Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate, test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

Path conditions:
  migrate: any of: api/app/*/VERSION
  test-ui: any of: src/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-proxy: any of: api/app/proxy/VERSION
  release_build-proxy: any of: api/app/proxy/VERSION
  release_deploy-proxy: any of: api/app/proxy/VERSION
  release_success-proxy: any of: api/app/proxy/VERSION
  release_failure-proxy: any of: api/app/proxy/VERSION
  release-auth: any of: api/app/auth/VERSION
  release_build-auth: any of: api/app/auth/VERSION
  release_deploy-auth: any of: api/app/auth/VERSION
  release_success-auth: any of: api/app/auth/VERSION
  release_failure-auth: any of: api/app/auth/VERSION
  release-example: any of: api/app/core/VERSION
  release_build-example: any of: api/app/core/VERSION
  release_deploy-example: any of: api/app/core/VERSION
  release_success-example: any of: api/app/core/VERSION
  release_failure-example: any of: api/app/core/VERSION

refactor: component
  src/auth/user/account/search/x_preact/form.ts
Due: test-ui

refactor: component
  src/common/outline/load/action.ts
  src/common/outline/load/infra.ts
  src/common/outline/load/init/config.ts
  src/common/outline/load/init/infra.ts
  src/common/outline/load/init/menu_badge_remote.ts
  src/common/outline/load/init/mock.ts
  src/common/outline/load/init/resource.ts
  src/common/outline/load/init/shell.ts
  src/common/outline/load/test.ts
  src/common/outline/load/x_preact/load_menu.ts
  src/docs/init/resource.ts
  src/docs/resource.ts
  src/docs/x_preact/docs.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/ticket/logout/page.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/auth/user/register/page.ts
  src/x_main/secure/base/init/resource.ts
  src/x_main/secure/base/resource.ts
  src/x_main/secure/index/page.ts
  src/x_main/secure/season/setup/page.ts
Due: test-ui

refactor: component
  src/common/outline/load/action.ts
  src/common/outline/load/infra.ts
  src/common/outline/load/init/infra.ts
  src/common/outline/load/init/menu_badge_remote.ts
  src/common/outline/load/test.ts
Due: test-ui

refactor: component
  src/common/outline/load/x_preact/load_breadcrumb_list.ts
  src/common/outline/load/x_preact/outline_menu.ts
  src/docs/x_preact/docs.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/ticket/logout/page.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/auth/user/register/page.ts
  src/x_main/secure/index/page.ts
  src/x_main/secure/season/setup/page.ts
Due: test-ui

refactor: component
  src/common/outline/load/x_preact/display_menu.ts
  src/common/outline/load/x_preact/load_breadcrumb_list.ts
  src/docs/x_preact/docs.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/ticket/logout/page.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/auth/user/register/page.ts
  src/x_main/secure/index/page.ts
  src/x_main/secure/season/setup/page.ts
Due: test-ui

refactor: breadcrumb list
  src/common/outline/load/action.ts
  src/common/outline/load/init/config.ts
  src/common/outline/load/init/mock.ts
  src/common/outline/load/init/resource.ts
  src/common/outline/load/init/shell.ts
  src/common/outline/load/test.breadcrumb.ts
  src/common/outline/load/x_preact/display_breadcrumb_list.ts
  src/docs/init/resource.ts
  src/docs/resource.ts
  src/docs/x_preact/docs.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/ticket/logout/page.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/auth/user/register/page.ts
  src/x_main/secure/base/init/resource.ts
  src/x_main/secure/base/resource.ts
  src/x_main/secure/index/page.ts
  src/x_main/secure/season/setup/page.ts
Due: test-ui

refactor: display season
  src/common/outline/load/x_preact/display_breadcrumb_list.ts
  src/core/season/load/x_preact/display_season.ts
  src/core/season/load/x_preact/display_season_field.ts
  src/x_content/x_preact/dashboard.ts
  src/x_main/secure/index/page.ts
  src/x_main/secure/season/setup/page.ts
Due: test-ui

refactor: breadcrumb list state
  src/common/outline/load/action.ts
  src/common/outline/load/test.breadcrumb.ts
  src/common/outline/load/x_preact/display_breadcrumb_list.ts
Due: test-ui

refactor
  src/auth/user/account/search/convert.ts
  src/z_vendor/getto-table/preact/decorator/align.ts
  src/z_vendor/getto-table/preact/decorator/border.ts
Due: test-ui

fix: scroll
  src/auth/user/account/register/x_preact/structure.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/common/x_preact/design/table.ts
  src/x_content/icon.ts
  src/z_lib/ui/list/action.ts
  src/z_lib/ui/list/test.registered.ts
  src/z_lib/ui/list/test.searched.ts
  src/z_lib/ui/list/test.ts
  ui/public/root/index.html
  ui/public/root/not_found.html
  ui/public/template/site.html
Due: test-ui

fix: register focus edit link
  src/auth/user/account/register/x_preact/structure.ts
Due: test-ui

fix: dockerfile
  api/app/base/Dockerfile
  api/app/test/Dockerfile
Due: none

fix: test
  src/common/mod.rs
Due: test-api

version bumped: 1.2.0-auth
  api/app/auth/VERSION
Due: migrate, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth

version bumped: 1.2.0-core
  api/app/core/VERSION
Due: migrate, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

version bumped: 1.2.0-proxy
  Cargo.toml
  api/app/proxy/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application-test/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: migrate, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy

version bumped: 1.3.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: test
  Cargo.lock
  src/common/mod.rs
Due: test-api

fix: type alias
  src/auth/ticket/authenticate/api/x_tonic/request.rs
  src/auth/ticket/authorize/x_tonic/request.rs
  src/auth/ticket/kernel/api/x_actix_web/request.rs
  src/auth/ticket/kernel/api/x_tonic/request.rs
  src/auth/user/account/kernel/api/x_tonic/request.rs
  src/auth/user/account/modify/api/x_tonic/request.rs
  src/auth/user/password/reset/kernel/x_tonic/request.rs
  src/auth/user/password/reset/token_destination/change/api/x_tonic/request.rs
Due: test-api

merge: updates
  .gitlab-ci.yml
Due: none

merge: updates
  api/ci/check-coverage.sh
  src/common/util/board/filter/test.ts
  src/core/season/kernel/convert.ts
Due: test-ui

version bumped: 1.3.0-proxy
  Cargo.toml
  api/app/proxy/VERSION
Due: migrate, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy

version bumped: 1.3.0-auth
  api/app/auth/VERSION
Due: migrate, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth

version bumped: 1.3.0-core
  api/app/core/VERSION
Due: migrate, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

version bumped: 1.4.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui
