Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

refactor
  .gitlab-ci.yml
  api/ci/test.sh
  src/auth/proxy/action.rs
  src/core/base/init.ts
  src/core/base/init/resource.ts
  src/core/base/resource.ts
  src/core/dashboard/init.ts
  src/core/dashboard/init/resource.ts
  src/core/dashboard/resource.ts
  src/core/dashboard/x_preact/dashboard.ts
  src/x_main/secure/auth/profile/common.ts
  src/x_main/secure/auth/profile/entry.ts
  src/x_main/secure/auth/profile/resource.ts
  src/x_main/secure/auth/profile/worker/foreground.ts
  src/x_main/secure/auth/ticket/logout/resource.ts
  src/x_main/secure/auth/user/account/common.ts
  src/x_main/secure/auth/user/account/entry.ts
  src/x_main/secure/auth/user/account/resource.ts
  src/x_main/secure/core/season/setup/entry.ts
  src/x_main/secure/core/season/setup/resource.ts
  src/x_main/secure/index/entry.ts
Due: test-ui, test-api

fix: gitlab ci
  api/ci/prepare-sqlx.js
  api/ci/prepare-sqlx.sh
  api/ci/setup-test.sh
Due: none

fix: setup test
  api/ci/setup-test.sh
Due: none

fix: test
  .gitlab-ci.yml
  api/ci/setup-test.sh
  api/ci/test.sh
  src/auth/ticket/check/init/check_remote.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/password/authenticate/init/authenticate_remote.ts
  src/auth/user/password/reset/reset/init/reset_remote.ts
  src/x_content/menu/docs_menu.ts
Due: test-ui

fix: test
  .gitlab-ci.yml
  api/ci/test.sh
  src/auth/proxy/action.rs
Due: test-api

refactor: x_content
  src/auth/proxy/method.rs
  src/auth/proxy/x_actix_web/response.rs
  src/auth/ticket/check/api/x_tonic/route.rs
  src/auth/ticket/kernel/api/x_actix_web/mod.rs
  src/auth/ticket/kernel/api/x_actix_web/response.rs
  src/auth/ticket/kernel/api/x_tonic/metadata.rs
  src/auth/ticket/kernel/api/x_tonic/mod.rs
  src/auth/ticket/logout/api/x_tonic/route.rs
  src/auth/ticket/validate/init/auth_metadata.rs
  src/auth/ticket/validate/init/nonce_metadata.rs
  src/auth/ticket/validate/init/token_metadata.rs
  src/auth/ticket/validate/x_tonic/route.rs
  src/auth/user/account/search/api/x_tonic/route.rs
  src/auth/user/password/authenticate/api/x_tonic/route.rs
  src/auth/user/password/change/api/x_tonic/route.rs
  src/auth/user/password/reset/request_token/api/x_tonic/route.rs
  src/auth/user/password/reset/reset/api/x_tonic/route.rs
  src/avail/unexpected_error/notify/api/x_tonic/route.rs
  src/core/docs.ts
  src/core/outline/load/api/x_tonic/route.rs
  src/core/season/setup/init/config.ts
  src/core/x_outside_feature/config.ts
  src/x_content/metadata.rs
  src/x_content/mod.rs
  src/x_main/secure/docs/index/entry.ts
  src/x_outside_feature/api/common/helper.rs
  src/x_outside_feature/api/common/mod.rs
Due: test-ui, test-api

refactor
  src/auth/proxy/helper.rs
  src/auth/proxy/method.rs
  src/auth/proxy/mod.rs
  src/auth/ticket/check/api/proxy/init/proxy_service.rs
  src/auth/ticket/logout/api/proxy/init/proxy_service.rs
  src/auth/ticket/validate/init/validate_service.rs
  src/auth/user/account/search/api/proxy/init/proxy_service.rs
  src/auth/user/password/authenticate/api/proxy/init/proxy_service.rs
  src/auth/user/password/change/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/request_token/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/api/proxy/init/proxy_service.rs
  src/avail/unexpected_error/notify/api/proxy/init/proxy_service.rs
  src/core/outline/load/api/proxy/init/proxy_service.rs
Due: test-api

refactor
  .envrc
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/avail/unexpected_error/notify/api/action.rs
  src/avail/unexpected_error/notify/api/x_logger/log.rs
  src/avail/unexpected_error/notify/api/x_tonic/response.rs
  src/core/outline/load/api/action.rs
  src/core/outline/load/api/x_logger/log.rs
  src/core/outline/load/api/x_tonic/response.rs
  src/x_main/secure/core/season/setup/page.ts
  src/x_main/secure/core/season/setup/resource.ts
  src/x_main/secure/season/setup/entry.ts
  src/x_main/secure/season/setup/page.ts
  src/x_main/secure/season/setup/resource.ts
  ui/setup/env/entry_point.js
Due: test-ui, test-api

refactor
  src/x_content/menu/home_menu.ts
  src/z_lib/ui/progress/data.ts
  src/z_lib/ui/progress/helper.ts
  src/z_vendor/getto-application/board/kernel/convert.ts
Due: test-ui

fix: test
  src/z_lib/ui/progress/test.ts
Due: test-ui

fix: background
  src/auth/sign/sign/init/worker/background.ts
  src/x_main/secure/auth/profile/worker/background.ts
Due: test-ui

refactor
  src/auth/ticket/kernel/data.ts
  src/auth/ticket/kernel/init/ticket_repository.ts
  src/core/docs.ts
  src/z_vendor/getto-application/board/input/x_preact/radio.ts
  src/z_vendor/getto-application/board/input/x_preact/textarea.ts
  src/z_vendor/getto-css/preact/design/form.ts
  ui/setup/environment.js
Due: test-ui

update: packages
  Cargo.lock
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/aws-cloudfront-cookie/src/helper.rs
  api/vendor/aws-cloudfront-cookie/src/sign.rs
  api/vendor/getto-application-test/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: test-api

update: package
  Cargo.lock
  api/vendor/aws-cloudfront-cookie/Cargo.toml
Due: none

version bumped: 0.6.0-core
  api/app/core/VERSION
Due: none

move: x_protobuf
  api/setup/build.rs
  api/setup/grpc.rs
  src/auth/ticket/check/x_protobuf/service.proto
  src/auth/ticket/logout/x_protobuf/service.proto
  src/auth/ticket/validate/x_protobuf/service.proto
  src/auth/ticket/x_protobuf/db.proto
  src/auth/ticket/x_protobuf/service.proto
  src/auth/user/account/search/x_protobuf/service.proto
  src/auth/user/account/x_protobuf/service.proto
  src/auth/user/password/authenticate/x_protobuf/service.proto
  src/auth/user/password/change/x_protobuf/service.proto
  src/auth/user/password/reset/request_token/x_protobuf/service.proto
  src/auth/user/password/reset/reset/x_protobuf/service.proto
  src/auth/user/x_protobuf/service.proto
  src/avail/unexpected_error/notify/x_protobuf/service.proto
  src/core/outline/load/x_protobuf/service.proto
  src/core/outline/x_protobuf/db.proto
  src/core/season/x_protobuf/db.proto
  src/z_lib/ui/search/x_protobuf/db.proto
Due: none

move: x_prisma
  api/ci/migrate.sh
  src/auth/x_prisma/migrations/20210704001311_add_user_and_ticket/migration.sql
  src/auth/x_prisma/migrations/20210704093330_add_ticket_discarded/migration.sql
  src/auth/x_prisma/migrations/20210704114808_add_user_granted_role/migration.sql
  src/auth/x_prisma/migrations/20210704123104_add_user_password_reset_token_destination/migration.sql
  src/auth/x_prisma/migrations/20210704125918_add_user_password/migration.sql
  src/auth/x_prisma/migrations/20210706114348_change_ticket_discard_id/migration.sql
  src/auth/x_prisma/migrations/20210706120000_insert_admin_user/migration.sql
  src/auth/x_prisma/migrations/20211002131552_add_user_password_reset_token_registered_destination/migration.sql
  src/auth/x_prisma/migrations/migration_lock.toml
  src/auth/x_prisma/schema.prisma
Due: none

refactor: infra error
  src/auth/proxy/helper.rs
  src/auth/ticket/check/api/proxy/init/proxy_service.rs
  src/auth/ticket/encode/init/token_encoder.rs
  src/auth/ticket/logout/api/proxy/init/proxy_service.rs
  src/auth/ticket/validate/init/validate_service.rs
  src/auth/user/account/search/api/proxy/init/proxy_service.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/password/authenticate/api/proxy/init/proxy_service.rs
  src/auth/user/password/change/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/request_token/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/api/proxy/init/proxy_service.rs
  src/avail/unexpected_error/notify/api/proxy/init/proxy_service.rs
  src/core/outline/load/api/proxy/init/proxy_service.rs
  src/z_lib/api/repository/dynamodb/helper.rs
  src/z_lib/api/repository/mod.rs
  src/z_lib/api/repository/mysql/helper.rs
  src/z_lib/api/repository/mysql/mod.rs
  src/z_lib/api/service/helper.rs
  src/z_lib/api/service/init/authorizer.rs
Due: test-api

refactor: infra error
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb.rs
  src/auth/ticket/kernel/api/init/ticket_repository/memory.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/z_lib/api/repository/helper.rs
Due: test-api

add: dynamodb helper
  src/z_lib/api/repository/dynamodb/helper.rs
Due: test-api

refactor: auth token
  src/auth/proxy/x_tonic/response.rs
  src/auth/ticket/check/api/action.rs
  src/auth/ticket/check/api/x_tonic/response.rs
  src/auth/ticket/issue/x_tonic/response.rs
  src/auth/ticket/logout/api/action.rs
  src/auth/ticket/logout/api/x_tonic/response.rs
  src/auth/ticket/validate/action.rs
  src/auth/ticket/validate/method.rs
  src/auth/ticket/validate/x_logger/log.rs
  src/auth/ticket/validate/x_tonic/response.rs
  src/auth/user/account/search/api/action.rs
  src/auth/user/account/search/api/x_logger/log.rs
  src/auth/user/account/search/api/x_tonic/response.rs
  src/auth/user/password/authenticate/api/x_tonic/response.rs
  src/auth/user/password/change/api/action.rs
  src/auth/user/password/change/api/x_tonic/response.rs
  src/auth/user/password/reset/request_token/api/x_tonic/response.rs
  src/auth/user/password/reset/reset/api/x_tonic/response.rs
  src/avail/unexpected_error/notify/api/x_tonic/response.rs
  src/core/outline/load/api/x_tonic/response.rs
  src/z_lib/api/message/mod.rs
  src/z_lib/api/message/x_tonic/mod.rs
  src/z_lib/api/message/x_tonic/response.rs
Due: test-api

fix: test
  src/auth/ticket/validate/test.rs
Due: test-api

fix: docs
  src/x_content/menu/docs_menu.ts
Due: test-ui

fix: todo
  src/auth/ticket/kernel/api/x_actix_web/response.rs
  src/auth/ticket/validate/method.rs
  ui/setup/env/entry_point.js
Due: test-api

add: file input
  src/auth/ticket/kernel/api/x_actix_web/response.rs
  src/auth/ticket/validate/method.rs
  src/auth/user/account/search/test.ts
  src/auth/user/login_id/input/test.search.ts
  src/auth/user/login_id/input/test.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/change/test.ts
  src/auth/user/password/input/test.ts
  src/auth/user/password/reset/request_token/test.profile.ts
  src/auth/user/password/reset/request_token/test.ts
  src/auth/user/password/reset/reset/test.ts
  src/core/season/input/test.ts
  src/core/season/setup/test.ts
  src/z_lib/ui/search/columns/test.ts
  src/z_lib/ui/search/offset/test.ts
  src/z_vendor/getto-application/board/input/action.ts
  src/z_vendor/getto-application/board/input/infra.ts
  src/z_vendor/getto-application/board/input/init/connector.ts
  src/z_vendor/getto-application/board/input/init/multiple_connector.ts
  src/z_vendor/getto-application/board/input/test.file.ts
  src/z_vendor/getto-application/board/input/test_helper.ts
  src/z_vendor/getto-application/board/input/x_preact/file.ts
  src/z_vendor/getto-application/board/observe_field/test.ts
Due: test-ui, test-api

fix: file attr
  src/z_vendor/getto-application/board/input/x_preact/file.ts
Due: test-ui

fix: comment
  src/auth/ticket/kernel/api/x_actix_web/response.rs
  src/auth/ticket/validate/method.rs
Due: test-api

fix: select component default value
  src/auth/user/account/search/x_preact/pager.ts
  src/core/season/input/x_preact/input.ts
  src/core/season/setup/x_preact/setup.ts
  src/z_lib/ui/search/offset/x_preact/offset.ts
  src/z_vendor/getto-application/board/input/x_preact/select.ts
Due: test-ui

fix: beginning of season
  src/core/season/kernel/init/available_seasons.ts
  src/x_content/season.ts
Due: test-ui

fix: beginning of system
  src/core/season/kernel/init/available_seasons.ts
  src/x_content/season.ts
Due: test-ui

fix: google authorizer store
  src/auth/ticket/check/api/proxy/init/proxy_service.rs
  src/auth/ticket/logout/api/proxy/init/proxy_service.rs
  src/auth/ticket/validate/init.rs
  src/auth/ticket/validate/init/validate_service.rs
  src/auth/user/account/search/api/proxy/init/proxy_service.rs
  src/auth/user/password/authenticate/api/proxy/init/proxy_service.rs
  src/auth/user/password/change/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/request_token/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/api/proxy/init/proxy_service.rs
  src/auth/x_outside_feature/api/feature.rs
  src/avail/unexpected_error/notify/api/proxy/init/proxy_service.rs
  src/core/outline/load/api/proxy/init/proxy_service.rs
  src/core/x_outside_feature/api/feature.rs
  src/x_outside_feature/api/core/feature.rs
  src/x_outside_feature/api/proxy/feature.rs
  src/z_lib/api/service/init/authorizer.rs
  src/z_lib/api/service/mod.rs
  src/z_lib/api/service/x_outside_feature/feature.rs
  src/z_lib/api/service/x_outside_feature/mod.rs
Due: test-api

version bumped: 0.49.0-proxy
  api/app/proxy/VERSION
Due: none

version bumped: 0.7.0-core
  api/app/core/VERSION
Due: none

update: bullseye
  .docker-wrapper.sh
  .gitlab-ci.yml
  api/app/auth/Dockerfile
  api/app/core/Dockerfile
  api/app/proxy/Dockerfile
Due: none

version bumped: 0.49.1-proxy
  api/app/proxy/VERSION
Due: none

version bumped: 0.7.1-core
  api/app/core/VERSION
Due: none

version bumped: 0.9.0-auth
  api/app/auth/VERSION
Due: none
