Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

refactor
  Cargo.toml
  main/api/main.rs
  main/auth/main.rs
  main/example/main.rs
  main/ui/public/auth/sign/background.ts
  main/ui/public/auth/sign/foreground.ts
  main/ui/public/avail/not_found/foreground.ts
  main/ui/public/avail/version/move_to_latest/foreground.ts
  main/ui/public/avail/version/move_to_next/foreground.ts
  main/ui/secure/auth/profile/foreground.ts
  main/ui/secure/auth/profile/page.stories.ts
  main/ui/secure/auth/profile/page.ts
  main/ui/secure/auth/profile/resource.ts
  main/ui/secure/auth/ticket/logout/foreground.ts
  main/ui/secure/auth/ticket/logout/page.stories.ts
  main/ui/secure/auth/ticket/logout/page.ts
  main/ui/secure/auth/ticket/logout/resource.ts
  main/ui/secure/docs/auth/auth_ticket/check/foreground.ts
  main/ui/secure/docs/auth/index/foreground.ts
  main/ui/secure/docs/auth/logout/foreground.ts
  main/ui/secure/docs/auth/password/authenticate/foreground.ts
  main/ui/secure/docs/auth/password/reset/foreground.ts
  main/ui/secure/docs/avail/foreground.ts
  main/ui/secure/docs/index/foreground.ts
  main/ui/secure/docs/privacy_policy/foreground.ts
  main/ui/secure/docs/z_dev/auth/sign/foreground.ts
  main/ui/secure/index/foreground.ts
  ui/env/entry_point.js
Due: none

refactor
  .envrc
  .gitlab-ci.yml
  api/app/api/Dockerfile
  api/app/auth/Dockerfile
  api/app/example/Dockerfile
  api/setup/build.rs
  api/setup/grpc.rs
  api/setup/protobuf.rs
Due: none

refactor
  api/setup/environment.rs
  main/api/main.rs
  src/auth/sign/get_script_path/init.ts
  src/auth/ticket/kernel/init/remote/renew.ts
  src/auth/ticket/kernel/init/repository/authn.ts
  src/auth/ticket/kernel/init/repository/authz.ts
  src/auth/ticket/logout/init/logout.ts
  src/auth/user/password/authenticate/init/remote/authenticate.ts
  src/auth/user/password/change/init/remote/change.ts
  src/auth/user/password/reset/request_token/init/remote/request_token.ts
  src/auth/user/password/reset/reset/init/remote/reset.ts
  src/avail/unexpected_error/notify/init/remote/notify.ts
  src/avail/version/find_next/init.ts
  src/avail/x_preact/application_error.ts
  src/avail/x_preact/not_found.ts
  src/example/load_season/init/repository/season.ts
  src/example/outline/kernel/init.ts
  src/example/outline/kernel/init/common.ts
  src/example/outline/kernel/init/docs.ts
  src/example/outline/kernel/init/home.ts
  src/example/outline/kernel/init/remote/get_menu_badge/fetch.ts
  src/example/outline/load_breadcrumb_list/init.ts
  src/example/outline/load_menu/init.ts
  src/example/outline/toggle_menu_expand/init.ts
  src/example/outline/update_menu_badge/init.ts
  src/y_environment/_api/.keep
  src/y_environment/_api/mod.rs
  src/y_environment/_ui/.keep
  src/y_environment/mod.rs
  ui/setup/environment.js
Due: test-ui, test-api

refactor
  src/y_environment/remote/mod.rs
Due: test-api

refactor
  src/y_environment/ui/.keep
Due: none

refactor: api protobuf
  src/auth/ticket/kernel/init/remote/renew.ts
  src/auth/ticket/remote/proxy_renew/init/response_encoder.rs
  src/auth/ticket/z_protobuf/api.proto
  src/auth/user/password/authenticate/init.ts
  src/auth/user/password/authenticate/init/remote.ts
  src/auth/user/password/change/init.ts
  src/auth/user/password/change/init/remote.ts
  src/auth/user/password/remote/proxy_authenticate/init/request_decoder.rs
  src/auth/user/password/remote/proxy_authenticate/init/response_encoder.rs
  src/auth/user/password/remote/proxy_change/init/request_decoder.rs
  src/auth/user/password/remote/proxy_change/init/response_encoder.rs
  src/auth/user/password/reset/remote/proxy_request_token/init/request_decoder.rs
  src/auth/user/password/reset/remote/proxy_request_token/init/response_encoder.rs
  src/auth/user/password/reset/remote/proxy_reset/init/request_decoder.rs
  src/auth/user/password/reset/remote/proxy_reset/init/response_encoder.rs
  src/auth/user/password/reset/remote/proxy_reset/x_tonic/response.rs
  src/auth/user/password/reset/request_token/init.ts
  src/auth/user/password/reset/request_token/init/remote.ts
  src/auth/user/password/reset/reset/init.ts
  src/auth/user/password/reset/reset/init/remote.ts
  src/auth/user/password/reset/z_protobuf/api.proto
  src/auth/user/password/z_protobuf/api.proto
  src/auth/user/remote/kernel/x_actix_web/response.rs
  src/avail/unexpected_error/notify/init.ts
  src/avail/unexpected_error/notify/init/remote.ts
  src/avail/unexpected_error/remote/proxy_notify/init/request_decoder.rs
  src/avail/unexpected_error/z_protobuf/api.proto
  src/example/outline/kernel/init/remote/get_menu_badge/fetch.ts
  src/example/outline/remote/proxy_get_menu_badge/init/response_encoder.rs
  src/example/outline/remote/x_actix_web/response.rs
  src/example/outline/z_protobuf/api.proto
Due: test-ui, test-api

add: reqest reset token profile
  main/ui/secure/auth/profile/foreground.ts
  main/ui/secure/auth/profile/page.stories.ts
  main/ui/secure/auth/profile/page.ts
  main/ui/secure/auth/profile/resource.ts
  src/auth/sign/action_sign/x_preact/sign.ts
  src/auth/user/password/action_change/mock.ts
  src/auth/user/password/action_change/x_preact/change_password.stories.ts
  src/auth/user/password/reset/action_request_token/x_preact/request_token.stories.ts
  src/auth/user/password/reset/action_request_token/x_preact/request_token.ts
  src/auth/user/password/reset/action_request_token_profile/action.ts
  src/auth/user/password/reset/action_request_token_profile/init.ts
  src/auth/user/password/reset/action_request_token_profile/init/common.ts
  src/auth/user/password/reset/action_request_token_profile/init/resource.ts
  src/auth/user/password/reset/action_request_token_profile/init/worker/background.ts
  src/auth/user/password/reset/action_request_token_profile/init/worker/foreground.ts
  src/auth/user/password/reset/action_request_token_profile/init/worker/message.ts
  src/auth/user/password/reset/action_request_token_profile/mock.ts
  src/auth/user/password/reset/action_request_token_profile/resource.ts
  src/auth/user/password/reset/action_request_token_profile/test.ts
  src/auth/user/password/reset/action_request_token_profile/x_preact/request_token.stories.ts
  src/auth/user/password/reset/action_request_token_profile/x_preact/request_token.ts
Due: test-ui

refactor: ui entry
  main/ui/public/auth/sign/background.ts
  main/ui/public/auth/sign/entry.ts
  main/ui/public/auth/sign/foreground.ts
  main/ui/public/auth/sign/worker/background.ts
  main/ui/public/auth/sign/worker/foreground.ts
  main/ui/public/avail/not_found/entry.ts
  main/ui/public/avail/version/move_to_latest/entry.ts
  main/ui/public/avail/version/move_to_next/entry.ts
  main/ui/secure/auth/profile/entry.ts
  main/ui/secure/auth/ticket/logout/entry.ts
  main/ui/secure/docs/auth/auth_ticket/check/entry.ts
  main/ui/secure/docs/auth/index/entry.ts
  main/ui/secure/docs/auth/logout/entry.ts
  main/ui/secure/docs/auth/password/authenticate/entry.ts
  main/ui/secure/docs/auth/password/reset/entry.ts
  main/ui/secure/docs/avail/entry.ts
  main/ui/secure/docs/index/entry.ts
  main/ui/secure/docs/privacy_policy/entry.ts
  main/ui/secure/docs/z_dev/auth/sign/entry.ts
  main/ui/secure/index/entry.ts
  ui/env/entry_point.js
Due: none

add: profile worker
  main/ui/public/auth/sign/worker/foreground.ts
  main/ui/secure/auth/profile/common.ts
  main/ui/secure/auth/profile/entry.ts
  main/ui/secure/auth/profile/page.ts
  main/ui/secure/auth/profile/worker/background.ts
  main/ui/secure/auth/profile/worker/foreground.ts
  main/ui/secure/auth/profile/worker/message.ts
  src/auth/sign/action_sign/init/worker/foreground.ts
  src/auth/sign/action_sign/init/worker/message.ts
  src/auth/user/password/reset/action_request_token/init/worker/background.ts
  src/auth/user/password/reset/action_request_token/init/worker/foreground.ts
  src/auth/user/password/reset/action_request_token/init/worker/message.ts
  src/auth/user/password/reset/action_request_token_profile/init/worker/background.ts
  src/auth/user/password/reset/action_request_token_profile/init/worker/foreground.ts
  src/auth/user/password/reset/action_request_token_profile/init/worker/message.ts
  src/x_outside_feature/worker.ts
  ui/env/entry_point.js
  ui/vendor/getto-application/action/worker/init.ts
Due: test-ui

refactor: worker
  main/ui/secure/auth/profile/common.ts
  main/ui/secure/auth/profile/entry.ts
  main/ui/secure/auth/profile/worker/foreground.ts
Due: none

refactor: error
  src/auth/sign/action_sign/action.ts
  src/auth/sign/action_sign/init/worker/foreground.ts
  src/auth/sign/action_sign/test.ts
  ui/env/entry_point.js
Due: test-ui

fix: foreground proxy helper
  main/ui/secure/auth/profile/worker/foreground.ts
  ui/vendor/getto-application/action/worker/foreground.ts
Due: test-ui

add: change password worker
  main/ui/secure/auth/profile/worker/background.ts
  main/ui/secure/auth/profile/worker/message.ts
  src/auth/user/password/action_change/init.ts
  src/auth/user/password/action_change/init/common.ts
  src/auth/user/password/action_change/init/resource.ts
  src/auth/user/password/action_change/init/worker/background.ts
  src/auth/user/password/action_change/init/worker/foreground.ts
  src/auth/user/password/action_change/init/worker/message.ts
  src/auth/user/password/action_change/test.ts
  src/auth/user/password/change/init.ts
  src/auth/user/password/remote/proxy_change/init.rs
  src/auth/user/password/reset/action_request_token_profile/init/resource.ts
Due: test-ui, test-api

add: reset password notification
  src/auth/sign/action_sign/init.ts
  src/auth/sign/router/convert.ts
  src/auth/user/password/remote/kernel/data.rs
  src/auth/user/password/remote/kernel/infra.rs
  src/auth/user/password/remote/kernel/init/password_repository.rs
  src/auth/user/password/reset/action_reset/x_preact/reset_password.ts
  src/auth/user/password/reset/remote/action_request_token/test.rs
  src/auth/user/password/reset/remote/action_reset/test.rs
  src/auth/user/password/reset/remote/request_token/data.rs
  src/auth/user/password/reset/remote/request_token/infra.rs
  src/auth/user/password/reset/remote/request_token/init/destination_repository.rs
  src/auth/user/password/reset/remote/request_token/init/token_notifier.rs
  src/auth/user/password/reset/remote/request_token/method.rs
  src/auth/user/password/reset/remote/reset/data.rs
  src/auth/user/password/reset/remote/reset/event.rs
  src/auth/user/password/reset/remote/reset/infra.rs
  src/auth/user/password/reset/remote/reset/init.rs
  src/auth/user/password/reset/remote/reset/init/reset_notifier.rs
  src/auth/user/password/reset/remote/reset/method.rs
  src/auth/user/password/reset/remote/reset/x_tonic/log.rs
  src/auth/user/password/reset/remote/reset/x_tonic/response.rs
  src/auth/z_prisma/migrations/20211002131552_add_user_password_reset_token_registered_destination/migration.sql
  src/auth/z_prisma/schema.prisma
Due: test-ui, test-api

add: sqlx data
  sqlx-data.auth.json
  sqlx-data.example.json
  sqlx-data.json
Due: none

fix: test
  src/auth/sign/action_sign/test.ts
  src/auth/user/password/reset/action_reset/x_preact/reset_password.ts
  src/auth/user/password/reset/remote/action_reset/test.rs
  src/auth/user/password/reset/remote/reset/event.rs
Due: test-ui, test-api

version bumped: 0.20.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

version bumped: 0.44.0-api
  Cargo.toml
  api/app/api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: none

version bumped: 0.3.0-auth
  api/app/auth/VERSION
Due: none

version bumped: 0.2.0-example
  api/app/example/VERSION
Due: none

version bumped: 0.2.1-example
  api/app/example/VERSION
Due: none

fix: ui metadata
  ui/public/metadata.js
  ui/secure/metadata.js
Due: none

fix: metadata
  Cargo.lock
  package-lock.json
  ui/public/metadata.js
Due: none

version bumped: 0.20.1-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: metadata
  package-lock.json
  src/auth/user/password/reset/remote/request_token/init/token_notifier.rs
  src/auth/user/password/reset/remote/reset/init/reset_notifier.rs
  ui/public/metadata.js
Due: test-api

version bumped: 0.20.2-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: metadata
  ui/public/metadata.js
Due: none

version bumped: 0.20.3-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

version bumped: 0.20.4-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: metadata
  ui/public/metadata.js
  ui/secure/metadata.js
Due: none

version bumped: 0.20.5-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: fetch worker script
  src/auth/ticket/check/init.ts
  src/auth/ticket/kernel/init/remote.ts
  src/auth/ticket/logout/init.ts
  src/auth/ticket/logout/init/remote.ts
  src/auth/ticket/start_continuous_renew/init.ts
  src/avail/version/find_next/init.ts
  src/avail/version/find_next/init/remote.ts
  ui/vendor/getto-application/action/worker/init.ts
Due: test-ui

version bumped: 0.21.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: metadata
  ui/secure/metadata.js
Due: none

version bumped: 0.21.1-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui
