Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

refactor: scroll
  src/z_lib/ui/search/sidebar/x_preact/helper.ts
Due: test-ui

add: override password api
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/password/change/api/action.rs
  src/auth/user/password/change/api/data.rs
  src/auth/user/password/change/api/infra.rs
  src/auth/user/password/change/api/init.rs
  src/auth/user/password/change/api/init/request_decoder.rs
  src/auth/user/password/change/api/proxy/init.rs
  src/auth/user/password/change/api/proxy/init/change_password.rs
  src/auth/user/password/change/api/proxy/init/override_password.rs
  src/auth/user/password/change/api/x_actix_web/route.rs
  src/auth/user/password/change/api/x_logger/log.rs
  src/auth/user/password/change/api/x_tonic/response.rs
  src/auth/user/password/change/api/x_tonic/route.rs
  src/auth/user/password/change/init/change_remote.ts
  src/auth/user/password/change/init/override_remote.ts
  src/auth/user/password/change/x_protobuf/service.proto
  src/auth/user/password/x_actix_web/route.rs
  src/auth/user/password/x_tonic/route.rs
  src/x_main/auth/main.rs
Due: test-ui, test-api

add: autocomplete attr
  src/auth/user/login_id/input/x_preact/input.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/input/x_preact/input.ts
  src/z_vendor/getto-application/board/input/x_preact/input.ts
Due: test-ui

add: autocomplete attr
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
Due: test-ui

refactor: login id
  src/auth/user/account/kernel/data.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/convert.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/infra.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/login_id/docs.ts
  src/auth/user/login_id/input/action.ts
  src/auth/user/login_id/input/convert.ts
  src/auth/user/login_id/input/data.ts
  src/auth/user/login_id/input/test.search.ts
  src/auth/user/login_id/input/test.ts
  src/auth/user/login_id/input/x_preact/input.ts
  src/auth/user/login_id/input/x_preact/search.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/authenticate/data.ts
  src/auth/user/password/authenticate/docs.ts
  src/auth/user/password/authenticate/init/authenticate_remote.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/init/override_remote.ts
  src/auth/user/password/change/test.override.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/request_token/data.ts
  src/auth/user/password/reset/request_token/docs.ts
  src/auth/user/password/reset/request_token/init/request_token_remote.ts
  src/auth/user/password/reset/request_token/test.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/reset/data.ts
  src/auth/user/password/reset/reset/docs.ts
  src/auth/user/password/reset/reset/init/reset_remote.ts
  src/auth/user/password/reset/reset/test.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
Due: test-ui

add: override password test
  src/auth/user/password/change/api/data.rs
  src/auth/user/password/change/api/init/request_decoder.rs
  src/auth/user/password/change/api/mod.rs
  src/auth/user/password/change/api/test_override.rs
Due: test-api

add: override login id test
  src/auth/user/account/search/api/test.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/login_id/change/api/mod.rs
  src/auth/user/login_id/change/api/test.rs
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/test.rs
Due: test-api

add: override docs
  src/auth/docs.ts
  src/auth/user/login_id/change/docs.ts
  src/auth/user/password/change/docs.ts
  src/x_main/secure/docs/auth/login_id/override/entry.ts
  src/x_main/secure/docs/auth/password/override/entry.ts
  src/x_main/secure/entry_point.json
Due: test-ui

fix: modify
  src/auth/user/account/input/convert.ts
  src/auth/user/account/input/x_preact/destination.ts
  src/auth/user/account/input/x_preact/granted_roles.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/data.ts
  src/auth/user/account/modify/init/modify_remote.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/modify/x_protobuf/service.proto
  src/auth/user/account/search/x_preact/detail.ts
Due: test-ui

fix: test
  src/auth/user/account/input/action.ts
  src/auth/user/account/input/convert.ts
  src/auth/user/account/input/data.ts
  src/auth/user/account/input/test.granted_roles.ts
  src/auth/user/account/input/test.ts
  src/auth/user/account/input/x_preact/granted_roles.ts
  src/auth/user/account/kernel/data.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/init/modify_remote.ts
  src/auth/user/account/modify/test.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/detail.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/z_vendor/getto-application/board/observe_field/test.ts
Due: test-ui

fix: granted auth role
  src/auth/ticket/check/api/test.rs
  src/auth/ticket/validate/init/request_decoder.rs
  src/auth/ticket/validate/test.rs
  src/auth/user/account/kernel/api/data.rs
  src/auth/user/account/kernel/api/mod.rs
  src/auth/user/account/kernel/mod.rs
  src/auth/user/account/mod.rs
  src/auth/user/account/modify/api/data.rs
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/modify/api/x_tonic/response.rs
  src/auth/user/account/search/api/data.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/kernel/data.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/x_tonic/response.rs
  src/auth/user/login_id/change/api/action.rs
  src/auth/user/login_id/kernel/data.rs
  src/auth/user/password/authenticate/api/test.rs
  src/x_content/mod.rs
  src/x_content/role.rs
Due: test-api

fix: success button
  package-lock.json
  package.json
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/search/x_preact/detail.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/auth/user/password/reset/token_destination/input/action.ts
  src/core/x_preact/design/button.ts
  src/x_content/icon.ts
Due: test-ui

fix: reset
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/test.ts
  src/auth/user/account/modify/x_preact/modify.ts
Due: test-ui

fis: api
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/data.rs
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/modify/api/init/request_decoder.rs
  src/auth/user/account/modify/api/x_logger/log.rs
  src/auth/user/account/modify/api/x_tonic/response.rs
  src/auth/user/account/modify/data.ts
  src/auth/user/account/modify/init/modify_remote.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/modify/x_protobuf/service.proto
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/z_lib/api/repository/dynamodb/helper.rs
Due: test-ui, test-api

add: api
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/data.rs
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/modify/api/init/request_decoder.rs
  src/auth/user/account/modify/api/x_logger/log.rs
  src/auth/user/account/modify/api/x_tonic/response.rs
  src/auth/user/account/modify/x_protobuf/service.proto
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/password/reset/mod.rs
  src/auth/user/password/reset/token_destination/change/api/action.rs
  src/auth/user/password/reset/token_destination/change/api/data.rs
  src/auth/user/password/reset/token_destination/change/api/infra.rs
  src/auth/user/password/reset/token_destination/change/api/init.rs
  src/auth/user/password/reset/token_destination/change/api/init/request_decoder.rs
  src/auth/user/password/reset/token_destination/change/api/proxy/init.rs
  src/auth/user/password/reset/token_destination/change/api/proxy/init/change.rs
  src/auth/user/password/reset/token_destination/change/api/x_actix_web/route.rs
  src/auth/user/password/reset/token_destination/change/api/x_logger/log.rs
  src/auth/user/password/reset/token_destination/change/api/x_tonic/response.rs
  src/auth/user/password/reset/token_destination/change/api/x_tonic/route.rs
  src/auth/user/password/reset/token_destination/change/data.ts
  src/auth/user/password/reset/token_destination/change/init/change_remote.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/auth/user/password/reset/token_destination/change/x_protobuf/service.proto
  src/auth/user/password/reset/token_destination/mod.rs
  src/auth/user/password/reset/token_destination/x_actix_web/mod.rs
  src/auth/user/password/reset/token_destination/x_actix_web/route.rs
  src/auth/user/password/reset/token_destination/x_tonic/mod.rs
  src/auth/user/password/reset/token_destination/x_tonic/route.rs
  src/auth/user/password/reset/x_actix_web/route.rs
  src/auth/user/password/reset/x_tonic/route.rs
  src/auth/user/password/x_tonic/route.rs
  src/x_main/auth/main.rs
Due: test-ui, test-api

fix: test
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/data.rs
  src/auth/user/account/modify/api/mod.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/password/reset/token_destination/change/api/action.rs
  src/auth/user/password/reset/token_destination/change/api/mod.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
Due: test-api

refactor repository
  src/auth/user/account/search/x_preact/detail.ts
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/login_id/change/action.ts
  src/auth/user/login_id/change/api/action.rs
  src/auth/user/login_id/change/api/data.rs
  src/auth/user/login_id/change/api/infra.rs
  src/auth/user/login_id/change/api/mod.rs
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/login_id/change/api/x_logger/log.rs
  src/auth/user/login_id/change/api/x_tonic/response.rs
  src/auth/user/login_id/change/data.ts
  src/auth/user/login_id/change/init/override_remote.ts
  src/auth/user/login_id/change/x_preact/helper.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/login_id/change/x_protobuf/service.proto
Due: test-ui, test-api

refactor
  src/auth/user/kernel/data.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/login_id/change/test.override.ts
  src/auth/user/login_id/kernel/mod.rs
  src/auth/user/login_id/kernel/x_logger/log.rs
  src/auth/user/login_id/kernel/x_logger/mod.rs
  src/auth/user/password/authenticate/api/action.rs
  src/auth/user/password/authenticate/api/data.rs
  src/auth/user/password/authenticate/api/infra.rs
  src/auth/user/password/authenticate/api/init.rs
  src/auth/user/password/authenticate/api/mod.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/authenticate/api/x_logger/log.rs
  src/auth/user/password/authenticate/api/x_tonic/response.rs
  src/auth/user/password/kernel/infra.rs
  src/auth/user/password/kernel/mod.rs
  src/auth/user/password/kernel/x_logger/log.rs
  src/auth/user/password/kernel/x_logger/mod.rs
  src/auth/user/password/kernel/x_tonic/mod.rs
Due: test-ui, test-api

refactor
  src/auth/user/kernel/data.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/login_id/change/api/action.rs
  src/auth/user/login_id/change/api/convert.rs
  src/auth/user/login_id/change/api/data.rs
  src/auth/user/login_id/change/api/infra.rs
  src/auth/user/login_id/change/api/mod.rs
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/password/authenticate/api/action.rs
  src/auth/user/password/authenticate/api/convert.rs
  src/auth/user/password/authenticate/api/data.rs
  src/auth/user/password/authenticate/api/infra.rs
  src/auth/user/password/authenticate/api/mod.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/authenticate/api/x_logger/log.rs
  src/auth/user/password/authenticate/api/x_tonic/response.rs
  src/auth/user/password/change/api/action.rs
  src/auth/user/password/change/api/convert.rs
  src/auth/user/password/change/api/data.rs
  src/auth/user/password/change/api/infra.rs
  src/auth/user/password/change/api/mod.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/change/api/x_logger/log.rs
  src/auth/user/password/change/api/x_tonic/response.rs
Due: test-api

refactor
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/login_id/change/api/infra.rs
Due: test-api

refactor
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/password/change/api/action.rs
  src/auth/user/password/change/api/convert.rs
  src/auth/user/password/change/api/data.rs
  src/auth/user/password/change/api/infra.rs
  src/auth/user/password/change/api/x_logger/log.rs
  src/auth/user/password/change/api/x_tonic/response.rs
Due: test-api

refactor
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/password/reset/request_token/api/action.rs
  src/auth/user/password/reset/request_token/api/convert.rs
  src/auth/user/password/reset/request_token/api/data.rs
  src/auth/user/password/reset/request_token/api/infra.rs
  src/auth/user/password/reset/request_token/api/init.rs
  src/auth/user/password/reset/request_token/api/mod.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/request_token/api/x_logger/log.rs
  src/auth/user/password/reset/request_token/api/x_tonic/response.rs
  src/auth/user/password/reset/reset/api/test.rs
  src/auth/user/password/reset/token_destination/change/action.ts
  src/auth/user/password/reset/token_destination/change/api/action.rs
  src/auth/user/password/reset/token_destination/change/api/infra.rs
  src/auth/user/password/reset/token_destination/change/api/x_logger/log.rs
  src/auth/user/password/reset/token_destination/change/api/x_tonic/response.rs
  src/auth/user/password/reset/token_destination/change/infra.ts
  src/auth/user/password/reset/token_destination/change/init/change_remote.ts
  src/auth/user/password/reset/token_destination/change/test.ts
  src/auth/user/password/reset/token_destination/change/x_protobuf/service.proto
Due: test-ui, test-api

refactor
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/password/authenticate/api/action.rs
  src/auth/user/password/authenticate/api/infra.rs
  src/auth/user/password/change/api/convert.rs
  src/auth/user/password/change/api/data.rs
  src/auth/user/password/change/api/test_override.rs
  src/auth/user/password/change/api/x_logger/log.rs
  src/auth/user/password/reset/kernel/infra.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/reset/api/action.rs
  src/auth/user/password/reset/reset/api/convert.rs
  src/auth/user/password/reset/reset/api/data.rs
  src/auth/user/password/reset/reset/api/infra.rs
  src/auth/user/password/reset/reset/api/init.rs
  src/auth/user/password/reset/reset/api/init/request_decoder.rs
  src/auth/user/password/reset/reset/api/init/token_decoder.rs
  src/auth/user/password/reset/reset/api/mod.rs
  src/auth/user/password/reset/reset/api/test.rs
  src/auth/user/password/reset/reset/api/x_logger/log.rs
  src/auth/user/password/reset/reset/api/x_tonic/response.rs
  src/auth/user/password/reset/reset/data.ts
  src/auth/user/password/reset/reset/init/reset_remote.ts
  src/auth/user/password/reset/reset/x_protobuf/service.proto
  src/auth/user/password/reset/token_destination/change/api/test.rs
Due: test-ui, test-api

refactor
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/modify/api/x_logger/log.rs
  src/auth/user/account/modify/api/x_tonic/response.rs
  src/auth/user/account/modify/infra.ts
  src/auth/user/account/modify/init/modify_remote.ts
  src/auth/user/account/modify/test.ts
  src/auth/user/account/modify/x_protobuf/service.proto
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
Due: test-ui, test-api

remove: unused
  src/auth/user/kernel/infra.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/mod.rs
Due: test-api

refactor
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb.rs
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/search/api/action.rs
  src/auth/user/account/search/api/data.rs
  src/auth/user/account/search/api/infra.rs
  src/auth/user/account/search/api/x_tonic/response.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/dynamodb/login_id.rs
  src/auth/user/kernel/init/user_repository/dynamodb/reset_token.rs
  src/auth/user/kernel/init/user_repository/dynamodb/user.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/login_id/change/api/infra.rs
  src/auth/user/login_id/kernel/data.rs
  src/auth/user/password/reset/kernel/data.rs
  src/auth/user/password/reset/kernel/infra.rs
  src/auth/user/password/reset/request_token/api/init/token_generator.rs
  src/core/season/kernel/convert.ts
  src/z_lib/api/repository/dynamodb/helper.rs
Due: test-ui, test-api

refactor
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/search/api/data.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/kernel/data.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/dynamodb/login_id.rs
  src/auth/user/kernel/init/user_repository/dynamodb/reset_token.rs
  src/auth/user/kernel/init/user_repository/dynamodb/user.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/init/user_repository/memory/login_id.rs
  src/auth/user/kernel/init/user_repository/memory/reset_token.rs
  src/auth/user/kernel/init/user_repository/memory/user.rs
  src/auth/user/login_id/change/api/action.rs
  src/auth/user/login_id/change/api/infra.rs
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/login_id/kernel/data.rs
  src/auth/user/password/authenticate/api/action.rs
  src/auth/user/password/authenticate/api/infra.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/action.rs
  src/auth/user/password/change/api/infra.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/change/api/test_override.rs
  src/auth/user/password/reset/kernel/data.rs
  src/auth/user/password/reset/request_token/api/action.rs
  src/auth/user/password/reset/request_token/api/infra.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/api/action.rs
  src/auth/user/password/reset/reset/api/infra.rs
  src/auth/user/password/reset/reset/api/test.rs
  src/auth/user/password/reset/token_destination/change/api/action.rs
  src/auth/user/password/reset/token_destination/change/api/infra.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
Due: test-api

refactor
  src/auth/ticket/check/api/test.rs
  src/auth/ticket/kernel/api/data.rs
  src/auth/ticket/logout/api/test.rs
  src/auth/ticket/validate/infra.rs
  src/auth/ticket/validate/init.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb/nonce.rs
  src/auth/ticket/validate/init/nonce_repository/memory.rs
  src/auth/ticket/validate/init/nonce_repository/memory/nonce.rs
  src/auth/ticket/validate/method.rs
  src/auth/ticket/validate/test.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/change/api/test_override.rs
  src/auth/user/password/reset/request_token/api/action.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/api/test.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
Due: test-api

refactor
  src/auth/ticket/check/api/test.rs
  src/auth/ticket/encode/infra.rs
  src/auth/ticket/encode/method.rs
  src/auth/ticket/issue/init/id_generator.rs
  src/auth/ticket/issue/method.rs
  src/auth/ticket/kernel/api/data.rs
  src/auth/ticket/kernel/api/infra.rs
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb.rs
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb/ticket.rs
  src/auth/ticket/kernel/api/init/ticket_repository/memory.rs
  src/auth/ticket/kernel/api/init/ticket_repository/memory/ticket.rs
  src/auth/ticket/logout/api/action.rs
  src/auth/ticket/logout/api/infra.rs
  src/auth/ticket/logout/api/test.rs
  src/auth/ticket/validate/method.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/dynamodb/login_id.rs
  src/auth/user/kernel/init/user_repository/dynamodb/reset_token.rs
  src/auth/user/kernel/init/user_repository/dynamodb/user.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/init/user_repository/memory/login_id.rs
  src/auth/user/kernel/init/user_repository/memory/reset_token.rs
  src/auth/user/kernel/init/user_repository/memory/user.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/reset/reset/api/test.rs
Due: test-api

refactor
  src/auth/ticket/check/api/test.rs
  src/auth/ticket/logout/api/test.rs
  src/auth/ticket/validate/init.rs
  src/auth/ticket/validate/init/nonce_repository/memory.rs
  src/auth/ticket/validate/init/nonce_repository/memory/nonce.rs
  src/auth/ticket/validate/test.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/change/api/test_override.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/api/test.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
Due: test-api

refactor
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/init/user_repository/memory/login_id.rs
  src/auth/user/kernel/init/user_repository/memory/reset_token.rs
  src/auth/user/kernel/init/user_repository/memory/user.rs
  src/auth/user/login_id/change/api/test_override.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/change/api/test_override.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/api/test.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
Due: test-api

fix: remove comment
  src/auth/user/kernel/data.rs
Due: test-api

fix: rename season
  src/core/season/kernel/convert.ts
Due: test-ui

fix: state type
  src/auth/ticket/logout/action.ts
  src/auth/ticket/logout/x_preact/logout.ts
  src/auth/user/account/search/action.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/reset/request_token/action.ts
  src/avail/version/find_next/action.ts
  src/core/season/load/action.ts
  src/core/season/setup/action.ts
  src/z_lib/ui/search/columns/action.ts
  src/z_lib/ui/search/sidebar/action.ts
Due: test-ui

fix: state type
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/search/x_preact/table.ts
  src/x_main/secure/auth/user/account/page.ts
  src/z_lib/ui/search/kernel/x_preact/helper.ts
Due: test-ui

fix: state type
  src/auth/ticket/logout/test.ts
  src/auth/user/account/search/test.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/login_id/change/test.override.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/change/test.override.ts
  src/auth/user/password/change/test.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
Due: test-ui
