Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

fix: env name
  src/auth/_api/x_outside_feature/init.rs
  src/x_outside_feature/_api/env.rs
Due: test-api

fix: nonce repository interface
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/kernel/method.rs
Due: test-api

fix: mysql connect
  .envrc
  src/main.rs
Due: test-api

refactor: env
  .envrc
  src/main.rs
  src/x_outside_feature/_api/env.rs
Due: test-api

add: sql docker-wrapper
  .docker-wrapper.sh
  .envrc
Due: none

update: packages
  package-lock.json
  package.json
  storybook/package-lock.json
  storybook/package.json
Due: none

refactor: register
  src/auth/auth_ticket/_api/issue/method.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/auth_ticket/_api/kernel/method.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init/password_repository.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/z_details/_api/repository/data.rs
  src/z_details/_api/repository/helper.rs
  src/z_details/_api/repository/x_actix_web/log.rs
Due: test-api

add: expansion limit calculated event
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/issue/event.rs
  src/auth/auth_ticket/_api/issue/method.rs
  src/auth/auth_ticket/_api/issue/x_actix_web/log.rs
  src/auth/auth_ticket/_api/issue/x_actix_web/response.rs
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
Due: test-api

add: prisma schema
  package-lock.json
  package.json
  src/auth/z_prisma/migrations/20210704001311_add_user_and_ticket/migration.sql
  src/auth/z_prisma/migrations/migration_lock.toml
  src/auth/z_prisma/schema.prisma
Due: none

refactor: register at var name
  src/auth/auth_ticket/_api/issue/method.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/kernel/method.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init/password_repository.rs
  src/auth/password/reset/_api/request_token/method.rs
Due: test-api

refactor: owned
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init/password_hasher.rs
  src/auth/password/_api/kernel/init/password_matcher.rs
  src/auth/password/_api/kernel/init/password_repository.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

impl: ticket repository mysql impl
  .envrc
  Cargo.lock
  Cargo.toml
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/request_token/init/token_notifier.rs
  src/auth/z_prisma/migrations/20210704093330_add_ticket_discarded/migration.sql
  src/auth/z_prisma/schema.prisma
  src/main.rs
  src/x_outside_feature/_api/env.rs
  src/z_details/_api/mod.rs
  src/z_details/_api/mysql/helper.rs
  src/z_details/_api/mysql/mod.rs
  src/z_details/_api/repository/helper.rs
Due: test-api

impl: user repository mysql impl
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_user/_api/kernel/init.rs
  src/auth/auth_user/_api/kernel/init/user_repository.rs
  src/auth/z_prisma/migrations/20210704114808_add_user_granted_role/migration.sql
  src/auth/z_prisma/schema.prisma
  src/main.rs
  src/z_details/_api/mysql/helper.rs
Due: test-api

impl: user password reset token destination
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/auth_user/_api/kernel/init/user_repository.rs
  src/auth/password/reset/_api/request_token/data.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/init/destination_repository.rs
  src/auth/z_prisma/migrations/20210704123104_add_user_password_reset_token_destination/migration.sql
  src/auth/z_prisma/schema.prisma
  src/main.rs
  src/z_details/_api/mysql/helper.rs
  src/z_details/_api/repository/helper.rs
Due: test-api

impl: password repository
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_ticket/_api/encode/init/token_encoder.rs
  src/auth/auth_ticket/_api/encode/x_actix_web/response.rs
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/validate/init/token_header.rs
  src/auth/auth_user/_api/kernel/data.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/data.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init/messenger.rs
  src/auth/password/_api/authenticate/x_actix_web/response.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init.rs
  src/auth/password/_api/kernel/init/password_hasher.rs
  src/auth/password/_api/kernel/init/password_repository.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/kernel/infra.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/z_prisma/migrations/20210704125918_add_user_password/migration.sql
  src/auth/z_prisma/schema.prisma
  src/main.rs
  src/z_details/_api/repository/helper.rs
Due: test-api

refactor: nonce repository
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
Due: test-api

refactor: ticket repository
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/z_prisma/migrations/20210706114348_change_ticket_discard_id/migration.sql
  src/auth/z_prisma/schema.prisma
Due: test-api

refactor: user repository
  src/auth/auth_user/_api/kernel/init/user_repository.rs
Due: test-api

refactor: password repository
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/init/clock.rs
  src/auth/login_id/_api/data.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init/password_repository.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

add: admin user seed
  src/auth/z_prisma/migrations/20210706120000_insert_admin_user/migration.sql
Due: none

fix: admin user id
  src/auth/z_prisma/migrations/20210706120000_insert_admin_user/migration.sql
Due: none

refactor: password reset
  .envrc
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/password/reset/_api/request_token/init/token_notifier.rs
  src/main.rs
  src/x_outside_feature/_api/env.rs
Due: test-api

fix: initial admin user email
  src/auth/z_prisma/migrations/20210706120000_insert_admin_user/migration.sql
Due: none

add: migrate
  .gitlab-ci.yml
  api/ci/migrate.sh
Due: none

fix: migrate
  src/auth/z_prisma/schema.prisma
Due: none

fix: gitlab ci
  .gitlab-ci.yml
Due: none

fix: schema
  src/auth/z_prisma/schema.prisma
Due: none

version bumped: 0.29.0-api
  Cargo.toml
  api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

fix: repository implement
  .envrc
  .gitignore
  Cargo.lock
  Cargo.toml
  sqlx-data.json
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_ticket/_api/action_logout/action.rs
  src/auth/auth_ticket/_api/action_renew/action.rs
  src/auth/auth_ticket/_api/discard/method.rs
  src/auth/auth_ticket/_api/encode/method.rs
  src/auth/auth_ticket/_api/issue/method.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/auth_user/_api/kernel/infra.rs
  src/auth/auth_user/_api/kernel/init/user_repository.rs
  src/auth/password/_api/action_authenticate/action.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init/password_repository.rs
  src/auth/password/reset/_api/action_reset/action.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init/destination_repository.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/reset/method.rs
  src/main.rs
  src/x_outside_feature/_api/state.rs
  src/z_details/_api/mysql/helper.rs
Due: test-api

fix: coverage threshold
  .envrc
  .gitignore
  api/ci/test.sh
Due: none

fix: version
  Cargo.lock
Due: none

version bumped: 0.30.0-api
  Cargo.toml
  api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

refactor: repository
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/password/_api/kernel/init/password_repository.rs
Due: test-api

version bumped: 0.16.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: infra error prefix
  Cargo.lock
  src/z_details/_api/repository/data.rs
Due: test-api

move: main
  Cargo.toml
  example.code-workspace
  main/_api/auth.rs
  main/_api/http.rs
  main/_ui/public/auth/sign/background.ts
  main/_ui/public/auth/sign/foreground.ts
  main/_ui/public/avail/move_to_latest_version/foreground.ts
  main/_ui/public/avail/move_to_next_version/foreground.ts
  main/_ui/public/avail/not_found/foreground.ts
  main/_ui/secure/auth/profile/foreground.ts
  main/_ui/secure/docs/auth/authenticate_password/foreground.ts
  main/_ui/secure/docs/auth/check_auth_ticket/foreground.ts
  main/_ui/secure/docs/auth/index/foreground.ts
  main/_ui/secure/docs/auth/logout/foreground.ts
  main/_ui/secure/docs/auth/reset_password/foreground.ts
  main/_ui/secure/docs/avail/foreground.ts
  main/_ui/secure/docs/index/foreground.ts
  main/_ui/secure/docs/privacy_policy/foreground.ts
  main/_ui/secure/docs/z_dev/auth/sign/foreground.ts
  main/_ui/secure/index/foreground.ts
  src/x_main/public/auth/sign/background.ts
  src/x_main/public/auth/sign/foreground.ts
  src/x_main/public/avail/move_to_latest_version/foreground.ts
  src/x_main/public/avail/move_to_next_version/foreground.ts
  src/x_main/public/avail/not_found/foreground.ts
  src/x_main/secure/auth/profile/foreground.ts
  src/x_main/secure/docs/auth/authenticate_password/foreground.ts
  src/x_main/secure/docs/auth/check_auth_ticket/foreground.ts
  src/x_main/secure/docs/auth/index/foreground.ts
  src/x_main/secure/docs/auth/logout/foreground.ts
  src/x_main/secure/docs/auth/reset_password/foreground.ts
  src/x_main/secure/docs/avail/foreground.ts
  src/x_main/secure/docs/index/foreground.ts
  src/x_main/secure/docs/privacy_policy/foreground.ts
  src/x_main/secure/docs/z_dev/auth/sign/foreground.ts
  src/x_main/secure/index/foreground.ts
  ui/env/entry_point.js
Due: test-ui

add: setup-protoc.sh
  api/ci/setup-protoc.sh
Due: none
