Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

test-ui:
  stage: test
  variables:
    SECURE_SERVER_URL: https://secure.example.com
    API_SERVER_URL: https://api.example.com
  before_script:
  - npm clean-install
  script:
  - npm test
  - npm run build

test-api:
  stage: test
  image: rust:1-buster
  before_script:
  - rustup install nightly
  - rustup component add --toolchain nightly llvm-tools-preview
  - cargo install rustfilt
  - cargo install grcov
  script:
  - ./api/ci/test.sh

release-ui:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $UI_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_deploy-ui:
  stage: release_deploy
  when: on_success
  variables:
    BUILD_ENV: production
  before_script:
  - apt-get update && apt-get install -y python3-pip
  - pip3 install awscli
  - npm clean-install
  script:
  - ./ui/ci/deploy.sh

release_success-ui:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release_failure-ui:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release-api:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $API_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_build-api:
  stage: release_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - api/ci/build.sh

release_deploy-api:
  stage: release_deploy
  when: on_success
  image: google/cloud-sdk:latest
  script:
  - api/ci/deploy.sh

release_success-api:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

release_failure-api:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

fix: validate
  src/auth/ticket/kernel/api/data.rs
  src/auth/user/account/modify/api/init/request_decoder.rs
  src/auth/user/account/register/api/init/request_decoder.rs
  src/auth/user/kernel/api/convert.rs
  src/auth/user/kernel/api/data.rs
  src/auth/user/login_id/change/api/action.rs
  src/auth/user/login_id/change/api/convert.rs
  src/auth/user/password/authenticate/api/action.rs
  src/auth/user/password/authenticate/api/convert.rs
  src/auth/user/password/change/api/action.rs
  src/auth/user/password/change/api/convert.rs
  src/auth/user/password/reset/kernel/convert.rs
  src/auth/user/password/reset/kernel/data.rs
  src/auth/user/password/reset/kernel/mod.rs
  src/auth/user/password/reset/kernel/x_logger/log.rs
  src/auth/user/password/reset/kernel/x_logger/mod.rs
  src/auth/user/password/reset/request_token/api/action.rs
  src/auth/user/password/reset/request_token/api/convert.rs
  src/auth/user/password/reset/reset/api/action.rs
  src/auth/user/password/reset/reset/api/convert.rs
  src/auth/user/password/reset/token_destination/change/api/init/request_decoder.rs
  src/auth/user/password/reset/token_destination/change/api/x_logger/log.rs
Due: test-api

fix: validate
  src/auth/user/password/reset/kernel/convert.rs
  src/auth/user/password/reset/kernel/data.rs
  src/auth/user/password/reset/reset/api/test.rs
  src/auth/user/password/reset/reset/api/x_logger/log.rs
Due: test-api

fix: auth user memo
  src/auth/user/account/kernel/api/convert.rs
  src/auth/user/account/kernel/api/data.rs
  src/auth/user/account/kernel/api/mod.rs
  src/auth/user/account/modify/api/data.rs
  src/auth/user/account/modify/api/init/request_decoder.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/account/modify/x_protobuf/service.proto
  src/auth/user/account/register/api/data.rs
  src/auth/user/account/register/api/infra.rs
  src/auth/user/account/register/api/init/request_decoder.rs
  src/auth/user/account/register/api/test.rs
  src/auth/user/account/register/init/register_remote.ts
  src/auth/user/account/register/x_protobuf/service.proto
  src/auth/user/account/search/api/x_tonic/response.rs
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/x_protobuf/service.proto
  src/auth/user/kernel/api/init/user_repository/dynamodb.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb/user.rs
  src/auth/user/kernel/api/init/user_repository/memory.rs
  src/auth/user/kernel/api/init/user_repository/memory/user.rs
  src/auth/user/login_id/kernel/api/convert.rs
  src/auth/user/password/kernel/convert.rs
  src/auth/user/password/reset/kernel/convert.rs
Due: test-ui, test-api

refactor: request decoder
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/modify/api/data.rs
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/modify/api/init/request_decoder.rs
  src/auth/user/account/modify/api/test.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb.rs
  src/auth/user/kernel/api/init/user_repository/dynamodb/user.rs
  src/auth/user/kernel/api/init/user_repository/memory.rs
  src/auth/user/kernel/api/init/user_repository/memory/user.rs
Due: test-api

refactor: request decoder
  src/auth/user/account/modify/api/infra.rs
  src/auth/user/account/register/api/action.rs
  src/auth/user/account/register/api/data.rs
  src/auth/user/account/register/api/infra.rs
  src/auth/user/account/register/api/init/request_decoder.rs
  src/auth/user/account/register/api/test.rs
Due: test-api

refactor: request decoder
  src/auth/user/account/unregister/api/action.rs
  src/auth/user/account/unregister/api/infra.rs
  src/auth/user/account/unregister/api/init/request_decoder.rs
  src/auth/user/account/unregister/api/test.rs
Due: test-api

refactor: request decoder
  src/auth/user/account/modify/api/init/request_decoder.rs
  src/auth/user/password/reset/token_destination/change/api/action.rs
  src/auth/user/password/reset/token_destination/change/api/data.rs
  src/auth/user/password/reset/token_destination/change/api/infra.rs
  src/auth/user/password/reset/token_destination/change/api/init/request_decoder.rs
  src/auth/user/password/reset/token_destination/change/api/test.rs
Due: test-api

refactor: validate
  src/auth/mod.rs
  src/auth/ticket/kernel/api/data.rs
  src/auth/ticket/kernel/api/x_logger/log.rs
  src/auth/ticket/kernel/api/x_tonic/response.rs
  src/auth/ticket/logout/api/action.rs
  src/auth/ticket/logout/api/init.rs
  src/auth/ticket/logout/api/test.rs
  src/auth/ticket/validate/action.rs
  src/auth/ticket/validate/infra.rs
  src/auth/ticket/validate/init.rs
  src/auth/ticket/validate/init/request_decoder.rs
  src/auth/ticket/validate/test.rs
  src/auth/ticket/validate/x_logger/log.rs
  src/auth/ticket/validate/x_tonic/response.rs
  src/auth/ticket/validate/x_tonic/route.rs
  src/auth/user/account/modify/api/action.rs
  src/auth/user/account/register/api/action.rs
  src/auth/user/account/search/api/action.rs
  src/auth/user/account/unregister/api/action.rs
  src/auth/user/password/reset/token_destination/change/api/action.rs
  src/avail/unexpected_error/notify/api/action.rs
  src/avail/unexpected_error/notify/api/init.rs
  src/avail/unexpected_error/notify/api/test.rs
  src/avail/unexpected_error/notify/api/x_logger/log.rs
  src/avail/unexpected_error/notify/api/x_tonic/response.rs
  src/core/outline/load/api/action.rs
  src/core/outline/load/api/init.rs
  src/core/outline/load/api/test.rs
  src/core/outline/load/api/x_logger/log.rs
  src/core/outline/load/api/x_tonic/response.rs
Due: test-api

refactor: label
  src/auth/user/account/input/memo/x_preact/input.ts
  src/auth/user/account/kernel/data.ts
  src/auth/user/account/register/x_preact/structure.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/login_id/input/x_preact/input.ts
  src/auth/user/login_id/input/x_preact/search.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/input/x_preact/input.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/token_destination/input/x_preact/destination.ts
Due: test-ui

refactor: label
  src/auth/user/account/input/granted_roles/x_preact/input.ts
  src/auth/user/account/input/granted_roles/x_preact/search.ts
Due: test-ui

fix: search field label
  src/auth/user/account/input/granted_roles/x_preact/search.ts
  src/auth/user/login_id/input/x_preact/search.ts
  src/z_vendor/getto-css/preact/design/form.ts
Due: test-ui

move: buttons
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/register/x_preact/focused.ts
  src/auth/user/account/register/x_preact/register.ts
  src/auth/user/account/search/x_preact/focused.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/unregister/x_preact/unregister.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/core/season/setup/x_preact/setup.ts
  src/z_lib/ui/button/back_to_list_button.ts
  src/z_lib/ui/button/back_to_register_button.ts
  src/z_lib/ui/button/change_button.ts
  src/z_lib/ui/button/clear_changes_button.ts
  src/z_lib/ui/button/clear_search_button.ts
  src/z_lib/ui/button/close_button.ts
  src/z_lib/ui/button/delete_button.ts
  src/z_lib/ui/button/delete_confirm_button.ts
  src/z_lib/ui/button/edit_button.ts
  src/z_lib/ui/button/hooks.ts
  src/z_lib/ui/button/load_button.ts
  src/z_lib/ui/button/register_button.ts
  src/z_lib/ui/button/reset_button.ts
  src/z_lib/ui/button/search_button.ts
  src/z_lib/ui/button/send_button.ts
Due: test-ui

revert: move buttons
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/register/x_preact/focused.ts
  src/auth/user/account/register/x_preact/register.ts
  src/auth/user/account/search/x_preact/focused.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/unregister/x_preact/unregister.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/core/season/setup/x_preact/setup.ts
  src/core/x_preact/button/back_to_list_button.ts
  src/core/x_preact/button/back_to_register_button.ts
  src/core/x_preact/button/change_button.ts
  src/core/x_preact/button/clear_changes_button.ts
  src/core/x_preact/button/clear_search_button.ts
  src/core/x_preact/button/close_button.ts
  src/core/x_preact/button/delete_button.ts
  src/core/x_preact/button/delete_confirm_button.ts
  src/core/x_preact/button/edit_button.ts
  src/core/x_preact/button/hooks.ts
  src/core/x_preact/button/load_button.ts
  src/core/x_preact/button/register_button.ts
  src/core/x_preact/button/reset_button.ts
  src/core/x_preact/button/search_button.ts
  src/core/x_preact/button/send_button.ts
Due: test-ui

fix: import
  src/core/x_preact/button/delete_button.ts
  src/core/x_preact/button/edit_button.ts
  src/core/x_preact/button/load_button.ts
  src/core/x_preact/button/register_button.ts
  src/core/x_preact/button/search_button.ts
  src/core/x_preact/button/send_button.ts
Due: test-ui

fix: observe state
  src/auth/user/account/input/memo/action.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/core/season/input/action.ts
  src/core/season/setup/action.ts
  src/core/season/setup/x_preact/setup.ts
  src/core/x_preact/button/change_button.ts
  src/core/x_preact/button/send_button.ts
Due: test-ui

fix: sort sign
  src/core/x_preact/design/table.ts
  src/x_content/icon.ts
  src/z_vendor/getto-css/preact/design/table.ts
Due: test-ui

fix: label
  src/auth/user/password/change/x_preact/override_password.ts
Due: test-ui

refactor: take longtime
  src/auth/ticket/check/action.ts
  src/auth/ticket/check/test.ts
  src/auth/ticket/check/x_preact/check_ticket.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/test.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/register/action.ts
  src/auth/user/account/register/test.ts
  src/auth/user/account/register/x_preact/register.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/test.ts
  src/auth/user/account/search/x_preact/form.ts
  src/auth/user/account/search/x_preact/pager.ts
  src/auth/user/account/search/x_preact/table.ts
  src/auth/user/account/unregister/action.ts
  src/auth/user/account/unregister/test.ts
  src/auth/user/account/unregister/x_preact/unregister.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/login_id/change/test.override.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/change/test.override.ts
  src/auth/user/password/change/test.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/request_token/test.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/reset/test.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/auth/user/password/reset/token_destination/change/action.ts
  src/auth/user/password/reset/token_destination/change/test.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
Due: test-ui

refactor: validation message
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/register/x_preact/register.ts
  src/auth/user/login_id/change/x_preact/override_login_id.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/change/x_preact/change_password.ts
  src/auth/user/password/change/x_preact/override_password.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/request_token/x_preact/request_token_profile.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/core/x_preact/design/form.ts
Due: test-ui

refactor: field converter
  src/auth/user/account/modify/action.ts
  src/auth/user/account/register/action.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/token_destination/change/action.ts
  src/z_vendor/getto-application/board/validate_board/action.ts
  src/z_vendor/getto-application/board/validate_board/test.ts
Due: test-ui

refactor: board converter
  src/auth/user/account/register/action.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/token_destination/change/action.ts
  src/z_lib/ui/search/columns/data.ts
  src/z_vendor/getto-application/board/kernel/infra.ts
  src/z_vendor/getto-application/board/validate_board/action.ts
Due: test-ui

refactor: validate field
  src/auth/user/account/input/granted_roles/action.ts
  src/auth/user/account/input/granted_roles/test.search.ts
  src/auth/user/account/input/granted_roles/test.ts
  src/auth/user/account/input/granted_roles/x_preact/search.ts
  src/auth/user/account/input/memo/action.ts
  src/auth/user/account/input/memo/data.ts
  src/auth/user/account/input/memo/test.ts
  src/auth/user/account/input/memo/x_preact/input.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/register/action.ts
  src/auth/user/account/register/x_preact/register.ts
  src/auth/user/account/register/x_preact/structure.ts
  src/auth/user/account/search/x_preact/structure.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/login_id/input/action.ts
  src/auth/user/login_id/input/data.ts
  src/auth/user/login_id/input/test.ts
  src/auth/user/login_id/input/x_preact/input.ts
  src/auth/user/login_id/input/x_preact/static.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/input/action.ts
  src/auth/user/password/input/data.ts
  src/auth/user/password/input/test.ts
  src/auth/user/password/input/x_preact/input.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/token_destination/change/action.ts
  src/auth/user/password/reset/token_destination/change/x_preact/change.ts
  src/auth/user/password/reset/token_destination/input/action.ts
  src/auth/user/password/reset/token_destination/input/test.ts
  src/auth/user/password/reset/token_destination/input/x_preact/input.ts
  src/auth/user/password/reset/token_destination/kernel/convert.ts
  src/auth/user/password/reset/token_destination/kernel/data.ts
  src/z_lib/ui/validate/helper.ts
  src/z_vendor/getto-application/board/validate_field/action.ts
  src/z_vendor/getto-application/board/validate_field/data.ts
  src/z_vendor/getto-application/board/validate_field/infra.ts
  src/z_vendor/getto-application/board/validate_field/test.ts
Due: test-ui

refactor: validate board state
  src/auth/user/account/modify/action.ts
  src/auth/user/account/register/action.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/token_destination/change/action.ts
  src/z_vendor/getto-application/board/validate_board/action.ts
  src/z_vendor/getto-application/board/validate_board/infra.ts
  src/z_vendor/getto-application/board/validate_board/init/stack.ts
  src/z_vendor/getto-application/board/validate_board/test.ts
Due: test-ui

refactor: board state
  src/auth/user/account/input/granted_roles/action.ts
  src/auth/user/account/input/memo/action.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/register/action.ts
  src/auth/user/account/search/action.ts
  src/auth/user/login_id/change/action.ts
  src/auth/user/login_id/input/action.ts
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/change/action.ts
  src/auth/user/password/input/action.ts
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/token_destination/change/action.ts
  src/core/season/input/action.ts
  src/core/season/input/test.ts
  src/core/season/kernel/convert.ts
  src/core/season/kernel/data.ts
  src/core/season/load/test.ts
  src/core/season/setup/action.ts
  src/core/season/setup/test.ts
  src/core/season/setup/x_preact/setup.ts
Due: test-ui

fix: test
  .gitlab-ci.yml
  src/x_main/auth/main.rs
Due: test-api

fix: test
  .gitlab-ci.yml
Due: none

fix: test
  .gitlab-ci.yml
  api/ci/check-coverage.sh
Due: none

fix: test
  .gitlab-ci.yml
  api/ci/setup-test.sh
Due: none

fix: test
  api/ci/setup-test.sh
Due: none

fix: test
  api/ci/check-coverage.sh
Due: none

fix: test
  api/ci/test.sh
  src/x_main/auth/main.rs
Due: test-api

fix: font
  src/x_content/css/font.css
  src/x_content/site.ts
Due: test-ui

add: TODO
  src/x_content/css/font.css
Due: none

update packages
  package-lock.json
  package.json
Due: none

update: package
  .docker-wrapper.sh
  .docker-wrapper/Dockerfile
  .gitlab-ci.yml
  Cargo.lock
  Cargo.toml
Due: none

fix: comment
  src/x_main/auth/main.rs
  src/x_main/public/auth/sign/entry.ts
Due: test-ui, test-api

fix: gitlab ci
  .gitlab-ci.yml
  api/app/test/Dockerfile
  api/app/test/VERSION
Due: none

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION
