Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

refactor: authenticate proxy
  src/auth/_api/proxy.rs
  src/auth/auth_ticket/_api/proxy_logout/init.rs
  src/auth/auth_ticket/_api/proxy_logout/init/logout_service.rs
  src/auth/auth_ticket/_api/proxy_renew/init.rs
  src/auth/auth_ticket/_api/proxy_renew/init/renew_service.rs
  src/auth/auth_ticket/_api/x_actix_web/route.rs
  src/auth/password/_api/action_authenticate/action.rs
  src/auth/password/_api/action_authenticate/init.rs
  src/auth/password/_api/action_authenticate/mod.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/action_authenticate/x_actix_web/log.rs
  src/auth/password/_api/action_authenticate/x_actix_web/mod.rs
  src/auth/password/_api/action_authenticate/x_actix_web/response.rs
  src/auth/password/_api/authenticate/data.rs
  src/auth/password/_api/authenticate/event.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/authenticate/init/authenticate_service.rs
  src/auth/password/_api/authenticate/init/request_decoder.rs
  src/auth/password/_api/authenticate/init/response_encoder.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/authenticate/mod.rs
  src/auth/password/_api/authenticate/x_actix_web/log.rs
  src/auth/password/_api/authenticate/x_actix_web/mod.rs
  src/auth/password/_api/authenticate/x_actix_web/response.rs
  src/auth/password/_api/authenticate/x_tonic/mod.rs
  src/auth/password/_api/authenticate/x_tonic/response.rs
  src/auth/password/_api/mod.rs
  src/auth/password/_api/proxy_authenticate/init.rs
  src/auth/password/_api/proxy_authenticate/init/authenticate_service.rs
  src/auth/password/_api/proxy_authenticate/init/request_decoder.rs
  src/auth/password/_api/proxy_authenticate/init/response_encoder.rs
  src/auth/password/_api/proxy_authenticate/mod.rs
  src/auth/password/_api/x_actix_web/route.rs
Due: test-api

refactor: proxy
  src/auth/_api/proxy.rs
  src/auth/password/_api/proxy_authenticate/data.rs
  src/auth/password/_api/proxy_authenticate/infra.rs
  src/auth/password/_api/proxy_authenticate/init.rs
  src/auth/password/_api/proxy_authenticate/init/authenticate_service.rs
  src/auth/password/_api/proxy_authenticate/init/request_decoder.rs
  src/auth/password/_api/proxy_authenticate/init/response_encoder.rs
  src/auth/password/_api/proxy_authenticate/mod.rs
  src/auth/password/_api/proxy_authenticate/x_actix_web/mod.rs
  src/auth/password/_api/proxy_authenticate/x_actix_web/response.rs
  src/auth/password/_api/proxy_authenticate/x_tonic/mod.rs
  src/auth/password/_api/proxy_authenticate/x_tonic/response.rs
  src/auth/password/_api/x_actix_web/route.rs
Due: test-api

refactor: change passsword proxy
  src/auth/_api/proxy.rs
  src/auth/password/_api/action_change/action.rs
  src/auth/password/_api/action_change/init.rs
  src/auth/password/_api/action_change/mod.rs
  src/auth/password/_api/action_change/test.rs
  src/auth/password/_api/action_change/x_actix_web/log.rs
  src/auth/password/_api/action_change/x_actix_web/response.rs
  src/auth/password/_api/change/event.rs
  src/auth/password/_api/change/infra.rs
  src/auth/password/_api/change/init.rs
  src/auth/password/_api/change/init/request_decoder.rs
  src/auth/password/_api/change/init/response_encoder.rs
  src/auth/password/_api/change/method.rs
  src/auth/password/_api/change/x_actix_web/log.rs
  src/auth/password/_api/change/x_actix_web/mod.rs
  src/auth/password/_api/change/x_actix_web/response.rs
  src/auth/password/_api/change/x_tonic/response.rs
  src/auth/password/_api/mod.rs
  src/auth/password/_api/proxy_authenticate/data.rs
  src/auth/password/_api/proxy_authenticate/infra.rs
  src/auth/password/_api/proxy_authenticate/init.rs
  src/auth/password/_api/proxy_authenticate/init/authenticate_service.rs
  src/auth/password/_api/proxy_authenticate/init/request_decoder.rs
  src/auth/password/_api/proxy_authenticate/init/response_encoder.rs
  src/auth/password/_api/proxy_authenticate/x_actix_web/response.rs
  src/auth/password/_api/proxy_authenticate/x_tonic/response.rs
  src/auth/password/_api/proxy_change/data.rs
  src/auth/password/_api/proxy_change/infra.rs
  src/auth/password/_api/proxy_change/init.rs
  src/auth/password/_api/proxy_change/init/change_service.rs
  src/auth/password/_api/proxy_change/init/request_decoder.rs
  src/auth/password/_api/proxy_change/init/response_encoder.rs
  src/auth/password/_api/proxy_change/mod.rs
  src/auth/password/_api/proxy_change/x_actix_web/mod.rs
  src/auth/password/_api/proxy_change/x_actix_web/response.rs
  src/auth/password/_api/proxy_change/x_tonic/mod.rs
  src/auth/password/_api/proxy_change/x_tonic/response.rs
  src/auth/password/_api/x_actix_web/route.rs
Due: test-api

refactor: notify
  main/_example/main.rs
  src/auth/_common/init.rs
  src/auth/auth_ticket/_common/validate/x_actix_web/log.rs
  src/auth/auth_ticket/_common/validate/x_actix_web/response.rs
  src/avail/unexpected_error/_api/action_notify/action.rs
  src/avail/unexpected_error/_api/action_notify/init.rs
  src/avail/unexpected_error/_api/action_notify/mod.rs
  src/avail/unexpected_error/_api/action_notify/test.rs
  src/avail/unexpected_error/_api/action_notify/x_actix_web/log.rs
  src/avail/unexpected_error/_api/action_notify/x_actix_web/response.rs
  src/avail/unexpected_error/_api/mod.rs
  src/avail/unexpected_error/_api/notify/event.rs
  src/avail/unexpected_error/_api/notify/infra.rs
  src/avail/unexpected_error/_api/notify/init.rs
  src/avail/unexpected_error/_api/notify/init/request_decoder.rs
  src/avail/unexpected_error/_api/notify/method.rs
  src/avail/unexpected_error/_api/notify/x_actix_web/log.rs
  src/avail/unexpected_error/_api/notify/x_actix_web/mod.rs
  src/avail/unexpected_error/_api/notify/x_actix_web/response.rs
  src/avail/unexpected_error/_api/proxy_notify/data.rs
  src/avail/unexpected_error/_api/proxy_notify/infra.rs
  src/avail/unexpected_error/_api/proxy_notify/init.rs
  src/avail/unexpected_error/_api/proxy_notify/init/proxy_service.rs
  src/avail/unexpected_error/_api/proxy_notify/init/request_decoder.rs
  src/avail/unexpected_error/_api/proxy_notify/init/response_encoder.rs
  src/avail/unexpected_error/_api/proxy_notify/mod.rs
  src/avail/unexpected_error/_api/proxy_notify/x_actix_web/mod.rs
  src/avail/unexpected_error/_api/proxy_notify/x_actix_web/response.rs
  src/avail/unexpected_error/_api/x_actix_web/route.rs
  src/avail/unexpected_error/_example/notify/init.rs
  src/avail/unexpected_error/_example/notify/x_tonic/response.rs
  src/avail/unexpected_error/_ui/notify/init/remote/notify.ts
  src/example/_api/x_outside_feature/feature.rs
Due: test-ui, test-api

refactor: proxy
  src/auth/_api/data.rs
  src/auth/_api/infra.rs
  src/auth/_api/init.rs
  src/auth/_api/method.rs
  src/auth/_api/mod.rs
  src/auth/_api/proxy.rs
  src/auth/_common/data.rs
  src/auth/_common/infra.rs
  src/auth/auth_ticket/_api/mod.rs
  src/auth/auth_ticket/_api/proxy_logout/init.rs
  src/auth/auth_ticket/_api/proxy_renew/init.rs
  src/auth/auth_ticket/_api/validate_metadata/data.rs
  src/auth/auth_ticket/_api/validate_metadata/infra.rs
  src/auth/auth_ticket/_api/validate_metadata/init.rs
  src/auth/auth_ticket/_api/validate_metadata/method.rs
  src/auth/auth_ticket/_api/validate_metadata/mod.rs
  src/auth/auth_ticket/_common/validate/data.rs
  src/auth/auth_ticket/_common/validate/infra.rs
  src/auth/auth_ticket/_common/validate/method.rs
  src/auth/password/_api/proxy_authenticate/init.rs
  src/auth/password/_api/proxy_change/init.rs
  src/auth/password/reset/_api/proxy_request_token/init.rs
  src/auth/password/reset/_api/proxy_reset/init.rs
  src/avail/unexpected_error/_api/proxy_notify/init.rs
  src/example/_api/proxy.rs
  src/example/outline/_api/proxy_get_menu_badge/init.rs
Due: test-api

refactor
  src/auth/auth_ticket/_auth/kernel/data.rs
  src/auth/auth_ticket/_auth/kernel/infra.rs
  src/auth/auth_ticket/_auth/kernel/init.rs
  src/auth/auth_ticket/_auth/kernel/x_tonic/log.rs
  src/auth/auth_ticket/_auth/kernel/x_tonic/response.rs
  src/auth/auth_ticket/remote/action_logout/test.rs
  src/auth/auth_ticket/remote/action_renew/test.rs
  src/auth/auth_ticket/remote/action_validate/test.rs
  src/auth/auth_ticket/remote/check_nonce/data.rs
  src/auth/auth_ticket/remote/check_nonce/infra.rs
  src/auth/auth_ticket/remote/check_nonce/init.rs
  src/auth/auth_ticket/remote/check_nonce/init/nonce_repository.rs
  src/auth/auth_ticket/remote/check_nonce/method.rs
  src/auth/auth_ticket/remote/check_nonce/mod.rs
  src/auth/auth_ticket/remote/check_nonce/x_tonic/log.rs
  src/auth/auth_ticket/remote/check_nonce/x_tonic/mod.rs
  src/auth/auth_ticket/remote/check_nonce/x_tonic/response.rs
  src/auth/auth_ticket/remote/mod.rs
  src/auth/auth_ticket/remote/validate/event.rs
  src/auth/auth_ticket/remote/validate/infra.rs
  src/auth/auth_ticket/remote/validate/init.rs
  src/auth/auth_ticket/remote/validate/method.rs
  src/auth/password/remote/action_authenticate/test.rs
  src/auth/password/remote/action_change/test.rs
  src/auth/password/remote/authenticate/event.rs
  src/auth/password/remote/authenticate/infra.rs
  src/auth/password/remote/authenticate/init.rs
  src/auth/password/remote/authenticate/method.rs
  src/auth/password/remote/change/event.rs
  src/auth/password/reset/remote/action_request_token/test.rs
  src/auth/password/reset/remote/action_reset/test.rs
  src/auth/password/reset/remote/request_token/event.rs
  src/auth/password/reset/remote/request_token/infra.rs
  src/auth/password/reset/remote/request_token/init.rs
  src/auth/password/reset/remote/request_token/method.rs
  src/auth/password/reset/remote/reset/event.rs
  src/auth/password/reset/remote/reset/infra.rs
  src/auth/password/reset/remote/reset/init.rs
  src/auth/password/reset/remote/reset/method.rs
Due: test-api

refactor
  src/auth/auth_ticket/remote/action_logout/test.rs
  src/auth/auth_ticket/remote/action_renew/test.rs
  src/auth/auth_ticket/remote/action_validate/test.rs
  src/auth/auth_ticket/remote/proxy_renew/init.rs
  src/auth/auth_ticket/remote/proxy_renew/init/proxy_service.rs
  src/auth/auth_ticket/remote/proxy_renew/init/response_encoder.rs
  src/auth/password/remote/action_authenticate/test.rs
  src/auth/password/remote/action_change/test.rs
  src/auth/password/remote/kernel/infra.rs
  src/auth/password/remote/kernel/init/password_repository.rs
  src/auth/password/remote/proxy_authenticate/data.rs
  src/auth/password/remote/proxy_authenticate/init/proxy_service.rs
  src/auth/password/remote/proxy_authenticate/init/response_encoder.rs
  src/auth/password/remote/proxy_authenticate/x_tonic/response.rs
  src/auth/password/remote/proxy_change/init/proxy_service.rs
  src/auth/password/reset/remote/action_request_token/test.rs
  src/auth/password/reset/remote/action_reset/test.rs
  src/auth/password/reset/remote/kernel/infra.rs
  src/auth/password/reset/remote/proxy_request_token/init/proxy_service.rs
  src/auth/password/reset/remote/proxy_reset/data.rs
  src/auth/password/reset/remote/proxy_reset/init/proxy_service.rs
  src/auth/password/reset/remote/proxy_reset/init/response_encoder.rs
  src/auth/password/reset/remote/proxy_reset/x_tonic/response.rs
  src/auth/password/reset/remote/request_token/event.rs
  src/auth/password/reset/remote/request_token/infra.rs
  src/auth/password/reset/remote/request_token/init.rs
  src/auth/password/reset/remote/request_token/init/token_encoder.rs
  src/auth/password/reset/remote/request_token/method.rs
  src/auth/password/reset/remote/reset/infra.rs
  src/auth/password/reset/remote/reset/init.rs
  src/auth/password/reset/remote/reset/method.rs
Due: test-api

fix: gitlab ci
  .gitlab-ci.yml
Due: none

fix: protobufs
  .gitignore
  src/auth/_api/x_actix_web/route.rs
  src/auth/ticket/kernel/init/remote/renew.ts
  src/auth/ticket/logout/init/logout.ts
  src/auth/ticket/remote/x_actix_web/route.rs
  src/auth/user/password/authenticate/init/remote/authenticate.ts
  src/auth/user/password/change/init/remote/change.ts
  src/auth/user/password/reset/request_token/init/remote/request_token.ts
  src/auth/user/password/reset/reset/init/remote/reset.ts
  src/example/outline/_ui/kernel/init/home.ts
  ui/public/dist/auth/auth-ticket/logout.html
  ui/public/dist/auth/profile.html
  ui/public/dist/docs/auth/auth-ticket/check.html
  ui/public/dist/docs/auth/index.html
  ui/public/dist/docs/auth/logout.html
  ui/public/dist/docs/auth/password/authenticate.html
  ui/public/dist/docs/auth/password/reset.html
  ui/public/dist/docs/avail.html
  ui/public/dist/docs/index.html
  ui/public/dist/docs/privacy-policy.html
  ui/public/dist/index.html
Due: test-ui, test-api

refactor
  src/auth/z_prisma/schema.prisma
Due: none

refactor
  main/_api/main.rs
  main/_auth/main.rs
  src/auth/_api/mod.rs
  src/auth/_auth/mod.rs
  src/auth/remote/mod.rs
  src/auth/remote/service/mod.rs
  src/auth/remote/service/proxy.rs
  src/auth/remote/x_actix_web/mod.rs
  src/auth/remote/x_actix_web/route.rs
  src/auth/remote/x_tonic/mod.rs
  src/auth/remote/x_tonic/route.rs
  src/auth/ticket/remote/proxy_logout/init.rs
  src/auth/ticket/remote/proxy_logout/init/proxy_service.rs
  src/auth/ticket/remote/proxy_logout/init/response_encoder.rs
  src/auth/ticket/remote/proxy_renew/init.rs
  src/auth/ticket/remote/proxy_renew/init/proxy_service.rs
  src/auth/ticket/remote/proxy_renew/init/response_encoder.rs
  src/auth/ticket/remote/x_actix_web/route.rs
  src/auth/user/password/remote/proxy_authenticate/init.rs
  src/auth/user/password/remote/proxy_authenticate/init/proxy_service.rs
  src/auth/user/password/remote/proxy_authenticate/init/response_encoder.rs
  src/auth/user/password/remote/proxy_change/init.rs
  src/auth/user/password/remote/proxy_change/init/proxy_service.rs
  src/auth/user/password/remote/proxy_change/init/response_encoder.rs
  src/auth/user/password/remote/x_actix_web/route.rs
  src/auth/user/password/reset/remote/proxy_request_token/init.rs
  src/auth/user/password/reset/remote/proxy_request_token/init/proxy_service.rs
  src/auth/user/password/reset/remote/proxy_request_token/init/response_encoder.rs
  src/auth/user/password/reset/remote/proxy_reset/init.rs
  src/auth/user/password/reset/remote/proxy_reset/init/proxy_service.rs
  src/auth/user/password/reset/remote/proxy_reset/init/response_encoder.rs
  src/auth/user/password/reset/remote/x_actix_web/route.rs
Due: test-api

refactor
  src/auth/ticket/remote/check_nonce/init.rs
  src/auth/ticket/remote/encode/init.rs
  src/auth/ticket/remote/issue/init.rs
  src/auth/ticket/remote/kernel/init.rs
  src/auth/ticket/remote/validate/init.rs
  src/auth/ticket/remote/validate_api_token/init.rs
  src/auth/user/password/remote/authenticate/init.rs
  src/auth/user/password/remote/change/init.rs
  src/auth/user/password/remote/kernel/init.rs
  src/auth/user/password/reset/remote/request_token/init.rs
  src/auth/user/password/reset/remote/reset/init.rs
  src/auth/user/remote/kernel/init.rs
  src/avail/unexpected_error/_example/notify/init.rs
  src/example/outline/_example/get_menu_badge/init.rs
Due: test-api

refactor
  main/_ui/public/avail/version/move_to_latest/foreground.ts
  main/_ui/public/avail/version/move_to_next/foreground.ts
  src/avail/docs.ts
  src/avail/version/action_find_next/action.ts
  src/avail/version/action_find_next/docs.ts
  src/avail/version/action_find_next/init.ts
  src/avail/version/action_find_next/init/resource.ts
  src/avail/version/action_find_next/mock.ts
  src/avail/version/action_find_next/resource.ts
  src/avail/version/action_find_next/test.ts
  src/avail/version/action_find_next/x_plain/move_to_next_version.ts
  src/avail/version/action_find_next/x_preact/move_to_latest_version.stories.ts
  src/avail/version/action_find_next/x_preact/move_to_latest_version.ts
  src/avail/version/find_next/convert.ts
  src/avail/version/find_next/data.ts
  src/avail/version/find_next/event.ts
  src/avail/version/find_next/helper.ts
  src/avail/version/find_next/infra.ts
  src/avail/version/find_next/init.ts
  src/avail/version/find_next/init/remote/check_deploy_exists.ts
  src/avail/version/find_next/method.ts
  src/avail/version/find_next/mock.ts
  src/avail/version/find_next/test_helper.ts
  src/avail/version/kernel/convert.ts
  src/avail/version/kernel/data.ts
Due: test-ui

refactor
  main/_api/main.rs
  main/_example/main.rs
  main/_ui/public/avail/not_found/foreground.ts
  main/_ui/secure/auth/profile/page.ts
  main/_ui/secure/auth/ticket/logout/page.ts
  src/auth/sign/action_sign/x_preact/sign.ts
  src/auth/ticket/action_check/x_preact/check_auth_info.ts
  src/auth/user/password/action_authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/reset/action_reset/x_preact/reset_password.ts
  src/avail/_example/mod.rs
  src/avail/mod.rs
  src/avail/remote/mod.rs
  src/avail/remote/x_actix_web/mod.rs
  src/avail/remote/x_actix_web/route.rs
  src/avail/remote/x_tonic/mod.rs
  src/avail/remote/x_tonic/route.rs
  src/avail/version/action_find_next/x_preact/move_to_latest_version.ts
  src/avail/version/find_next/init.ts
  src/avail/x_outside_feature/config.ts
  src/avail/x_preact/application_error.stories.ts
  src/avail/x_preact/application_error.ts
  src/avail/x_preact/not_found.stories.ts
  src/avail/x_preact/not_found.ts
  src/docs/action_docs/x_preact/docs.ts
  src/docs/action_docs/x_preact/domain.ts
  src/docs/action_docs/x_preact/domain_detail.ts
  src/docs/action_docs/x_preact/usecase.ts
  src/example/_ui/action_dashboard/x_preact/dashboard.ts
Due: test-ui, test-api

refactor
  src/example/_api/x_actix_web/route.rs
  src/example/_example/x_tonic/route.rs
  src/example/outline/_api/mod.rs
  src/example/outline/_api/x_actix_web/mod.rs
  src/example/outline/_common/mod.rs
  src/example/outline/_example/x_tonic/mod.rs
  src/example/outline/mod.rs
  src/example/outline/remote/action_get_menu_badge/action.rs
  src/example/outline/remote/action_get_menu_badge/init.rs
  src/example/outline/remote/action_get_menu_badge/mod.rs
  src/example/outline/remote/action_get_menu_badge/test.rs
  src/example/outline/remote/action_get_menu_badge/x_tonic/log.rs
  src/example/outline/remote/action_get_menu_badge/x_tonic/mod.rs
  src/example/outline/remote/action_get_menu_badge/x_tonic/response.rs
  src/example/outline/remote/get_menu_badge/data.rs
  src/example/outline/remote/get_menu_badge/event.rs
  src/example/outline/remote/get_menu_badge/infra.rs
  src/example/outline/remote/get_menu_badge/init.rs
  src/example/outline/remote/get_menu_badge/init/menu_badge_repository.rs
  src/example/outline/remote/get_menu_badge/method.rs
  src/example/outline/remote/get_menu_badge/mod.rs
  src/example/outline/remote/get_menu_badge/x_tonic/log.rs
  src/example/outline/remote/get_menu_badge/x_tonic/mod.rs
  src/example/outline/remote/get_menu_badge/x_tonic/response.rs
  src/example/outline/remote/mod.rs
  src/example/outline/remote/proxy_get_menu_badge/data.rs
  src/example/outline/remote/proxy_get_menu_badge/init.rs
  src/example/outline/remote/proxy_get_menu_badge/init/proxy_service.rs
  src/example/outline/remote/proxy_get_menu_badge/init/response_encoder.rs
  src/example/outline/remote/proxy_get_menu_badge/mod.rs
  src/example/outline/remote/proxy_get_menu_badge/x_actix_web/mod.rs
  src/example/outline/remote/proxy_get_menu_badge/x_actix_web/response.rs
  src/example/outline/remote/x_actix_web/mod.rs
  src/example/outline/remote/x_actix_web/response.rs
  src/example/outline/remote/x_actix_web/route.rs
  src/example/outline/remote/x_tonic/mod.rs
  src/example/outline/remote/x_tonic/response.rs
  src/example/outline/remote/x_tonic/route.rs
Due: test-api

refactor
  main/_api/main.rs
  main/_example/main.rs
  src/avail/unexpected_error/remote/proxy_notify/init.rs
  src/avail/unexpected_error/remote/proxy_notify/init/proxy_service.rs
  src/avail/unexpected_error/remote/proxy_notify/init/response_encoder.rs
  src/avail/unexpected_error/remote/x_actix_web/route.rs
  src/example/_api/mod.rs
  src/example/_example/mod.rs
  src/example/mod.rs
  src/example/outline/remote/proxy_get_menu_badge/init.rs
  src/example/outline/remote/proxy_get_menu_badge/init/proxy_service.rs
  src/example/outline/remote/proxy_get_menu_badge/init/response_encoder.rs
  src/example/outline/remote/x_actix_web/route.rs
  src/example/remote/data.rs
  src/example/remote/helper.rs
  src/example/remote/mod.rs
  src/example/remote/proxy.rs
  src/example/remote/service/data.rs
  src/example/remote/service/helper.rs
  src/example/remote/service/mod.rs
  src/example/remote/service/x_actix_web/log.rs
  src/example/remote/service/x_actix_web/mod.rs
  src/example/remote/service/x_actix_web/response.rs
  src/example/remote/service/x_tonic/mod.rs
  src/example/remote/service/x_tonic/response.rs
  src/example/remote/x_actix_web/mod.rs
  src/example/remote/x_actix_web/route.rs
  src/example/remote/x_outside_feature/feature.rs
  src/example/remote/x_outside_feature/init.rs
  src/example/remote/x_outside_feature/mod.rs
  src/example/remote/x_tonic/mod.rs
  src/example/remote/x_tonic/route.rs
  src/x_outside_feature/_api/feature.rs
Due: test-api

refactor
  src/auth/ticket/remote/x_tonic/route.rs
  src/auth/user/password/remote/x_tonic/route.rs
  src/auth/user/password/reset/remote/x_tonic/route.rs
  src/avail/unexpected_error/remote/x_tonic/route.rs
  src/example/outline/remote/x_tonic/route.rs
  src/x_outside_feature/remote/auth/logger.rs
  src/x_outside_feature/remote/example/logger.rs
Due: test-api
