Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

fix: coverage ignore
  ui/config/jest.config.js
Due: none

refactor: css
  example.code-workspace
  package.json
  src/css/font.css
  src/css/line-icons.css
  src/css/site.css
  ui/setup/css.js
Due: none

refactor: config
  example.code-workspace
  package.json
  ui/public/webpack.config.js
  ui/secure/webpack.config.js
  ui/setup/config/jest.config.js
  ui/setup/env/entry_point.js
  ui/setup/env/environment.js
  ui/setup/environment.js
  ui/setup/generate-html.js
Due: none

move: tsconfig
  src/tsconfig.json
  tsconfig.json
Due: none

move: css
  src/x_content/css/font.css
  src/x_content/css/line-icons.css
  src/x_content/css/site.css
  ui/setup/css.js
Due: none

refactor: outline
  src/docs/content/init/resource.ts
  src/docs/content/resource.ts
  src/docs/content/x_preact/domain.ts
  src/docs/content/x_preact/domain_detail.ts
  src/docs/content/x_preact/usecase.ts
  src/example/action_base/init/resource.ts
  src/example/action_base/resource.ts
  src/example/action_dashboard/x_preact/dashboard.ts
  src/example/outline/kernel/convert.ts
  src/example/outline/kernel/infra.ts
  src/example/outline/load/action.ts
  src/example/outline/load/convert.ts
  src/example/outline/load/data.ts
  src/example/outline/load/helper.ts
  src/example/outline/load/infra.ts
  src/example/outline/load/init/config.ts
  src/example/outline/load/init/infra.ts
  src/example/outline/load/init/mock.ts
  src/example/outline/load/init/resource.ts
  src/example/outline/load/init/shell.ts
  src/example/outline/load/test.breadcrumb.ts
  src/example/outline/load/test.ts
  src/example/outline/load/test_helper.ts
  src/example/outline/load/x_preact/load_breadcrumb_list.ts
  src/example/outline/load/x_preact/load_menu.ts
  src/example/outline/load_breadcrumb_list/action.ts
  src/example/outline/load_breadcrumb_list/data.ts
  src/example/outline/load_breadcrumb_list/init/config.ts
  src/example/outline/load_breadcrumb_list/init/mock.ts
  src/example/outline/load_breadcrumb_list/init/resource.ts
  src/example/outline/load_breadcrumb_list/init/shell.ts
  src/x_content/menu/common.ts
  src/x_content/menu/docs_menu.ts
  src/x_content/menu/home_menu.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/ticket/logout/page.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/example/season/setup/page.ts
Due: test-ui

refactor: outline
  src/example/outline/load/action.ts
  src/example/outline/load/infra.ts
  src/example/outline/load/init/infra.ts
  src/example/outline/load/init/menu_badge_remote.ts
  src/example/outline/load/mod.rs
  src/example/outline/load/remote/action.rs
  src/example/outline/load/remote/data.rs
  src/example/outline/load/remote/infra.rs
  src/example/outline/load/remote/init.rs
  src/example/outline/load/remote/init/menu_badge_repository.rs
  src/example/outline/load/remote/mod.rs
  src/example/outline/load/remote/proxy/init.rs
  src/example/outline/load/remote/proxy/init/proxy_service.rs
  src/example/outline/load/remote/proxy/mod.rs
  src/example/outline/load/remote/test.rs
  src/example/outline/load/remote/x_actix_web/mod.rs
  src/example/outline/load/remote/x_actix_web/route.rs
  src/example/outline/load/remote/x_logger/log.rs
  src/example/outline/load/remote/x_logger/mod.rs
  src/example/outline/load/remote/x_tonic/mod.rs
  src/example/outline/load/remote/x_tonic/response.rs
  src/example/outline/load/remote/x_tonic/route.rs
  src/example/outline/load/test.ts
  src/example/outline/mod.rs
  src/example/outline/remote/get_menu_badge/infra.rs
  src/example/outline/remote/get_menu_badge/x_tonic/mod.rs
  src/example/outline/remote/get_menu_badge/x_tonic/response.rs
  src/example/outline/remote/mod.rs
  src/example/outline/remote/x_tonic/response.rs
  src/example/outline/remote/x_tonic/route.rs
  src/example/outline/x_actix_web/mod.rs
  src/example/outline/x_actix_web/route.rs
  src/example/outline/x_tonic/mod.rs
  src/example/outline/x_tonic/route.rs
  src/example/outline/z_protobuf/service.proto
  src/example/remote/x_actix_web/route.rs
  src/example/remote/x_tonic/route.rs
Due: test-ui, test-api

refactor: outline
  main/api/main.rs
  main/example/main.rs
  src/avail/unexpected_error/notify/remote/proxy/init/proxy_service.rs
  src/example/mod.rs
  src/example/outline/load/remote/proxy/init/proxy_service.rs
  src/example/remote/mod.rs
  src/example/x_actix_web/mod.rs
  src/example/x_actix_web/route.rs
  src/example/x_outside_feature/mod.rs
  src/example/x_outside_feature/remote/feature.rs
  src/example/x_outside_feature/remote/init.rs
  src/example/x_outside_feature/remote/mod.rs
  src/example/x_tonic/mod.rs
  src/example/x_tonic/route.rs
  src/x_outside_feature/remote/api/feature.rs
Due: test-api

fix: main
  Cargo.toml
  example.code-workspace
  src/x_main/api/main.rs
  src/x_main/auth/main.rs
  src/x_main/example/main.rs
Due: test-api

refactor: proxy service name
  src/auth/ticket/check/remote/proxy/init/proxy_service.rs
  src/auth/ticket/check/remote/x_tonic/route.rs
  src/auth/ticket/logout/remote/proxy/init/proxy_service.rs
  src/auth/ticket/logout/remote/x_tonic/route.rs
  src/auth/user/account/search/remote/mod.rs
  src/auth/user/account/search/remote/proxy/init/proxy_service.rs
  src/auth/user/account/search/remote/x_logger/log.rs
  src/auth/user/account/search/remote/x_logger/mod.rs
  src/auth/user/account/search/remote/x_tonic/mod.rs
  src/auth/user/account/search/remote/x_tonic/route.rs
  src/auth/user/password/authenticate/remote/mod.rs
  src/auth/user/password/authenticate/remote/proxy/init/proxy_service.rs
  src/auth/user/password/authenticate/remote/x_logger/log.rs
  src/auth/user/password/authenticate/remote/x_logger/mod.rs
  src/auth/user/password/authenticate/remote/x_tonic/mod.rs
  src/auth/user/password/authenticate/remote/x_tonic/route.rs
  src/auth/user/password/change/remote/proxy/init/proxy_service.rs
  src/auth/user/password/change/remote/x_tonic/route.rs
  src/auth/user/password/reset/request_token/remote/proxy/init/proxy_service.rs
  src/auth/user/password/reset/request_token/remote/x_tonic/route.rs
  src/auth/user/password/reset/reset/remote/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/remote/x_tonic/route.rs
  src/avail/unexpected_error/notify/remote/proxy/init/proxy_service.rs
  src/avail/unexpected_error/notify/remote/x_tonic/route.rs
  src/example/outline/load/remote/proxy/init/proxy_service.rs
  src/example/outline/load/remote/x_tonic/route.rs
  src/example/outline/x_tonic/route.rs
  src/x_main/example/main.rs
Due: test-api

fix: environment build
  api/setup/environment.rs
Due: none

add: keep
  src/y_environment/api/.keep
Due: none

fix: build script
  api/setup/build.rs
  api/setup/environment.rs
  src/y_environment/api/.keep
Due: none

fix: environment
  src/y_environment/api/mod.rs
Due: test-api

fix: env
  api/setup/environment.rs
Due: none

move: proto
  api/setup/build.rs
  src/avail/unexpected_error/mod.rs
  src/avail/unexpected_error/notify/api/init.rs
  src/avail/unexpected_error/notify/api/init/request_decoder.rs
  src/avail/unexpected_error/notify/api/proxy/init/proxy_service.rs
  src/avail/unexpected_error/notify/api/x_tonic/response.rs
  src/avail/unexpected_error/notify/api/x_tonic/route.rs
  src/avail/unexpected_error/notify/mod.rs
  src/avail/unexpected_error/notify/y_protobuf/mod.rs
  src/avail/unexpected_error/notify/z_protobuf/service.proto
  src/avail/unexpected_error/x_tonic/route.rs
Due: test-api

move: proto
  src/auth/user/account/search/api/init.rs
  src/auth/user/account/search/api/init/request_decoder.rs
  src/auth/user/account/search/api/proxy/init/proxy_service.rs
  src/auth/user/account/search/api/x_tonic/response.rs
  src/auth/user/account/search/api/x_tonic/route.rs
  src/auth/user/account/search/mod.rs
  src/auth/user/account/search/y_protobuf/mod.rs
  src/auth/user/account/search/z_protobuf/service.proto
  src/auth/user/account/x_tonic/route.rs
  src/auth/user/account/z_protobuf/service.proto
Due: test-api

move: proto
  src/auth/user/password/reset/request_token/api/init.rs
  src/auth/user/password/reset/request_token/api/init/request_decoder.rs
  src/auth/user/password/reset/request_token/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/request_token/api/x_tonic/response.rs
  src/auth/user/password/reset/request_token/api/x_tonic/route.rs
  src/auth/user/password/reset/request_token/mod.rs
  src/auth/user/password/reset/request_token/y_protobuf/mod.rs
  src/auth/user/password/reset/request_token/z_protobuf/service.proto
  src/auth/user/password/reset/x_tonic/route.rs
  src/auth/user/password/reset/z_protobuf/service.proto
Due: test-api

move: proto
  src/auth/user/password/reset/mod.rs
  src/auth/user/password/reset/reset/api/init.rs
  src/auth/user/password/reset/reset/api/init/request_decoder.rs
  src/auth/user/password/reset/reset/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/api/x_tonic/response.rs
  src/auth/user/password/reset/reset/api/x_tonic/route.rs
  src/auth/user/password/reset/reset/mod.rs
  src/auth/user/password/reset/reset/y_protobuf/mod.rs
  src/auth/user/password/reset/reset/z_protobuf/service.proto
  src/auth/user/password/reset/x_tonic/route.rs
Due: test-api

move: proto
  src/auth/user/password/authenticate/api/init.rs
  src/auth/user/password/authenticate/api/init/request_decoder.rs
  src/auth/user/password/authenticate/api/proxy/init/proxy_service.rs
  src/auth/user/password/authenticate/api/x_tonic/response.rs
  src/auth/user/password/authenticate/api/x_tonic/route.rs
  src/auth/user/password/authenticate/mod.rs
  src/auth/user/password/authenticate/y_protobuf/mod.rs
  src/auth/user/password/authenticate/z_protobuf/service.proto
  src/auth/user/password/x_tonic/route.rs
  src/auth/user/password/z_protobuf/service.proto
Due: test-api

move: proto
  src/auth/user/password/change/api/init.rs
  src/auth/user/password/change/api/init/request_decoder.rs
  src/auth/user/password/change/api/proxy/init/proxy_service.rs
  src/auth/user/password/change/api/x_tonic/response.rs
  src/auth/user/password/change/api/x_tonic/route.rs
  src/auth/user/password/change/mod.rs
  src/auth/user/password/change/y_protobuf/mod.rs
  src/auth/user/password/change/z_protobuf/service.proto
  src/auth/user/password/mod.rs
  src/auth/user/password/x_tonic/route.rs
Due: test-api

move: proto
  src/auth/ticket/logout/api/proxy/init/proxy_service.rs
  src/auth/ticket/logout/api/proxy/x_actix_web/response.rs
  src/auth/ticket/logout/api/x_tonic/response.rs
  src/auth/ticket/logout/api/x_tonic/route.rs
  src/auth/ticket/logout/mod.rs
  src/auth/ticket/logout/y_protobuf/mod.rs
  src/auth/ticket/logout/z_protobuf/service.proto
  src/auth/ticket/x_tonic/route.rs
  src/auth/ticket/z_protobuf/service.proto
Due: test-api

move: proto
  src/auth/ticket/check/api/proxy/init/proxy_service.rs
  src/auth/ticket/check/api/x_tonic/response.rs
  src/auth/ticket/check/api/x_tonic/route.rs
  src/auth/ticket/check/mod.rs
  src/auth/ticket/check/y_protobuf/mod.rs
  src/auth/ticket/check/z_protobuf/service.proto
  src/auth/ticket/x_tonic/route.rs
  src/auth/ticket/z_protobuf/service.proto
Due: test-api

move: proto
  src/auth/ticket/validate/init.rs
  src/auth/ticket/validate/init/request_decoder.rs
  src/auth/ticket/validate/init/validate_service.rs
  src/auth/ticket/validate/mod.rs
  src/auth/ticket/validate/x_tonic/response.rs
  src/auth/ticket/validate/x_tonic/route.rs
  src/auth/ticket/validate/y_protobuf/mod.rs
  src/auth/ticket/validate/z_protobuf/service.proto
  src/auth/ticket/x_tonic/route.rs
  src/auth/ticket/z_protobuf/service.proto
  src/auth/user/kernel/x_tonic/response.rs
Due: test-api

fix: main
  Cargo.toml
  src/x_main/example.rs
Due: test-api

rename: proxy
  src/auth/ticket/check/api/x_actix_web/route.rs
  src/auth/ticket/logout/api/x_actix_web/route.rs
  src/auth/user/account/search/api/x_actix_web/route.rs
  src/auth/user/password/authenticate/api/x_actix_web/route.rs
  src/auth/user/password/change/api/x_actix_web/route.rs
  src/auth/user/password/reset/request_token/api/x_actix_web/route.rs
  src/auth/user/password/reset/reset/api/x_actix_web/route.rs
  src/auth/x_outside_feature/api/api/init.rs
  src/avail/unexpected_error/notify/api/proxy/init.rs
  src/avail/unexpected_error/notify/api/x_actix_web/route.rs
  src/example/outline/load/api/proxy/init.rs
  src/example/outline/load/api/x_actix_web/route.rs
  src/example/x_outside_feature/api/init.rs
  src/x_main/api/main.rs
  src/x_outside_feature/api/mod.rs
  src/x_outside_feature/api/proxy/env.rs
  src/x_outside_feature/api/proxy/feature.rs
  src/x_outside_feature/api/proxy/logger.rs
  src/x_outside_feature/api/proxy/mod.rs
Due: test-api

move: proxy
  Cargo.toml
  api/app/proxy/Dockerfile
  api/app/proxy/VERSION
  api/app/proxy/bump/bump.sh
  api/app/proxy/bump/ignore
  api/app/proxy/bump/message.sh
  api/app/proxy/nginx.conf.template
  api/ci/build.sh
  api/ci/deploy.sh
  src/x_main/proxy/main.rs
Due: test-api

move: proxy
  src/auth/ticket/check/api/proxy/init.rs
  src/auth/ticket/check/api/proxy/init/proxy_service.rs
  src/auth/ticket/kernel/api/init/response_builder.rs
  src/auth/ticket/logout/api/proxy/init.rs
  src/auth/user/account/search/api/proxy/init.rs
  src/auth/user/password/authenticate/api/proxy/init.rs
  src/auth/user/password/authenticate/api/proxy/init/proxy_service.rs
  src/auth/user/password/change/api/proxy/init.rs
  src/auth/user/password/reset/request_token/api/proxy/init.rs
  src/auth/user/password/reset/reset/api/proxy/init.rs
  src/auth/user/password/reset/reset/api/proxy/init/proxy_service.rs
  src/auth/x_outside_feature/api/mod.rs
  src/auth/x_outside_feature/api/proxy/feature.rs
  src/auth/x_outside_feature/api/proxy/init.rs
  src/auth/x_outside_feature/api/proxy/mod.rs
  src/example/x_preact/docs/Docs/box.ts
  src/example/x_preact/docs/Docs/contents/z_dev/auth/api.ts
  src/example/x_preact/docs/Docs/contents/z_dev/auth/profile.ts
  src/example/x_preact/docs/Docs/contents/z_dev/auth/user.ts
  src/x_outside_feature/api/proxy/feature.rs
Due: test-ui, test-api

move: core
  Cargo.toml
  api/app/core/Dockerfile
  api/app/core/VERSION
  api/app/core/bump/bump.sh
  api/app/core/bump/ignore
  api/app/core/bump/message.sh
  api/app/core/nginx.conf.template
  api/app/example/bump/bump.sh
  api/app/proxy/nginx.conf.template
  src/x_main/core/main.rs
Due: test-api

move: core
  src/auth/x_outside_feature/api/core/feature.rs
  src/auth/x_outside_feature/api/core/init.rs
  src/auth/x_outside_feature/api/core/mod.rs
  src/auth/x_outside_feature/api/mod.rs
  src/x_outside_feature/api/example/feature.rs
Due: test-api

move: core
  src/auth/x_outside_feature/api/core/init.rs
  src/avail/unexpected_error/notify/api/init.rs
  src/avail/unexpected_error/notify/api/x_tonic/route.rs
  src/example/outline/load/api/init.rs
  src/example/outline/load/api/x_tonic/route.rs
  src/x_main/core/main.rs
  src/x_outside_feature/api/core/env.rs
  src/x_outside_feature/api/core/feature.rs
  src/x_outside_feature/api/core/logger.rs
  src/x_outside_feature/api/core/mod.rs
  src/x_outside_feature/api/mod.rs
Due: test-api

move: core
  src/x_main/secure/core/season/setup/entry.ts
  src/x_main/secure/core/season/setup/page.ts
  src/x_main/secure/core/season/setup/resource.ts
  ui/setup/env/entry_point.js
Due: test-ui

move: core
  src/auth/x_outside_feature/api/core/init.rs
  src/avail/unexpected_error/notify/api/init.rs
  src/avail/unexpected_error/notify/api/proxy/init.rs
  src/avail/unexpected_error/notify/api/proxy/init/proxy_service.rs
  src/core/outline/load/api/init.rs
  src/core/outline/load/api/proxy/init.rs
  src/core/outline/load/api/proxy/init/proxy_service.rs
  src/core/outline/load/api/x_tonic/route.rs
  src/core/x_actix_web/route.rs
  src/core/x_outside_feature/api/feature.rs
  src/core/x_outside_feature/api/init.rs
  src/core/x_tonic/route.rs
  src/x_main/core/main.rs
  src/x_main/proxy/main.rs
  src/x_outside_feature/api/core/env.rs
  src/x_outside_feature/api/core/feature.rs
  src/x_outside_feature/api/proxy/feature.rs
Due: test-api

move: proxy
  src/core/outline/load/api/proxy/init/proxy_service.rs
  src/core/outline/load/api/x_tonic/response.rs
  src/core/outline/load/api/x_tonic/route.rs
  src/core/outline/load/mod.rs
  src/core/outline/load/y_protobuf/mod.rs
  src/core/outline/load/z_protobuf/service.proto
  src/core/outline/mod.rs
  src/core/outline/x_tonic/route.rs
Due: test-api

fix: proto
  src/core/outline/load/init/menu_badge_remote.ts
Due: test-ui

fix: domain
  .envrc
  api/app/core/nginx.conf.template
  src/core/x_outside_feature/api/init.rs
  src/x_outside_feature/api/proxy/env.rs
Due: test-api

fix: db proto
  api/ci/build.sh
  api/ci/deploy.sh
  src/auth/ticket/kernel/init/ticket_repository.ts
  src/auth/ticket/z_protobuf/db.proto
  src/core/outline/load/init/menu_expand_repository.ts
  src/core/outline/z_protobuf/db.proto
  src/core/season/kernel/init/season_repository.ts
  src/core/season/z_protobuf/db.proto
  src/z_lib/ui/search/columns/init/columns_repository.ts
  src/z_lib/ui/search/z_protobuf/db.proto
Due: test-ui
