Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

test-ui:
  stage: test
  variables:
    SECURE_SERVER_URL: https://secure.example.com
    API_SERVER_URL: https://api.example.com
  before_script:
  - npm clean-install
  script:
  - npm test
  - npm run build

test-api:
  stage: test
  image: rust:1-buster
  before_script:
  - rustup install nightly
  - rustup component add --toolchain nightly llvm-tools-preview
  - cargo install rustfilt
  - cargo install grcov
  script:
  - ./api/ci/test.sh

release-ui:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $UI_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_deploy-ui:
  stage: release_deploy
  when: on_success
  variables:
    BUILD_ENV: production
  before_script:
  - apt-get update && apt-get install -y python3-pip
  - pip3 install awscli
  - npm clean-install
  script:
  - ./ui/ci/deploy.sh

release_success-ui:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release_failure-ui:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release-api:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $API_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_build-api:
  stage: release_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - api/ci/build.sh

release_deploy-api:
  stage: release_deploy
  when: on_success
  image: google/cloud-sdk:latest
  script:
  - api/ci/deploy.sh

release_success-api:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

release_failure-api:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

refactor: auth clock infra
  src/auth/auth_ticket/_auth/kernel/infra.rs
  src/auth/auth_ticket/_auth/kernel/init.rs
  src/auth/password/reset/_auth/action_request_token/test.rs
  src/auth/password/reset/_auth/action_reset/test.rs
  src/auth/password/reset/_auth/request_token/infra.rs
  src/auth/password/reset/_auth/request_token/init.rs
  src/auth/password/reset/_auth/request_token/method.rs
  src/auth/password/reset/_auth/reset/infra.rs
  src/auth/password/reset/_auth/reset/init.rs
  src/auth/password/reset/_auth/reset/method.rs
Due: test-api

refactor: tonic request
  src/auth/auth_ticket/_auth/action_logout/init.rs
  src/auth/auth_ticket/_auth/action_renew/init.rs
  src/auth/auth_ticket/_auth/kernel/init.rs
  src/auth/auth_ticket/_auth/kernel/init/nonce_metadata.rs
  src/auth/auth_ticket/_auth/validate/init.rs
  src/auth/auth_ticket/_auth/x_tonic/route.rs
  src/auth/password/_auth/authenticate/init.rs
  src/auth/password/_auth/x_tonic/route.rs
  src/auth/password/reset/_auth/action_request_token/init.rs
  src/auth/password/reset/_auth/action_reset/init.rs
  src/auth/password/reset/_auth/request_token/init.rs
  src/auth/password/reset/_auth/reset/init.rs
  src/auth/password/reset/_auth/x_tonic/route.rs
  src/x_outside_feature/_auth/feature.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_auth/action_logout/test.rs
  src/auth/auth_ticket/_auth/discard/infra.rs
  src/auth/auth_ticket/_auth/discard/init.rs
  src/auth/auth_ticket/_auth/discard/method.rs
  src/auth/auth_ticket/_auth/kernel/init.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/auth_ticket/_api/logout/init.rs
  src/auth/auth_ticket/_api/renew/init.rs
  src/auth/auth_ticket/_auth/action_renew/test.rs
  src/auth/auth_ticket/_auth/encode/infra.rs
  src/auth/auth_ticket/_auth/encode/init.rs
  src/auth/auth_ticket/_auth/encode/method.rs
  src/auth/auth_ticket/_auth/issue/infra.rs
  src/auth/auth_ticket/_auth/issue/init.rs
  src/auth/auth_ticket/_auth/issue/method.rs
  src/auth/auth_ticket/_auth/validate/init.rs
  src/auth/auth_user/_auth/kernel/init.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_auth/action_authenticate/test.rs
  src/auth/password/_auth/kernel/init.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_auth/action_reset/test.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_auth/kernel/infra.rs
  src/auth/auth_ticket/_auth/kernel/init.rs
Due: test-api

refactor: infra
  src/auth/password/_auth/action_authenticate/test.rs
  src/auth/password/_auth/authenticate/infra.rs
  src/auth/password/_auth/authenticate/init.rs
  src/auth/password/_auth/authenticate/method.rs
Due: test-api

refactor: infra
  src/auth/password/_auth/action_authenticate/test.rs
  src/auth/password/_auth/authenticate/infra.rs
  src/auth/password/_auth/authenticate/init.rs
  src/auth/password/_auth/authenticate/method.rs
  src/auth/password/_auth/kernel/infra.rs
  src/auth/password/_auth/kernel/init.rs
Due: test-api

refactor: infra
  src/auth/password/_auth/kernel/infra.rs
  src/auth/password/_auth/kernel/init.rs
  src/auth/password/reset/_auth/action_request_token/test.rs
  src/auth/password/reset/_auth/request_token/infra.rs
  src/auth/password/reset/_auth/request_token/init.rs
  src/auth/password/reset/_auth/request_token/method.rs
Due: test-api

refactor: infra
  src/auth/password/reset/_auth/action_request_token/test.rs
  src/auth/password/reset/_auth/request_token/infra.rs
  src/auth/password/reset/_auth/request_token/init.rs
  src/auth/password/reset/_auth/request_token/method.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/auth_ticket/_api/logout/init.rs
  src/auth/auth_ticket/_api/renew/init.rs
  src/auth/auth_ticket/_auth/action_logout/test.rs
  src/auth/auth_ticket/_auth/action_renew/test.rs
  src/auth/auth_ticket/_auth/discard/init.rs
  src/auth/auth_ticket/_auth/encode/init.rs
  src/auth/auth_ticket/_auth/issue/init.rs
  src/auth/auth_ticket/_auth/kernel/infra.rs
  src/auth/auth_ticket/_auth/kernel/init.rs
  src/auth/auth_ticket/_auth/validate/init.rs
  src/auth/auth_ticket/_auth/validate/init/token_metadata.rs
  src/auth/auth_user/_auth/kernel/infra.rs
  src/auth/auth_user/_auth/kernel/init.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_auth/action_authenticate/test.rs
  src/auth/password/_auth/authenticate/init.rs
  src/auth/password/_auth/kernel/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_auth/action_request_token/test.rs
  src/auth/password/reset/_auth/action_reset/test.rs
  src/auth/password/reset/_auth/request_token/init.rs
  src/auth/password/reset/_auth/request_token/init/token_encoder.rs
  src/auth/password/reset/_auth/request_token/init/token_notifier.rs
  src/auth/password/reset/_auth/reset/infra.rs
  src/auth/password/reset/_auth/reset/init.rs
  src/auth/password/reset/_auth/reset/method.rs
Due: test-api

refactor: infra
  src/auth/password/_auth/kernel/infra.rs
  src/auth/password/_auth/kernel/init.rs
  src/auth/password/reset/_auth/action_reset/test.rs
  src/auth/password/reset/_auth/reset/infra.rs
  src/auth/password/reset/_auth/reset/init.rs
  src/auth/password/reset/_auth/reset/method.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_auth/action_logout/action.rs
  src/auth/auth_ticket/_auth/action_logout/init.rs
  src/auth/auth_ticket/_auth/action_logout/test.rs
  src/auth/auth_ticket/_auth/action_renew/action.rs
  src/auth/auth_ticket/_auth/action_renew/init.rs
  src/auth/auth_ticket/_auth/action_renew/test.rs
  src/auth/auth_ticket/_auth/discard/method.rs
  src/auth/auth_ticket/_auth/kernel/infra.rs
  src/auth/password/_auth/action_authenticate/action.rs
  src/auth/password/_auth/action_authenticate/init.rs
  src/auth/password/_auth/action_authenticate/test.rs
  src/auth/password/reset/_auth/action_request_token/action.rs
  src/auth/password/reset/_auth/action_request_token/init.rs
  src/auth/password/reset/_auth/action_request_token/test.rs
  src/auth/password/reset/_auth/action_reset/action.rs
  src/auth/password/reset/_auth/action_reset/init.rs
  src/auth/password/reset/_auth/action_reset/test.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init/token_messenger.rs
  src/auth/auth_ticket/_api/kernel/x_actix_web/response.rs
  src/auth/auth_ticket/_api/logout/infra.rs
  src/auth/auth_ticket/_api/logout/init.rs
  src/auth/auth_ticket/_api/logout/method.rs
  src/auth/auth_ticket/_api/renew/event.rs
  src/auth/auth_ticket/_api/renew/infra.rs
  src/auth/auth_ticket/_api/renew/init.rs
  src/auth/auth_ticket/_api/renew/init/response_encoder.rs
  src/auth/auth_ticket/_api/renew/method.rs
  src/auth/password/_api/authenticate/data.rs
  src/auth/password/_api/authenticate/init/response_encoder.rs
  src/auth/password/reset/_api/reset/data.rs
  src/auth/password/reset/_api/reset/init/response_encoder.rs
Due: test-api

refactor: auth service error
  src/auth/_api/service/data.rs
  src/auth/_api/service/helper.rs
  src/auth/_api/service/x_actix_web/log.rs
  src/auth/_api/service/x_actix_web/response.rs
  src/auth/_api/service/x_tonic/response.rs
  src/auth/auth_ticket/_api/logout/event.rs
  src/auth/auth_ticket/_api/logout/infra.rs
  src/auth/auth_ticket/_api/logout/init/logout_service.rs
  src/auth/auth_ticket/_api/renew/event.rs
  src/auth/auth_ticket/_api/renew/infra.rs
  src/auth/auth_ticket/_api/renew/init/renew_service.rs
  src/auth/password/_api/authenticate/event.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init/authenticate_service.rs
  src/auth/password/reset/_api/request_token/event.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init/request_token_service.rs
  src/auth/password/reset/_api/reset/event.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init/reset_service.rs
Due: test-api

refactor: auth service error
  src/auth/password/_auth/authenticate/method.rs
  src/auth/password/reset/_auth/request_token/method.rs
  src/auth/password/reset/_auth/reset/method.rs
Due: test-api

refactor: request decoder
  src/auth/auth_ticket/_api/action_logout/init.rs
  src/auth/auth_ticket/_api/action_renew/init.rs
  src/auth/auth_ticket/_api/x_actix_web/route.rs
  src/auth/password/_api/action_authenticate/action.rs
  src/auth/password/_api/action_authenticate/init.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/action_authenticate/x_actix_web/log.rs
  src/auth/password/_api/action_authenticate/x_actix_web/response.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/authenticate/init/request_decoder.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/x_actix_web/route.rs
  src/auth/password/_common/authenticate/infra.rs
Due: test-api

refactor: infra
  src/auth/password/_api/action_authenticate/action.rs
  src/auth/password/_api/authenticate/event.rs
  src/auth/password/reset/_api/action_request_token/action.rs
  src/auth/password/reset/_api/action_request_token/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_request_token/x_actix_web/log.rs
  src/auth/password/reset/_api/action_request_token/x_actix_web/response.rs
  src/auth/password/reset/_api/request_token/event.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/init/request_decoder.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/x_actix_web/route.rs
  src/auth/password/reset/_common/request_token/infra.rs
Due: test-api

refactor: infra
  src/auth/password/reset/_api/action_reset/action.rs
  src/auth/password/reset/_api/action_reset/init.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/action_reset/x_actix_web/log.rs
  src/auth/password/reset/_api/action_reset/x_actix_web/response.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
  src/auth/password/reset/_api/x_actix_web/route.rs
Due: test-api

refactor: infra
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init/request_decoder.rs
  src/auth/password/reset/_common/reset/infra.rs
Due: test-api

ignore: action coverage
  api/ci/test.sh
Due: none

refactor: repository
  src/auth/auth_ticket/_auth/discard/infra.rs
  src/auth/auth_ticket/_auth/discard/method.rs
  src/auth/auth_ticket/_auth/issue/infra.rs
  src/auth/auth_ticket/_auth/issue/method.rs
  src/auth/auth_ticket/_auth/kernel/infra.rs
  src/auth/auth_ticket/_auth/kernel/init/ticket_repository.rs
  src/auth/password/_auth/authenticate/infra.rs
  src/auth/password/_auth/authenticate/method.rs
  src/auth/password/_auth/kernel/infra.rs
  src/auth/password/_auth/kernel/init/password_repository.rs
  src/auth/password/reset/_auth/request_token/infra.rs
  src/auth/password/reset/_auth/request_token/method.rs
  src/auth/password/reset/_auth/reset/infra.rs
  src/auth/password/reset/_auth/reset/method.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

refactor: validate api token infra
  src/auth/auth_ticket/_api/validate/infra.rs
  src/auth/auth_ticket/_api/validate/init.rs
  src/auth/auth_ticket/_api/validate/method.rs
Due: test-api

refactor: init action
  src/auth/auth_ticket/_api/action_logout/init.rs
  src/auth/auth_ticket/_api/action_renew/init.rs
  src/auth/auth_ticket/_api/x_actix_web/route.rs
  src/auth/auth_ticket/_auth/action_logout/init.rs
  src/auth/auth_ticket/_auth/action_renew/init.rs
  src/auth/auth_ticket/_auth/action_validate/init.rs
  src/auth/auth_ticket/_auth/x_tonic/route.rs
  src/auth/password/_api/action_authenticate/init.rs
  src/auth/password/_api/x_actix_web/route.rs
  src/auth/password/_auth/action_authenticate/init.rs
  src/auth/password/_auth/x_tonic/route.rs
  src/auth/password/reset/_api/action_request_token/init.rs
  src/auth/password/reset/_api/action_reset/init.rs
  src/auth/password/reset/_api/x_actix_web/route.rs
  src/auth/password/reset/_auth/action_request_token/init.rs
  src/auth/password/reset/_auth/action_reset/init.rs
  src/auth/password/reset/_auth/x_tonic/route.rs
  src/avail/_api/action_notify_unexpected_error/init.rs
  src/avail/_api/x_actix_web/route.rs
Due: test-api

fix: unexpected error message
  api/setup/protobuf.rs
  main/_api/main.rs
  src/auth/auth_ticket/_ui/kernel/init/remote/renew.ts
  src/auth/auth_ticket/_ui/logout/init/logout.ts
  src/auth/password/_ui/authenticate/init/remote/authenticate.ts
  src/auth/password/reset/_ui/request_token/init/remote/request_token.ts
  src/auth/password/reset/_ui/reset/init/remote/reset.ts
  src/avail/_ui/notify_unexpected_error/init/remote/notify.ts
  src/outline/_ui/kernel/init/remote/get_menu_badge/fetch.ts
Due: test-ui

refactor: unexpected error
  .eslintignore
  src/auth/_ui/action_profile/x_preact/profile.stories.ts
  src/auth/_ui/action_profile/x_preact/profile.ts
  src/avail/docs.ts
  src/avail/unexpected_error/_ui/action_notify/core/action.ts
  src/avail/unexpected_error/_ui/action_notify/core/impl.ts
  src/avail/unexpected_error/_ui/action_notify/core/mock.ts
  src/avail/unexpected_error/_ui/action_notify/docs.ts
  src/avail/unexpected_error/_ui/action_notify/impl.ts
  src/avail/unexpected_error/_ui/action_notify/init.ts
  src/avail/unexpected_error/_ui/action_notify/mock.ts
  src/avail/unexpected_error/_ui/action_notify/resource.ts
  src/avail/unexpected_error/_ui/action_notify/test.ts
  src/avail/unexpected_error/_ui/action_notify/x_preact/hooks.ts
  src/avail/unexpected_error/_ui/notify/data.ts
  src/avail/unexpected_error/_ui/notify/infra.ts
  src/avail/unexpected_error/_ui/notify/init.ts
  src/avail/unexpected_error/_ui/notify/init/remote/notify.ts
  src/avail/unexpected_error/_ui/notify/method.ts
  src/avail/version/_ui/action_find_next/docs.ts
  src/docs/action_docs/init.ts
  src/docs/action_docs/mock.ts
  src/docs/action_docs/resource.ts
  src/docs/action_docs/x_preact/docs.ts
  src/docs/action_docs/x_preact/domain.ts
  src/docs/action_docs/x_preact/usecase.ts
  src/example/_ui/action_base/init.ts
  src/example/_ui/action_base/mock.ts
  src/example/_ui/action_base/resource.ts
  src/example/_ui/action_dashboard/x_preact/dashboard.ts
  ui/setup/theme.sh
Due: test-ui

add: avail docs
  main/_ui/secure/docs/avail/foreground.ts
  src/avail/docs.ts
  src/docs/action_docs/x_preact/domain_detail.ts
  src/docs/action_docs/x_preact/helper.ts
  src/outline/_ui/kernel/init/docs.ts
  ui/vendor/getto-application/docs/data.ts
  ui/vendor/getto-application/docs/helper.ts
Due: test-ui

add: outline menu
  Cargo.toml
  main/_api/main.rs
  main/_example/main.rs
  src/outline/_api/get_menu_badge/init/get_menu_badge_service.rs
  src/outline/_api/x_actix_web/route.rs
  src/outline/_common/x_tonic/response.rs
  src/outline/_example/action_get_menu_badge/action.rs
  src/outline/_example/action_get_menu_badge/init.rs
  src/outline/_example/action_get_menu_badge/mod.rs
  src/outline/_example/action_get_menu_badge/test.rs
  src/outline/_example/action_get_menu_badge/x_tonic/log.rs
  src/outline/_example/action_get_menu_badge/x_tonic/mod.rs
  src/outline/_example/action_get_menu_badge/x_tonic/response.rs
  src/outline/_example/get_menu_badge/event.rs
  src/outline/_example/get_menu_badge/infra.rs
  src/outline/_example/get_menu_badge/init.rs
  src/outline/_example/get_menu_badge/init/menu_badge_repository.rs
  src/outline/_example/get_menu_badge/method.rs
  src/outline/_example/get_menu_badge/mod.rs
  src/outline/_example/get_menu_badge/x_tonic/log.rs
  src/outline/_example/get_menu_badge/x_tonic/mod.rs
  src/outline/_example/get_menu_badge/x_tonic/response.rs
  src/outline/_example/mod.rs
  src/outline/_example/x_tonic/mod.rs
  src/outline/_example/x_tonic/route.rs
  src/outline/_ui/kernel/init/remote/get_menu_badge/fetch.ts
  src/outline/mod.rs
  src/outline/z_protobuf/service.proto
  src/x_outside_feature/_example/env.rs
  src/x_outside_feature/_example/feature.rs
  src/x_outside_feature/_example/logger.rs
  src/x_outside_feature/_example/mod.rs
  src/x_outside_feature/mod.rs
Due: test-ui, test-api

rename: example feature
  src/example/_api/x_outside_feature/feature.rs
  src/example/_api/x_outside_feature/init.rs
  src/example/outline/_api/get_menu_badge/init/get_menu_badge_service.rs
  src/x_outside_feature/_api/feature.rs
Due: test-api

fix: pb path
  src/example/outline/_example/get_menu_badge/init/menu_badge_repository.rs
  src/example/outline/_ui/kernel/init/remote/get_menu_badge/fetch.ts
Due: test-ui, test-api

refactor: input board action
  src/auth/login_id/_ui/action_input/core/action.ts
  src/auth/login_id/_ui/action_input/core/impl.ts
  src/auth/login_id/_ui/action_input/core/mock.ts
  src/auth/login_id/_ui/action_input/test.ts
  src/auth/login_id/_ui/action_input/x_preact/input.ts
  src/auth/password/_ui/action_authenticate/test.ts
  src/auth/password/_ui/action_input/x_preact/input.ts
  src/auth/password/reset/_ui/action_request_token/test.ts
  src/auth/password/reset/_ui/action_reset/test.ts
  ui/vendor/getto-application/board/action_input/action.ts
  ui/vendor/getto-application/board/action_input/impl.ts
  ui/vendor/getto-application/board/action_input/mock.ts
  ui/vendor/getto-application/board/action_input/test.ts
  ui/vendor/getto-application/board/action_input/x_preact/input.stories.ts
  ui/vendor/getto-application/board/action_input/x_preact/input.ts
  ui/vendor/getto-application/board/input/data.ts
  ui/vendor/getto-application/board/input/infra.ts
  ui/vendor/getto-application/board/input/init/connector.ts
  ui/vendor/getto-application/board/input/init/pubsub.ts
Due: test-ui

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION
