Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

test-ui:
  stage: test
  variables:
    SECURE_SERVER_URL: https://secure.example.com
    API_SERVER_URL: https://api.example.com
  before_script:
  - npm clean-install
  script:
  - npm test
  - npm run build

test-api:
  stage: test
  image: rust:1-buster
  before_script:
  - rustup install nightly
  - rustup component add --toolchain nightly llvm-tools-preview
  - cargo install rustfilt
  - cargo install grcov
  script:
  - ./api/ci/test.sh

release-ui:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $UI_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_deploy-ui:
  stage: release_deploy
  when: on_success
  variables:
    BUILD_ENV: production
  before_script:
  - apt-get update && apt-get install -y python3-pip
  - pip3 install awscli
  - npm clean-install
  script:
  - ./ui/ci/deploy.sh

release_success-ui:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release_failure-ui:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release-api:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $API_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_build-api:
  stage: release_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - api/ci/build.sh

release_deploy-api:
  stage: release_deploy
  when: on_success
  image: google/cloud-sdk:latest
  script:
  - api/ci/deploy.sh

release_success-api:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

release_failure-api:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

fix: authenticate input validation test
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/password/_api/action_authenticate/test.rs
Due: test-api

refactor: ticket id generator
  src/auth/auth_ticket/_api/issue/infra.rs
  src/auth/auth_ticket/_api/issue/method.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/infra/ticket_repository.rs
Due: test-api

refactor: password matcher
  src/auth/password/_api/authenticate/data.rs
  src/auth/password/_api/authenticate/event.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/infra/password_hash.rs
  src/auth/password/_api/authenticate/infra/password_matcher.rs
  src/auth/password/_api/authenticate/infra/password_repository.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/authenticate/x_actix_web/log.rs
  src/auth/password/_api/authenticate/x_actix_web/response.rs
Due: test-api

refactor: logout
  src/auth/auth_ticket/_ui/action_logout/core/action.ts
  src/auth/auth_ticket/_ui/action_logout/core/impl.ts
  src/auth/auth_ticket/_ui/action_logout/docs.ts
  src/auth/auth_ticket/_ui/action_logout/init.ts
  src/auth/auth_ticket/_ui/action_logout/test.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.stories.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.ts
  src/auth/auth_ticket/_ui/clear/data.ts
  src/auth/auth_ticket/_ui/clear/event.ts
  src/auth/auth_ticket/_ui/clear/infra.ts
  src/auth/auth_ticket/_ui/clear/method.ts
  src/auth/auth_ticket/_ui/logout/data.ts
  src/auth/auth_ticket/_ui/logout/event.ts
  src/auth/auth_ticket/_ui/logout/infra.ts
  src/auth/auth_ticket/_ui/logout/infra/logout.ts
  src/auth/auth_ticket/_ui/logout/init.ts
  src/auth/auth_ticket/_ui/logout/method.ts
  src/auth/docs.ts
  src/x_main/secure/docs/auth/logout/foreground.ts
  ui/public/dist/docs/auth/logout.html
Due: test-ui

add: logout action
  src/auth/auth_ticket/_api/action_logout/action.rs
  src/auth/auth_ticket/_api/action_logout/init.rs
  src/auth/auth_ticket/_api/action_logout/mod.rs
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_logout/x_actix_web/log.rs
  src/auth/auth_ticket/_api/action_logout/x_actix_web/mod.rs
  src/auth/auth_ticket/_api/action_logout/x_actix_web/response.rs
  src/auth/auth_ticket/_api/discard/event.rs
  src/auth/auth_ticket/_api/discard/infra.rs
  src/auth/auth_ticket/_api/discard/infra/id_generator.rs
  src/auth/auth_ticket/_api/discard/init.rs
  src/auth/auth_ticket/_api/discard/method.rs
  src/auth/auth_ticket/_api/discard/mod.rs
  src/auth/auth_ticket/_api/discard/x_actix_web/log.rs
  src/auth/auth_ticket/_api/discard/x_actix_web/mod.rs
  src/auth/auth_ticket/_api/discard/x_actix_web/response.rs
  src/auth/auth_ticket/_api/encode/method.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/infra/ticket_repository.rs
  src/auth/auth_ticket/_api/mod.rs
  src/auth/auth_ticket/_api/x_actix_web/route.rs
  src/auth/auth_ticket/_ui/kernel/infra/remote/renew.ts
  src/auth/auth_ticket/_ui/logout/infra/logout.ts
Due: test-ui, test-api

add: password reset docs
  src/auth/docs.ts
  src/auth/password/reset/_ui/action_request_token/docs.ts
  src/auth/password/reset/docs.ts
  src/x_main/secure/docs/auth/reset_password/foreground.ts
  ui/public/dist/docs/auth/reset-password.html
Due: test-ui

add: demo method
  .envrc
  src/main.rs
Due: test-api

remove: get current resource
  src/avail/_ui/action_not_found/impl.ts
  src/avail/_ui/action_not_found/init.ts
  src/avail/_ui/action_not_found/resource.ts
  src/avail/_ui/action_not_found/test.ts
  src/avail/_ui/action_not_found/x_preact/not_found.stories.ts
  src/avail/_ui/action_not_found/x_preact/not_found.ts
  src/avail/_ui/x_preact/application_error.ts
  src/avail/version/action_get_current/core/action.ts
  src/avail/version/action_get_current/core/impl.ts
  src/avail/version/action_get_current/impl.ts
  src/avail/version/action_get_current/init.ts
  src/avail/version/action_get_current/resource.ts
  src/avail/version/action_get_current/test.ts
  src/avail/version/convert.ts
  src/avail/version/find_next/method.ts
  src/avail/version/get_current/infra.ts
  src/avail/version/get_current/method.ts
  src/x_main/public/avail/not_found/foreground.ts
Due: test-ui

move: not found
  src/avail/_ui/x_preact/not_found.stories.ts
  src/avail/_ui/x_preact/not_found.ts
  src/x_main/public/avail/not_found/foreground.ts
Due: test-ui

fix: async infra
  .envrc
  Cargo.lock
  Cargo.toml
  src/auth/auth_ticket/_api/encode/x_actix_web/response.rs
  src/auth/auth_ticket/_api/issue/x_actix_web/response.rs
  src/auth/auth_ticket/_api/validate/x_actix_web/response.rs
  src/auth/password/_api/authenticate/x_actix_web/response.rs
  src/auth/password/_api/x_actix_web/route.rs
  src/auth/password/reset/_api/action_request_token/action.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/request_token/data.rs
  src/auth/password/reset/_api/request_token/event.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/infra/token_notifier.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/request_token/x_actix_web/log.rs
  src/auth/password/reset/_api/request_token/x_actix_web/response.rs
  src/auth/password/reset/_api/x_actix_web/route.rs
  src/main.rs
Due: test-api

impl: token notifier
  .envrc
  Cargo.lock
  Cargo.toml
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/password/reset/_api/kernel/data.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/infra/token_notifier.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/method.rs
Due: test-api

add: y_environment/api
  api/setup/build.rs
  api/setup/environment.rs
  api/setup/protobuf.rs
  src/lib.rs
  src/main.rs
  src/y_environment/_api/.keep
Due: test-api

fix: root handler name
  src/main.rs
Due: test-api

refactor: env
  Cargo.lock
  Cargo.toml
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_ticket/_api/validate/infra/token_validator.rs
  src/auth/auth_ticket/_api/x_actix_web/route.rs
  src/auth/password/_api/x_actix_web/route.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/x_actix_web/route.rs
  src/main.rs
  src/x_outside_feature/_api/data.rs
  src/x_outside_feature/_api/env.rs
  src/x_outside_feature/_api/init.rs
  src/x_outside_feature/_api/mod.rs
  src/x_outside_feature/_api/secret.rs
  src/x_outside_feature/_api/state.rs
  src/z_details/_api/jwt/helper.rs
Due: test-api

fix: coverage check
  api/ci/test.sh
Due: none

comment: test.sh
  api/ci/test.sh
Due: none

add: y_environment/_api/mod.rs
  src/y_environment/_api/mod.rs
Due: test-api

add: y_environment
  src/y_environment/mod.rs
Due: test-api

fix: api test
  api/ci/test.sh
Due: none

add: reset
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/issue/method.rs
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/method.rs
  src/auth/auth_ticket/_api/validate/infra.rs
  src/auth/auth_ticket/_api/validate/infra/token_decoder.rs
  src/auth/auth_ticket/_api/validate/init.rs
  src/auth/auth_ticket/_api/validate/method.rs
  src/auth/password/_api/action_authenticate/init.rs
  src/auth/password/_api/authenticate/event.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/infra/messenger.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/infra/password_hasher.rs
  src/auth/password/_api/kernel/infra/password_repository.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/mod.rs
  src/auth/password/reset/_api/request_token/data.rs
  src/auth/password/reset/_api/request_token/event.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/infra/messenger.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/reset/data.rs
  src/auth/password/reset/_api/reset/event.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/infra/destination_repository.rs
  src/auth/password/reset/_api/reset/infra/messenger.rs
  src/auth/password/reset/_api/reset/infra/token_decoder.rs
  src/auth/password/reset/_api/reset/infra/token_encoder.rs
  src/auth/password/reset/_api/reset/infra/token_generator.rs
  src/auth/password/reset/_api/reset/infra/token_notifier.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
  src/auth/password/reset/_api/reset/x_actix_web/log.rs
  src/auth/password/reset/_api/reset/x_actix_web/response.rs
  src/z_details/_api/repository/helper.rs
Due: test-api

add: reset test
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/encode/infra/messenger.rs
  src/auth/auth_ticket/_api/encode/init.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/infra/password_repository.rs
  src/auth/password/reset/_api/action_reset/action.rs
  src/auth/password/reset/_api/action_reset/init.rs
  src/auth/password/reset/_api/action_reset/mod.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/action_reset/x_actix_web/log.rs
  src/auth/password/reset/_api/action_reset/x_actix_web/mod.rs
  src/auth/password/reset/_api/action_reset/x_actix_web/response.rs
  src/auth/password/reset/_api/kernel/data.rs
  src/auth/password/reset/_api/mod.rs
  src/auth/password/reset/_api/reset/data.rs
  src/auth/password/reset/_api/reset/event.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/infra/messenger.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

fix: ci setup
  .gitlab-ci.yml
  api/ci/setup-test.sh
Due: none

fix: setup script
  api/ci/setup-test.sh
Due: none

fix: setup ci
  api/ci/setup-test.sh
Due: none

fix: ci
  .gitlab-ci.yml
  api/ci/setup-test.sh
  api/ci/test.sh
Due: none

fix: gitlab ci
  .gitlab-ci.yml
  api/ci/test.sh
Due: none

fix: gitlab ci
  .gitlab-ci.yml
Due: none

refactor: response
  .gitlab-ci.yml
  api/ci/test.sh
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/data.rs
  src/auth/password/_api/authenticate/event.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/infra/messenger.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/authenticate/x_actix_web/response.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/infra/password_repository.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/request_token/data.rs
  src/auth/password/reset/_api/request_token/event.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/infra/messenger.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/request_token/x_actix_web/response.rs
  src/auth/password/reset/_api/reset/data.rs
  src/auth/password/reset/_api/reset/event.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/infra/messenger.rs
  src/auth/password/reset/_api/reset/method.rs
  src/auth/password/reset/_api/reset/x_actix_web/response.rs
Due: test-api

fix: styling
  src/auth/password/reset/_api/request_token/method.rs
Due: test-api

fix: env
  .envrc
Due: none

add: reset route
  src/auth/password/reset/_api/x_actix_web/route.rs
  src/auth/password/reset/_ui/reset/infra/remote/reset.ts
Due: test-ui, test-api

apply: lint rule
  src/auth/password/reset/_api/reset/infra/token_decoder.rs
  src/lib.rs
  src/main.rs
Due: test-api

fix: lint role
  api/setup/protobuf.rs
  src/auth/auth_ticket/_api/validate/infra/token_decoder.rs
  src/lib.rs
  src/main.rs
Due: test-api

fix: constructor
  src/auth/password/_api/kernel/data.rs
  src/auth/password/reset/_api/kernel/data.rs
Due: test-api

fix: docs
  src/auth/docs.ts
  src/auth/password/docs.ts
  src/auth/password/reset/_ui/action_reset/docs.ts
  src/auth/password/reset/docs.ts
Due: test-ui

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION
