Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

fix: ui proto
  package.json
  src/auth/ticket/check/action.ts
  src/auth/ticket/check/convert.ts
  src/auth/ticket/check/infra.ts
  src/auth/ticket/check/init/check_remote.ts
  src/auth/ticket/check/init/config.ts
  src/auth/ticket/check/init/view.ts
  src/auth/ticket/check/method.ts
  src/auth/ticket/check/test.ts
  src/auth/ticket/kernel/convert.ts
  src/auth/ticket/kernel/infra.ts
  src/auth/ticket/start_continuous_renew/event.ts
  src/auth/ticket/start_continuous_renew/infra.ts
  src/auth/ticket/start_continuous_renew/init/config.ts
  src/auth/ticket/z_protobuf/api.proto
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/z_protobuf/api.proto
  src/auth/user/password/authenticate/action.ts
  src/auth/user/password/authenticate/init/authenticate_remote.ts
  src/auth/user/password/authenticate/init/config.ts
  src/auth/user/password/authenticate/init/view.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/change/init/change_remote.ts
  src/auth/user/password/reset/request_token/init/request_token_remote.ts
  src/auth/user/password/reset/reset/action.ts
  src/auth/user/password/reset/reset/init/config.ts
  src/auth/user/password/reset/reset/init/reset_remote.ts
  src/auth/user/password/reset/reset/init/view.ts
  src/auth/user/password/reset/reset/test.ts
  src/auth/user/password/reset/z_protobuf/api.proto
  src/auth/user/password/z_protobuf/api.proto
  src/avail/unexpected_error/notify/init/notify_remote.ts
  src/avail/unexpected_error/z_protobuf/api.proto
  src/example/outline/load_menu/init/menu_badge_remote.ts
  src/example/outline/z_protobuf/api.proto
  ui/setup/protobuf.sh
  ui/setup/theme.sh
Due: test-ui

fix: test
  src/auth/remote/proxy/method.rs
  src/auth/ticket/check/test.ts
  src/auth/user/password/authenticate/test.ts
  src/auth/user/password/reset/reset/test.ts
Due: test-ui, test-api

refactor: init
  src/auth/sign/router/init/init.ts
  src/auth/sign/sign/init/shell.ts
Due: test-ui

refactor: action
  src/auth/remote/init.rs
  src/auth/remote/method.rs
  src/auth/ticket/remote/action_validate/init.rs
  src/auth/ticket/remote/action_validate/mod.rs
  src/auth/ticket/remote/action_validate/x_tonic/log.rs
  src/auth/ticket/remote/action_validate/x_tonic/mod.rs
  src/auth/ticket/remote/action_validate/x_tonic/response.rs
  src/auth/ticket/remote/mod.rs
  src/auth/ticket/remote/validate/action.rs
  src/auth/ticket/remote/validate/init.rs
  src/auth/ticket/remote/validate/method.rs
  src/auth/ticket/remote/validate/mod.rs
  src/auth/ticket/remote/validate/test.rs
  src/auth/ticket/remote/validate/x_logger/log.rs
  src/auth/ticket/remote/validate/x_tonic/response.rs
  src/auth/ticket/remote/x_tonic/route.rs
  src/avail/unexpected_error/remote/notify/action.rs
  src/avail/unexpected_error/remote/notify/init.rs
  src/avail/unexpected_error/remote/notify/test.rs
  src/example/outline/remote/get_menu_badge/action.rs
  src/example/outline/remote/get_menu_badge/init.rs
  src/example/outline/remote/get_menu_badge/test.rs
Due: test-api

refactor: action
  src/auth/ticket/remote/validate/action.rs
  src/auth/ticket/remote/validate/init.rs
  src/auth/ticket/remote/validate/test.rs
  src/auth/user/account/remote/search/action.rs
  src/auth/user/account/remote/search/init.rs
  src/auth/user/account/remote/search/test.rs
  src/auth/user/account/remote/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/remote/x_actix_web/route.rs
  src/auth/remote/x_tonic/route.rs
  src/auth/ticket/check/mod.rs
  src/auth/ticket/check/remote/action.rs
  src/auth/ticket/check/remote/init.rs
  src/auth/ticket/check/remote/mod.rs
  src/auth/ticket/check/remote/proxy/init.rs
  src/auth/ticket/check/remote/proxy/init/proxy_service.rs
  src/auth/ticket/check/remote/proxy/mod.rs
  src/auth/ticket/check/remote/test.rs
  src/auth/ticket/check/remote/x_tonic/log.rs
  src/auth/ticket/check/remote/x_tonic/mod.rs
  src/auth/ticket/check/remote/x_tonic/response.rs
  src/auth/ticket/mod.rs
  src/auth/ticket/remote/mod.rs
  src/auth/ticket/x_actix_web/mod.rs
  src/auth/ticket/x_actix_web/route.rs
  src/auth/ticket/x_tonic/mod.rs
  src/auth/ticket/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/ticket/check/remote/mod.rs
  src/auth/ticket/check/remote/x_actix_web/mod.rs
  src/auth/ticket/check/remote/x_actix_web/route.rs
  src/auth/ticket/check/remote/x_tonic/mod.rs
  src/auth/ticket/check/remote/x_tonic/route.rs
  src/auth/ticket/x_actix_web/route.rs
  src/auth/ticket/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/ticket/logout/mod.rs
  src/auth/ticket/logout/remote/action.rs
  src/auth/ticket/logout/remote/infra.rs
  src/auth/ticket/logout/remote/init.rs
  src/auth/ticket/logout/remote/mod.rs
  src/auth/ticket/logout/remote/proxy/init.rs
  src/auth/ticket/logout/remote/proxy/init/proxy_service.rs
  src/auth/ticket/logout/remote/proxy/mod.rs
  src/auth/ticket/logout/remote/proxy/x_actix_web/mod.rs
  src/auth/ticket/logout/remote/proxy/x_actix_web/response.rs
  src/auth/ticket/logout/remote/test.rs
  src/auth/ticket/logout/remote/x_actix_web/mod.rs
  src/auth/ticket/logout/remote/x_actix_web/route.rs
  src/auth/ticket/logout/remote/x_tonic/log.rs
  src/auth/ticket/logout/remote/x_tonic/mod.rs
  src/auth/ticket/logout/remote/x_tonic/response.rs
  src/auth/ticket/logout/remote/x_tonic/route.rs
  src/auth/ticket/mod.rs
  src/auth/ticket/remote/kernel/init/ticket_repository.rs
  src/auth/ticket/remote/mod.rs
  src/auth/ticket/x_actix_web/route.rs
  src/auth/ticket/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/ticket/check/remote/action.rs
  src/auth/ticket/check/remote/init.rs
  src/auth/ticket/check/remote/test.rs
  src/auth/ticket/check/remote/x_tonic/response.rs
  src/auth/ticket/encode/data.rs
  src/auth/ticket/encode/infra.rs
  src/auth/ticket/encode/init.rs
  src/auth/ticket/encode/init/token_encoder.rs
  src/auth/ticket/encode/method.rs
  src/auth/ticket/encode/mod.rs
  src/auth/ticket/encode/x_tonic/log.rs
  src/auth/ticket/encode/x_tonic/mod.rs
  src/auth/ticket/encode/x_tonic/response.rs
  src/auth/ticket/mod.rs
  src/auth/ticket/remote/kernel/init/ticket_repository.rs
  src/auth/ticket/remote/mod.rs
  src/auth/user/password/remote/authenticate/action.rs
  src/auth/user/password/remote/authenticate/init.rs
  src/auth/user/password/remote/authenticate/test.rs
  src/auth/user/password/remote/authenticate/x_tonic/response.rs
  src/auth/user/password/reset/remote/reset/action.rs
  src/auth/user/password/reset/remote/reset/init.rs
  src/auth/user/password/reset/remote/reset/test.rs
  src/auth/user/password/reset/remote/reset/x_tonic/response.rs
Due: test-api

refactor: remote
  src/auth/ticket/issue/infra.rs
  src/auth/ticket/issue/init.rs
  src/auth/ticket/issue/init/id_generator.rs
  src/auth/ticket/issue/method.rs
  src/auth/ticket/issue/mod.rs
  src/auth/ticket/issue/x_tonic/log.rs
  src/auth/ticket/issue/x_tonic/mod.rs
  src/auth/ticket/issue/x_tonic/response.rs
  src/auth/ticket/mod.rs
  src/auth/ticket/remote/kernel/init/ticket_repository.rs
  src/auth/ticket/remote/mod.rs
  src/auth/user/password/remote/authenticate/action.rs
  src/auth/user/password/remote/authenticate/init.rs
  src/auth/user/password/remote/authenticate/test.rs
  src/auth/user/password/reset/remote/reset/action.rs
  src/auth/user/password/reset/remote/reset/init.rs
  src/auth/user/password/reset/remote/reset/test.rs
Due: test-api

refactor: remote
  src/auth/user/account/remote/mod.rs
  src/auth/user/account/remote/x_actix_web/route.rs
  src/auth/user/account/remote/x_tonic/route.rs
  src/auth/user/account/search/mod.rs
  src/auth/user/account/search/remote/action.rs
  src/auth/user/account/search/remote/data.rs
  src/auth/user/account/search/remote/infra.rs
  src/auth/user/account/search/remote/init.rs
  src/auth/user/account/search/remote/init/request_decoder.rs
  src/auth/user/account/search/remote/init/search_repository.rs
  src/auth/user/account/search/remote/mod.rs
  src/auth/user/account/search/remote/proxy/init.rs
  src/auth/user/account/search/remote/proxy/init/proxy_service.rs
  src/auth/user/account/search/remote/proxy/mod.rs
  src/auth/user/account/search/remote/test.rs
  src/auth/user/account/search/remote/x_actix_web/mod.rs
  src/auth/user/account/search/remote/x_actix_web/route.rs
  src/auth/user/account/search/remote/x_tonic/log.rs
  src/auth/user/account/search/remote/x_tonic/mod.rs
  src/auth/user/account/search/remote/x_tonic/response.rs
  src/auth/user/account/search/remote/x_tonic/route.rs
Due: test-api

refactor: remote
  main/api/main.rs
  main/auth/main.rs
  src/auth/mod.rs
  src/auth/remote/mod.rs
  src/auth/user/account/mod.rs
  src/auth/user/account/remote/mod.rs
  src/auth/user/account/x_actix_web/mod.rs
  src/auth/user/account/x_actix_web/route.rs
  src/auth/user/account/x_tonic/mod.rs
  src/auth/user/account/x_tonic/route.rs
  src/auth/user/remote/x_actix_web/route.rs
  src/auth/user/remote/x_tonic/route.rs
  src/auth/x_actix_web/mod.rs
  src/auth/x_actix_web/route.rs
  src/auth/x_tonic/mod.rs
  src/auth/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/user/password/authenticate/mod.rs
  src/auth/user/password/authenticate/remote/action.rs
  src/auth/user/password/authenticate/remote/data.rs
  src/auth/user/password/authenticate/remote/infra.rs
  src/auth/user/password/authenticate/remote/init.rs
  src/auth/user/password/authenticate/remote/init/request_decoder.rs
  src/auth/user/password/authenticate/remote/mod.rs
  src/auth/user/password/authenticate/remote/proxy/init.rs
  src/auth/user/password/authenticate/remote/proxy/init/proxy_service.rs
  src/auth/user/password/authenticate/remote/proxy/mod.rs
  src/auth/user/password/authenticate/remote/test.rs
  src/auth/user/password/authenticate/remote/x_actix_web/mod.rs
  src/auth/user/password/authenticate/remote/x_actix_web/route.rs
  src/auth/user/password/authenticate/remote/x_tonic/log.rs
  src/auth/user/password/authenticate/remote/x_tonic/mod.rs
  src/auth/user/password/authenticate/remote/x_tonic/response.rs
  src/auth/user/password/authenticate/remote/x_tonic/route.rs
  src/auth/user/password/mod.rs
  src/auth/user/password/remote/kernel/init/password_repository.rs
  src/auth/user/password/remote/mod.rs
  src/auth/user/password/remote/x_actix_web/route.rs
  src/auth/user/password/remote/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/user/password/kernel/init/password_repository.rs
  src/auth/user/password/reset/mod.rs
  src/auth/user/password/reset/remote/mod.rs
  src/auth/user/password/reset/remote/x_actix_web/route.rs
  src/auth/user/password/reset/remote/x_tonic/route.rs
  src/auth/user/password/reset/request_token/mod.rs
  src/auth/user/password/reset/request_token/remote/action.rs
  src/auth/user/password/reset/request_token/remote/data.rs
  src/auth/user/password/reset/request_token/remote/infra.rs
  src/auth/user/password/reset/request_token/remote/init.rs
  src/auth/user/password/reset/request_token/remote/init/destination_repository.rs
  src/auth/user/password/reset/request_token/remote/init/request_decoder.rs
  src/auth/user/password/reset/request_token/remote/init/token_encoder.rs
  src/auth/user/password/reset/request_token/remote/init/token_generator.rs
  src/auth/user/password/reset/request_token/remote/init/token_notifier.rs
  src/auth/user/password/reset/request_token/remote/mod.rs
  src/auth/user/password/reset/request_token/remote/proxy/init.rs
  src/auth/user/password/reset/request_token/remote/proxy/init/proxy_service.rs
  src/auth/user/password/reset/request_token/remote/proxy/mod.rs
  src/auth/user/password/reset/request_token/remote/test.rs
  src/auth/user/password/reset/request_token/remote/x_actix_web/mod.rs
  src/auth/user/password/reset/request_token/remote/x_actix_web/route.rs
  src/auth/user/password/reset/request_token/remote/x_logger/log.rs
  src/auth/user/password/reset/request_token/remote/x_logger/mod.rs
  src/auth/user/password/reset/request_token/remote/x_tonic/mod.rs
  src/auth/user/password/reset/request_token/remote/x_tonic/response.rs
  src/auth/user/password/reset/request_token/remote/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/user/password/kernel/init/password_repository.rs
  src/auth/user/password/reset/mod.rs
  src/auth/user/password/reset/remote/mod.rs
  src/auth/user/password/reset/remote/x_actix_web/route.rs
  src/auth/user/password/reset/remote/x_tonic/route.rs
  src/auth/user/password/reset/reset/mod.rs
  src/auth/user/password/reset/reset/remote/action.rs
  src/auth/user/password/reset/reset/remote/data.rs
  src/auth/user/password/reset/reset/remote/infra.rs
  src/auth/user/password/reset/reset/remote/init.rs
  src/auth/user/password/reset/reset/remote/init/request_decoder.rs
  src/auth/user/password/reset/reset/remote/init/reset_notifier.rs
  src/auth/user/password/reset/reset/remote/init/token_decoder.rs
  src/auth/user/password/reset/reset/remote/mod.rs
  src/auth/user/password/reset/reset/remote/proxy/init.rs
  src/auth/user/password/reset/reset/remote/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/remote/proxy/mod.rs
  src/auth/user/password/reset/reset/remote/test.rs
  src/auth/user/password/reset/reset/remote/x_actix_web/mod.rs
  src/auth/user/password/reset/reset/remote/x_actix_web/route.rs
  src/auth/user/password/reset/reset/remote/x_logger/log.rs
  src/auth/user/password/reset/reset/remote/x_logger/mod.rs
  src/auth/user/password/reset/reset/remote/x_tonic/mod.rs
  src/auth/user/password/reset/reset/remote/x_tonic/response.rs
  src/auth/user/password/reset/reset/remote/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/user/password/kernel/init/password_repository.rs
  src/auth/user/password/reset/kernel/convert.rs
  src/auth/user/password/reset/kernel/data.rs
  src/auth/user/password/reset/kernel/infra.rs
  src/auth/user/password/reset/kernel/mod.rs
  src/auth/user/password/reset/mod.rs
  src/auth/user/password/reset/remote/mod.rs
  src/auth/user/password/reset/request_token/remote/infra.rs
  src/auth/user/password/reset/request_token/remote/init/destination_repository.rs
  src/auth/user/password/reset/request_token/remote/init/token_encoder.rs
  src/auth/user/password/reset/request_token/remote/init/token_generator.rs
  src/auth/user/password/reset/request_token/remote/init/token_notifier.rs
  src/auth/user/password/reset/request_token/remote/test.rs
  src/auth/user/password/reset/reset/remote/action.rs
  src/auth/user/password/reset/reset/remote/data.rs
  src/auth/user/password/reset/reset/remote/infra.rs
  src/auth/user/password/reset/reset/remote/init/reset_notifier.rs
  src/auth/user/password/reset/reset/remote/init/token_decoder.rs
  src/auth/user/password/reset/reset/remote/test.rs
  src/auth/user/password/reset/reset/remote/x_logger/log.rs
Due: test-api

refactor: remote
  src/auth/user/password/reset/mod.rs
  src/auth/user/password/reset/remote/mod.rs
  src/auth/user/password/reset/x_actix_web/mod.rs
  src/auth/user/password/reset/x_actix_web/route.rs
  src/auth/user/password/reset/x_tonic/mod.rs
  src/auth/user/password/reset/x_tonic/route.rs
  src/auth/user/password/x_actix_web/route.rs
  src/auth/user/password/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/remote/data.rs
  src/auth/ticket/check/remote/action.rs
  src/auth/ticket/encode/data.rs
  src/auth/ticket/issue/method.rs
  src/auth/ticket/kernel/remote/data.rs
  src/auth/ticket/logout/remote/action.rs
  src/auth/ticket/validate/action.rs
  src/auth/ticket/validate/infra.rs
  src/auth/ticket/validate/init/request_decoder.rs
  src/auth/ticket/validate/init/validate_service.rs
  src/auth/ticket/validate/method.rs
  src/auth/ticket/validate/test.rs
  src/auth/user/account/search/remote/action.rs
  src/auth/user/account/search/remote/data.rs
  src/auth/user/account/search/remote/init/search_repository.rs
  src/auth/user/account/search/remote/test.rs
  src/auth/user/kernel/data.rs
  src/auth/user/kernel/infra.rs
  src/auth/user/kernel/init.rs
  src/auth/user/kernel/init/user_repository.rs
  src/auth/user/kernel/mod.rs
  src/auth/user/kernel/x_tonic/mod.rs
  src/auth/user/kernel/x_tonic/response.rs
  src/auth/user/mod.rs
  src/auth/user/password/authenticate/remote/action.rs
  src/auth/user/password/authenticate/remote/infra.rs
  src/auth/user/password/authenticate/remote/init.rs
  src/auth/user/password/authenticate/remote/test.rs
  src/auth/user/password/change/remote/action.rs
  src/auth/user/password/change/remote/infra.rs
  src/auth/user/password/change/remote/test.rs
  src/auth/user/password/kernel/init/password_repository.rs
  src/auth/user/password/reset/request_token/remote/test.rs
  src/auth/user/password/reset/reset/remote/action.rs
  src/auth/user/password/reset/reset/remote/infra.rs
  src/auth/user/password/reset/reset/remote/init.rs
  src/auth/user/password/reset/reset/remote/test.rs
  src/auth/user/remote/mod.rs
Due: test-api

refactor: remote
  src/auth/user/mod.rs
  src/auth/user/remote/mod.rs
  src/auth/user/x_actix_web/mod.rs
  src/auth/user/x_actix_web/route.rs
  src/auth/user/x_tonic/mod.rs
  src/auth/user/x_tonic/route.rs
  src/auth/x_actix_web/route.rs
  src/auth/x_tonic/route.rs
Due: test-api

refactor: remote
  src/auth/mod.rs
  src/auth/proxy/action.rs
  src/auth/proxy/data.rs
  src/auth/proxy/helper.rs
  src/auth/proxy/infra.rs
  src/auth/proxy/method.rs
  src/auth/proxy/mod.rs
  src/auth/proxy/x_actix_web/mod.rs
  src/auth/proxy/x_actix_web/response.rs
  src/auth/proxy/x_logger/log.rs
  src/auth/proxy/x_logger/mod.rs
  src/auth/proxy/x_tonic/mod.rs
  src/auth/proxy/x_tonic/response.rs
  src/auth/remote/mod.rs
  src/auth/ticket/check/remote/proxy/init.rs
  src/auth/ticket/check/remote/proxy/init/proxy_service.rs
  src/auth/ticket/kernel/remote/x_actix_web/response.rs
  src/auth/ticket/logout/remote/proxy/init.rs
  src/auth/ticket/logout/remote/proxy/init/proxy_service.rs
  src/auth/ticket/validate/infra.rs
  src/auth/ticket/validate/init/validate_service.rs
  src/auth/ticket/validate/method.rs
  src/auth/user/account/search/remote/proxy/init.rs
  src/auth/user/account/search/remote/proxy/init/proxy_service.rs
  src/auth/user/password/authenticate/remote/proxy/init.rs
  src/auth/user/password/authenticate/remote/proxy/init/proxy_service.rs
  src/auth/user/password/change/remote/proxy/init.rs
  src/auth/user/password/change/remote/proxy/init/proxy_service.rs
  src/auth/user/password/reset/request_token/remote/proxy/init.rs
  src/auth/user/password/reset/request_token/remote/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/remote/proxy/init.rs
  src/auth/user/password/reset/reset/remote/proxy/init/proxy_service.rs
  src/avail/unexpected_error/remote/notify/proxy/init.rs
  src/avail/unexpected_error/remote/notify/proxy/init/proxy_service.rs
  src/example/outline/remote/get_menu_badge/proxy/init.rs
  src/example/outline/remote/get_menu_badge/proxy/init/proxy_service.rs
Due: test-api

refactor: remote
  main/api/main.rs
  main/example/main.rs
  src/avail/mod.rs
  src/avail/remote/mod.rs
  src/avail/unexpected_error/mod.rs
  src/avail/unexpected_error/notify/mod.rs
  src/avail/unexpected_error/notify/remote/action.rs
  src/avail/unexpected_error/notify/remote/infra.rs
  src/avail/unexpected_error/notify/remote/init.rs
  src/avail/unexpected_error/notify/remote/init/request_decoder.rs
  src/avail/unexpected_error/notify/remote/mod.rs
  src/avail/unexpected_error/notify/remote/proxy/init.rs
  src/avail/unexpected_error/notify/remote/proxy/init/proxy_service.rs
  src/avail/unexpected_error/notify/remote/proxy/mod.rs
  src/avail/unexpected_error/notify/remote/test.rs
  src/avail/unexpected_error/notify/remote/x_actix_web/mod.rs
  src/avail/unexpected_error/notify/remote/x_actix_web/route.rs
  src/avail/unexpected_error/notify/remote/x_logger/log.rs
  src/avail/unexpected_error/notify/remote/x_logger/mod.rs
  src/avail/unexpected_error/notify/remote/x_tonic/mod.rs
  src/avail/unexpected_error/notify/remote/x_tonic/response.rs
  src/avail/unexpected_error/notify/remote/x_tonic/route.rs
  src/avail/unexpected_error/remote/mod.rs
  src/avail/unexpected_error/x_actix_web/mod.rs
  src/avail/unexpected_error/x_actix_web/route.rs
  src/avail/unexpected_error/x_tonic/mod.rs
  src/avail/unexpected_error/x_tonic/route.rs
  src/avail/x_actix_web/mod.rs
  src/avail/x_actix_web/route.rs
  src/avail/x_tonic/mod.rs
  src/avail/x_tonic/route.rs
Due: test-api

refactor: docs content
  main/ui/secure/docs/auth/index/entry.ts
  main/ui/secure/docs/auth/password/authenticate/entry.ts
  main/ui/secure/docs/auth/password/change/entry.ts
  main/ui/secure/docs/auth/password/reset/entry.ts
  main/ui/secure/docs/auth/ticket/check/entry.ts
  main/ui/secure/docs/auth/ticket/logout/entry.ts
  main/ui/secure/docs/avail/entry.ts
  main/ui/secure/docs/docs/entry.ts
  main/ui/secure/docs/index/entry.ts
  main/ui/secure/docs/privacy_policy/entry.ts
  src/auth/sign/sign/x_preact/privacy_policy.ts
  src/docs/content/init.ts
  src/docs/content/init/resource.ts
  src/docs/content/resource.ts
  src/docs/content/x_preact/domain.ts
  src/docs/content/x_preact/domain_detail.ts
  src/docs/content/x_preact/helper.ts
  src/docs/content/x_preact/usecase.ts
Due: test-ui

refactor: content
  src/auth/user/password/reset/request_token/remote/init/token_notifier.rs
  src/auth/user/password/reset/reset/remote/init/reset_notifier.rs
  src/lib.rs
  src/x_content/mail.rs
  src/x_content/mod.rs
Due: test-api

refactor: content
  main/ui/secure/auth/profile/page.ts
  main/ui/secure/auth/ticket/logout/page.ts
  main/ui/secure/auth/user/account/page.ts
  src/auth/sign/sign/x_preact/privacy_policy.ts
  src/auth/ticket/check/x_preact/check_ticket.ts
  src/auth/user/password/authenticate/x_preact/authenticate_password.ts
  src/auth/user/password/reset/request_token/x_preact/request_token.ts
  src/auth/user/password/reset/reset/x_preact/reset_password.ts
  src/avail/version/find_next/x_preact/move_to_latest_version.ts
  src/avail/x_preact/application_error.ts
  src/avail/x_preact/not_found.ts
  src/docs/content/x_preact/domain.ts
  src/docs/content/x_preact/domain_detail.ts
  src/docs/content/x_preact/usecase.ts
  src/example/action_dashboard/x_preact/dashboard.ts
  src/example/outline/load_breadcrumb_list/x_preact/load_breadcrumb_list.ts
  src/example/outline/load_menu/x_preact/load_menu.ts
  src/x_content/site.ts
Due: test-ui

add: menu
  src/example/outline/menu/menu_home.ts
  src/example/season/input/action_input/mock.ts
Due: test-ui

refactor: season
  src/example/season/focus/init/resource.ts
Due: test-ui

refactor: season
  main/ui/secure/example/season/setup/entry.ts
  main/ui/secure/example/season/setup/page.ts
  main/ui/secure/example/season/setup/resource.ts
  src/example/outline/menu/menu_home.ts
  src/example/season/focus/init/config.ts
  src/example/season/focus/init/resource.ts
  src/example/season/setup/action.ts
  src/example/season/setup/init/config.ts
  src/example/season/setup/init/infra.ts
  src/example/season/setup/init/resource.ts
  src/example/season/setup/test.ts
  src/example/season/setup/x_preact/setup.ts
  src/example/x_outside_feature/config.ts
  ui/env/entry_point.js
Due: test-ui

refactor: convert season
  src/example/season/input/x_preact/input.ts
  src/example/season/kernel/convert.ts
  src/example/season/kernel/data.ts
  src/example/season/kernel/infra.ts
  src/example/season/kernel/init/available_seasons.ts
  src/example/season/kernel/init/default_season.ts
  src/example/season/kernel/init/season_repository.ts
  src/example/season/load/action.ts
  src/example/season/load/init/resource.ts
  src/example/season/load/test.ts
  src/example/season/setup/action.ts
  src/example/season/setup/init/infra.ts
  src/example/season/setup/test.ts
  src/example/season/setup/x_preact/setup.ts
Due: test-ui

fix: season setup
  src/example/season/kernel/infra.ts
  src/example/season/load/action.ts
  src/example/season/setup/action.ts
  src/example/season/setup/init/resource.ts
  src/example/season/setup/test.ts
  src/example/z_protobuf/db.proto
Due: test-ui

fix: available seasons order
  src/example/season/kernel/init/available_seasons.ts
Due: test-ui

fix: available seasons test
  src/example/season/load/test.ts
Due: test-ui
