Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

test-ui:
  stage: test
  variables:
    SECURE_SERVER_URL: https://secure.example.com
    API_SERVER_URL: https://api.example.com
  before_script:
  - npm clean-install
  script:
  - npm test
  - npm run build

test-api:
  stage: test
  image: rust:1-buster
  before_script:
  - rustup install nightly
  - rustup component add --toolchain nightly llvm-tools-preview
  - cargo install rustfilt
  - cargo install grcov
  script:
  - ./api/ci/test.sh

release-ui:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $UI_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_deploy-ui:
  stage: release_deploy
  when: on_success
  variables:
    BUILD_ENV: production
  before_script:
  - apt-get update && apt-get install -y python3-pip
  - pip3 install awscli
  - npm clean-install
  script:
  - ./ui/ci/deploy.sh

release_success-ui:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release_failure-ui:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release-api:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $API_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_build-api:
  stage: release_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - api/ci/build.sh

release_deploy-api:
  stage: release_deploy
  when: on_success
  image: google/cloud-sdk:latest
  script:
  - api/ci/deploy.sh

release_success-api:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

release_failure-api:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

refactor: enum
  src/auth/auth_ticket/_ui/action_check/x_preact/check_auth_info.stories.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.stories.ts
  src/auth/login_id/_ui/action_input/x_preact/input.stories.ts
  src/auth/password/_ui/action_authenticate/form/action.ts
  src/auth/password/_ui/action_authenticate/form/impl.ts
  src/auth/password/_ui/action_authenticate/x_preact/authenticate_password.stories.ts
  src/auth/password/_ui/action_input/x_preact/input.stories.ts
  src/auth/password/reset/_ui/action_check_status/x_preact/check_reset_token_sending_status.stories.ts
  src/auth/password/reset/_ui/action_request_token/form/action.ts
  src/auth/password/reset/_ui/action_request_token/form/impl.ts
  src/auth/password/reset/_ui/action_request_token/x_preact/request_reset_token.stories.ts
  src/auth/password/reset/_ui/action_reset/form/action.ts
  src/auth/password/reset/_ui/action_reset/form/impl.ts
  src/auth/password/reset/_ui/action_reset/x_preact/reset_password.stories.ts
  src/auth/password/reset/z_protobuf/api.proto
  src/avail/version/action_find_next/x_preact/move_to_latest_version.stories.ts
  src/example/_ui/common/action_load_season/x_preact/load_season_field.stories.ts
  src/outline/_ui/action_load_breadcrumb_list/x_preact/load_breadcrumb_list.stories.ts
  src/outline/_ui/action_load_menu/x_preact/load_menu.stories.ts
  ui/vendor/getto-application/board/action_input/x_preact/input.stories.ts
  ui/vendor/getto-application/board/action_validate_board/core/impl.ts
  ui/vendor/getto-application/board/input/data.ts
  ui/vendor/getto-application/board/validate_board/data.ts
  ui/vendor/getto-application/board/validate_board/method.ts
  ui/vendor/storybook/preact/story.ts
Due: test-ui

refactor: reset token
  src/auth/password/_ui/convert.ts
  src/auth/password/_ui/data.ts
  src/auth/password/reset/_ui/convert.ts
  src/auth/password/reset/_ui/data.ts
  src/auth/password/reset/_ui/reset/infra.ts
  src/auth/password/reset/_ui/reset/init.ts
  src/auth/password/reset/_ui/reset/method.ts
  src/auth/password/reset/_ui/reset/mock.ts
Due: test-ui

fix: storybook
  .gitignore
  src/auth/_ui/action_profile/x_preact/profile.stories.ts
  src/auth/_ui/action_sign/x_preact/privacy_policy.stories.ts
  src/auth/_ui/action_sign/x_preact/sign.stories.ts
  src/auth/auth_ticket/_ui/action_check/x_preact/check_auth_info.stories.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.stories.ts
  src/auth/password/_ui/action_authenticate/x_preact/authenticate_password.stories.ts
  src/auth/password/reset/_ui/action_request_token/x_preact/request_reset_token.stories.ts
  src/auth/password/reset/_ui/action_reset/x_preact/reset_password.stories.ts
  src/avail/_ui/x_preact/not_found.stories.ts
  src/avail/version/action_find_next/x_preact/move_to_latest_version.stories.ts
  src/docs/action_docs/x_preact/docs.stories.ts
  src/example/_ui/action_dashboard/x_preact/dashboard.stories.ts
  storybook/.storybook/main.js
  storybook/.storybook/preview-body.html
Due: test-ui

fix: title
  src/auth/_api/x_outside_feature/init.rs
  src/auth/password/reset/_ui/action_request_token/x_preact/request_reset_token.ts
  src/auth/password/reset/_ui/request_token/infra/remote/request_token.ts
Due: test-ui, test-api

upgrade: storybook
  storybook/package-lock.json
  storybook/package.json
Due: none

update: npm packages
  package-lock.json
  storybook/package-lock.json
Due: none

refactor: current state
  src/auth/login_id/_ui/action_input/test.ts
  src/auth/password/_ui/action_input/test.ts
  src/example/_ui/common/action_load_season/core/impl.ts
  ui/vendor/getto-application/action/action.ts
  ui/vendor/getto-application/action/impl.ts
  ui/vendor/getto-application/action/x_preact/hooks.ts
  ui/vendor/getto-application/board/action_validate_board/test.ts
Due: test-ui

fix: reset token sender address
  src/auth/_api/x_outside_feature/init.rs
Due: test-api

fix: sender address
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/password/reset/_api/request_token/infra/token_notifier.rs
Due: test-api

refactor: auth ticket encode init
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/encode/infra.rs
  src/auth/auth_ticket/_api/encode/init.rs
  src/auth/auth_ticket/_api/encode/init/messenger.rs
  src/auth/auth_ticket/_api/encode/init/token_encoder.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
Due: test-api

refactor: init
  api/ci/test.sh
  src/auth/auth_ticket/_api/issue/infra.rs
  src/auth/auth_ticket/_api/issue/init.rs
  src/auth/auth_ticket/_api/issue/init/id_generator.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
Due: test-api

refactor: init
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/discard/init.rs
  src/auth/auth_ticket/_api/encode/init.rs
  src/auth/auth_ticket/_api/encode/mod.rs
  src/auth/auth_ticket/_api/issue/init.rs
  src/auth/auth_ticket/_api/issue/mod.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/auth_ticket/_api/kernel/init/clock.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_header.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/kernel/init/ticket_repository.rs
  src/auth/auth_ticket/_api/kernel/mod.rs
  src/auth/auth_ticket/_api/validate/init.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/reset/init.rs
Due: test-api

refactor: init
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/validate/infra.rs
  src/auth/auth_ticket/_api/validate/init.rs
  src/auth/auth_ticket/_api/validate/init/token_decoder.rs
  src/auth/auth_ticket/_api/validate/init/token_header.rs
  src/auth/auth_ticket/_api/validate/mod.rs
Due: test-api

refactor: init
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_user/_api/kernel/infra.rs
  src/auth/auth_user/_api/kernel/init.rs
  src/auth/auth_user/_api/kernel/init/user_repository.rs
  src/auth/auth_user/_api/kernel/mod.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/reset/init.rs
Due: test-api

refactor: init
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/authenticate/init/messenger.rs
  src/auth/password/_api/authenticate/mod.rs
Due: test-api

refactor: init
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init.rs
  src/auth/password/_api/kernel/init/password_hasher.rs
  src/auth/password/_api/kernel/init/password_matcher.rs
  src/auth/password/_api/kernel/init/password_repository.rs
  src/auth/password/_api/kernel/init/token_generator.rs
  src/auth/password/_api/kernel/mod.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/reset/init.rs
Due: test-api

refactor: init
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/init/destination_repository.rs
  src/auth/password/reset/_api/request_token/init/messenger.rs
  src/auth/password/reset/_api/request_token/init/token_encoder.rs
  src/auth/password/reset/_api/request_token/init/token_notifier.rs
  src/auth/password/reset/_api/request_token/mod.rs
Due: test-api

refactor: init
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/init/messenger.rs
  src/auth/password/reset/_api/reset/init/token_decoder.rs
  src/auth/password/reset/_api/reset/mod.rs
Due: test-api

fix: visibility
  src/auth/password/_api/authenticate/init.rs
Due: test-api

refactor: init
  api/ci/test.sh
  ui/config/jest.config.js
  ui/vendor/getto-application/action/impl.ts
  ui/vendor/getto-application/action/init/ignite_runner.ts
  ui/vendor/getto-application/action/init/state_pub_sub.ts
  ui/vendor/getto-application/action/init/terminate_runner.ts
  ui/vendor/getto-application/board/action_validate_board/core/impl.ts
  ui/vendor/getto-application/board/validate_board/init/stack.ts
Due: test-ui

refactor: module visibility
  src/auth/_api/mod.rs
  src/auth/auth_ticket/_api/encode/mod.rs
  src/auth/auth_ticket/_api/issue/mod.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/kernel/mod.rs
  src/auth/auth_ticket/_api/validate/mod.rs
  src/auth/auth_user/_api/kernel/mod.rs
  src/auth/mod.rs
  src/auth/password/_api/action_authenticate/init.rs
  src/auth/password/_api/authenticate/mod.rs
  src/auth/password/_api/kernel/mod.rs
  src/auth/password/reset/_api/request_token/mod.rs
  src/auth/password/reset/_api/reset/mod.rs
Due: test-api

refactor: ticket infra
  src/auth/auth_ticket/_api/issue/infra.rs
  src/auth/auth_ticket/_api/issue/init.rs
  src/auth/auth_ticket/_api/issue/init/id_generator.rs
  src/auth/auth_ticket/_api/issue/method.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
Due: test-api

refactor: ticket infra
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/discard/infra.rs
  src/auth/auth_ticket/_api/discard/init.rs
  src/auth/auth_ticket/_api/discard/method.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/encode/infra.rs
  src/auth/auth_ticket/_api/encode/init.rs
  src/auth/auth_ticket/_api/encode/method.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/validate/infra.rs
  src/auth/auth_ticket/_api/validate/init.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/method.rs
Due: test-api

refactor: infra
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

refactor: infra
  src/auth/auth_user/_api/kernel/infra.rs
  src/auth/auth_user/_api/kernel/init.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

refactor: infra
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/init/token_generator.rs
  src/auth/password/reset/_api/request_token/method.rs
Due: test-api

refactor: infra
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/infra.rs
  src/auth/password/_api/authenticate/init.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/_api/kernel/init.rs
  src/auth/password/reset/_api/action_request_token/test.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/reset/infra.rs
  src/auth/password/reset/_api/reset/init.rs
  src/auth/password/reset/_api/reset/method.rs
Due: test-api

refactor: infra
  src/auth/auth_ticket/_api/encode/infra.rs
  src/auth/auth_ticket/_api/issue/infra.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/validate/infra.rs
  src/auth/password/_api/kernel/infra.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init/token_notifier.rs
  src/auth/password/reset/_api/request_token/method.rs
Due: test-api

add: dynamodb demo
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: test-api

impl: nonce repository
  .envrc
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/auth_ticket/_api/action_logout/action.rs
  src/auth/auth_ticket/_api/action_logout/test.rs
  src/auth/auth_ticket/_api/action_renew/action.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/kernel/data.rs
  src/auth/auth_ticket/_api/kernel/infra.rs
  src/auth/auth_ticket/_api/kernel/init.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_header.rs
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
  src/auth/auth_ticket/_api/kernel/method.rs
  src/auth/auth_ticket/_api/validate/method.rs
  src/auth/auth_ticket/_api/x_actix_web/route.rs
  src/auth/password/_api/action_authenticate/action.rs
  src/auth/password/_api/action_authenticate/test.rs
  src/auth/password/_api/authenticate/method.rs
  src/auth/password/_api/x_actix_web/route.rs
  src/auth/password/reset/_api/action_reset/action.rs
  src/auth/password/reset/_api/action_reset/test.rs
  src/auth/password/reset/_api/request_token/method.rs
  src/auth/password/reset/_api/reset/method.rs
  src/auth/password/reset/_api/x_actix_web/route.rs
  src/x_outside_feature/_api/env.rs
Due: test-api

refactor: nonce repository
  src/auth/auth_ticket/_api/kernel/init/nonce_repository.rs
Due: test-api

refactor: rusoto client
  src/auth/_api/x_outside_feature/feature.rs
  src/auth/_api/x_outside_feature/init.rs
  src/auth/password/reset/_api/request_token/infra.rs
  src/auth/password/reset/_api/request_token/init.rs
  src/auth/password/reset/_api/request_token/init/token_notifier.rs
Due: test-api

fix: visibility
  src/auth/_api/x_outside_feature/feature.rs
Due: test-api

add: mysql demo
  .envrc
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/x_outside_feature/_api/env.rs
Due: test-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION
