Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate, test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

migrate:
  stage: migrate
  before_script:
  - npm clean-install
  - curl -s https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 > cloudsql_proxy
  - chmod a+x cloudsql_proxy
  script:
  - ./api/ci/migrate.sh ./cloudsql_proxy

test-ui:
  stage: test
  variables:
    SECURE_SERVER_URL: https://secure.example.com
    API_SERVER_URL: https://api.example.com
  before_script:
  - npm clean-install
  script:
  - npm test
  - npm run build

test-api:
  stage: test
  image: rust:1-bullseye
  variables:
    RUN_CODE_BUILDER: 'TRUE'
  before_script:
  - apt-get update && apt-get install -y cmake
  - rustup component add rustfmt
  - rustup component add llvm-tools-preview
  - ./api/ci/setup-test.sh /usr/local/bin
  script:
  ...

release-ui:
  stage: release
  image: buildpack-deps:bullseye-scm
  variables:
    BUMP_VERSION_FILE: $UI_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_deploy-ui:
  stage: release_deploy
  when: on_success
  before_script:
  - apt-get update && apt-get install -y python3-pip
  - pip3 install awscli
  - npm clean-install
  script:
  - ./ui/ci/deploy.sh

release_success-ui:
  stage: release_notify
  when: on_success
  image: buildpack-deps:bullseye-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release_failure-ui:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:bullseye-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release-proxy:
  stage: release
  image: buildpack-deps:bullseye-scm
  variables:
    BUMP_VERSION_FILE: $PROXY_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_build-proxy:
  stage: release_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - api/ci/build.sh proxy

release_deploy-proxy:
  stage: release_deploy
  when: on_success
  image: google/cloud-sdk:latest
  script:
  - api/ci/deploy.sh proxy

release_success-proxy:
  stage: release_notify
  when: on_success
  image: buildpack-deps:bullseye-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $PROXY_BUMP_VERSION_FILE)
  script:
  ...

release_failure-proxy:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:bullseye-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $PROXY_BUMP_VERSION_FILE)
  script:
  ...

release-auth:
  stage: release
  image: buildpack-deps:bullseye-scm
  variables:
    BUMP_VERSION_FILE: $AUTH_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

version bumped: 1.1.1-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: font-src
  ui/public/metadata.js
Due: none

version bumped: 1.1.2-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

update: package
  package-lock.json
  package.json
Due: none

remove: prisma scheme
  src/auth/x_prisma/migrations/20210704001311_add_user_and_ticket/migration.sql
  src/auth/x_prisma/migrations/20210704093330_add_ticket_discarded/migration.sql
  src/auth/x_prisma/migrations/20210704114808_add_user_granted_role/migration.sql
  src/auth/x_prisma/migrations/20210704123104_add_user_password_reset_token_destination/migration.sql
  src/auth/x_prisma/migrations/20210704125918_add_user_password/migration.sql
  src/auth/x_prisma/migrations/20210706114348_change_ticket_discard_id/migration.sql
  src/auth/x_prisma/migrations/20210706120000_insert_admin_user/migration.sql
  src/auth/x_prisma/migrations/20211002131552_add_user_password_reset_token_registered_destination/migration.sql
  src/auth/x_prisma/migrations/migration_lock.toml
  src/auth/x_prisma/schema.prisma
Due: none

fix: migrate.sh
  api/ci/migrate.sh
Due: none

add: release base image
  .gitlab-ci.yml
  api/app/base/Dockerfile
  api/app/base/VERSION
Due: migrate

fix: dockerfile
  api/app/proxy/Dockerfile
Due: none

version bumped: 1.1.0-proxy
  api/app/proxy/VERSION
Due: migrate, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy

version bumped: 1.1.1-proxy
  api/app/proxy/VERSION
Due: migrate, release-proxy, release_build-proxy, release_deploy-proxy, release_success-proxy, release_failure-proxy

fix: dockerfile
  api/app/auth/Dockerfile
  api/app/core/Dockerfile
Due: none

version bumped: 1.1.0-auth
  api/app/auth/VERSION
Due: migrate, release-auth, release_build-auth, release_deploy-auth, release_success-auth, release_failure-auth

version bumped: 1.1.0-core
  api/app/core/VERSION
Due: migrate, release-example, release_build-example, release_deploy-example, release_success-example, release_failure-example

fix: send button
  src/core/x_preact/button/send_button.ts
Due: test-ui

fix: granted role component
  src/auth/user/account/input/granted_roles/x_preact/input.ts
  src/auth/user/account/input/granted_roles/x_preact/search.ts
Due: test-ui

fix: bump.sh
  api/app/auth/bump/bump.sh
  api/app/core/bump/bump.sh
Due: none

remove: dockerfile
  .docker-wrapper/Dockerfile
Due: none

fix: env
  .envrc
  api/vendor/getto-application-test/Cargo.toml
Due: none

fix: bump version
  api/app/proxy/bump/bump.sh
Due: none

version bumped: 1.2.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: season setup onsuccess
  src/core/season/setup/action.ts
Due: test-ui

fix: auth role
  src/auth/user/kernel/api/data.rs
  src/x_content/api/role.rs
Due: test-api

fix: request token success timeout
  src/auth/user/password/reset/request_token/action.ts
  src/auth/user/password/reset/request_token/init/config.ts
  src/auth/user/password/reset/request_token/test.ts
Due: test-ui

fix: privacy policy
  src/x_content/privacy_policy.ts
Due: test-ui

move: dashboard
  src/x_content/x_preact/dashboard.ts
  src/x_main/secure/index/page.ts
Due: test-ui

rename: common outside service
  src/avail/unexpected_error/notify/api/proxy/init/proxy_service.rs
  src/common/outline/load/api/proxy/init/proxy_service.rs
  src/common/x_outside_feature/api/feature.rs
  src/x_outside_feature/api/core/feature.rs
  src/x_outside_feature/api/proxy/feature.rs
Due: test-api

refactor: common
  src/avail/unexpected_error/notify/api/proxy/init.rs
  src/common/base/init/resource.ts
  src/common/base/resource.ts
  src/common/outline/load/api/proxy/init.rs
  src/core/season/input/action.ts
  src/core/season/input/test.ts
  src/core/season/input/x_preact/input.ts
  src/core/season/kernel/convert.ts
  src/core/season/kernel/data.ts
  src/core/season/kernel/helper.ts
  src/core/season/kernel/infra.ts
  src/core/season/kernel/init/all_seasons.ts
  src/core/season/kernel/init/current_season.ts
  src/core/season/kernel/init/season_repository.ts
  src/core/season/kernel/test_helper.ts
  src/core/season/load/action.ts
  src/core/season/load/init/resource.ts
  src/core/season/load/test.ts
  src/core/season/load/x_preact/load_season.ts
  src/core/season/load/x_preact/load_season_field.ts
  src/core/season/setup/action.ts
  src/core/season/setup/init/config.ts
  src/core/season/setup/init/infra.ts
  src/core/season/setup/init/resource.ts
  src/core/season/setup/test.ts
  src/core/season/setup/x_preact/setup.ts
  src/core/season/x_protobuf/db.proto
  src/x_content/season.ts
  src/x_content/x_preact/dashboard.ts
  src/x_main/secure/auth/profile/page.ts
  src/x_main/secure/auth/ticket/logout/page.ts
  src/x_main/secure/auth/user/account/page.ts
  src/x_main/secure/auth/user/register/page.ts
  src/x_main/secure/index/page.ts
  src/x_main/secure/season/setup/entry.ts
  src/x_main/secure/season/setup/page.ts
  src/x_main/secure/season/setup/resource.ts
  src/x_outside_feature/api/proxy/feature.rs
Due: test-ui, test-api

refactor: common config
  src/auth/ticket/check/init/config.ts
  src/auth/user/account/input/granted_roles/action.ts
  src/auth/user/account/input/granted_roles/test.ts
  src/auth/user/account/modify/action.ts
  src/auth/user/account/modify/init/config.ts
  src/auth/user/account/modify/x_preact/modify.ts
  src/auth/user/account/register/init/config.ts
  src/auth/user/account/search/init/config.ts
  src/auth/user/account/unregister/init/config.ts
  src/auth/user/account/unregister/x_preact/unregister.ts
  src/auth/user/login_id/change/init/config.ts
  src/auth/user/password/authenticate/init/config.ts
  src/auth/user/password/change/init/config.ts
  src/auth/user/password/reset/request_token/init/config.ts
  src/auth/user/password/reset/reset/init/config.ts
  src/auth/user/password/reset/token_destination/change/init/config.ts
  src/auth/x_outside_feature/config.ts
  src/avail/version/find_next/init/config.ts
  src/avail/x_outside_feature/config.ts
  src/common/x_outside_feature/config.ts
  src/core/season/setup/init/config.ts
  src/core/x_outside_feature/api/feature.rs
  src/core/x_outside_feature/api/mod.rs
  src/core/x_outside_feature/config.ts
  src/core/x_outside_feature/mod.rs
Due: test-ui, test-api

remove: unused files
  src/core/x_outside_feature/api/feature.rs
  src/core/x_outside_feature/api/mod.rs
  src/core/x_outside_feature/mod.rs
Due: test-api

remove: unused
  src/auth/ticket/kernel/api/init/ticket_repository/mysql.rs
Due: test-api

fix: Arc::clone
  src/x_main/auth/main.rs
  src/x_main/core/main.rs
  src/x_outside_feature/api/auth/feature.rs
  src/x_outside_feature/api/core/feature.rs
Due: test-api

refactor: search
  src/auth/user/account/input/granted_roles/action.ts
  src/auth/user/account/input/granted_roles/test.search.ts
  src/auth/user/account/input/granted_roles/x_preact/search.ts
  src/auth/user/account/search/action.ts
  src/auth/user/account/search/data.ts
  src/auth/user/account/search/init/search_remote.ts
  src/auth/user/account/search/test.ts
  src/auth/user/login_id/input/action.ts
  src/auth/user/login_id/input/test.search.ts
  src/auth/user/login_id/input/x_preact/search.ts
  src/z_lib/ui/prepare/data.ts
  src/z_lib/ui/search/filter/action.ts
  src/z_lib/ui/search/kernel/convert.ts
  src/z_lib/ui/search/kernel/data.ts
  src/z_lib/ui/search/kernel/test.ts
Due: test-ui

fix: test
  src/z_lib/ui/search/kernel/test.ts
Due: test-ui

fix: input field
  src/auth/user/account/input/granted_roles/x_preact/input.ts
  src/auth/user/account/input/memo/x_preact/input.ts
  src/auth/user/login_id/input/x_preact/input.ts
  src/auth/user/password/input/x_preact/input.ts
  src/auth/user/password/reset/token_destination/input/x_preact/input.ts
  src/z_vendor/getto-css/preact/design/form.ts
Due: test-ui

fix: input field
  src/z_vendor/getto-css/preact/design/form.ts
Due: test-ui

Path conditions:
  migrate: any of: api/app/*/VERSION
  test-ui: any of: src/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-proxy: any of: api/app/proxy/VERSION
  release_build-proxy: any of: api/app/proxy/VERSION
  release_deploy-proxy: any of: api/app/proxy/VERSION
  release_success-proxy: any of: api/app/proxy/VERSION
  release_failure-proxy: any of: api/app/proxy/VERSION
  release-auth: any of: api/app/auth/VERSION
  release_build-auth: any of: api/app/auth/VERSION
  release_deploy-auth: any of: api/app/auth/VERSION
  release_success-auth: any of: api/app/auth/VERSION
  release_failure-auth: any of: api/app/auth/VERSION
  release-example: any of: api/app/core/VERSION
  release_build-example: any of: api/app/core/VERSION
  release_deploy-example: any of: api/app/core/VERSION
  release_success-example: any of: api/app/core/VERSION
  release_failure-example: any of: api/app/core/VERSION
