Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION

fix: gitlab ci
  .gitlab-ci.yml
Due: none

version bumped: 0.23.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: gitlab ci
  .gitlab-ci.yml
  api/app/core/bump/message.sh
  api/app/proxy/bump/message.sh
Due: none

version bumped: 0.47.0-proxy
  Cargo.toml
  api/app/proxy/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: none

fix: deploy script
  api/ci/build.sh
  api/ci/deploy.sh
Due: none

fix: deploy script
  Cargo.lock
Due: none

version bumped: 0.47.1-proxy
  api/app/proxy/VERSION
Due: none

version bumped: 0.6.0-auth
  api/app/auth/VERSION
Due: none

version bumped: 0.4.0-core
  api/app/core/VERSION
Due: none

update: packages
  Cargo.lock
  Cargo.toml
  src/auth/proxy/x_actix_web/response.rs
  src/auth/ticket/kernel/api/x_actix_web/response.rs
  src/auth/ticket/validate/init/token_decoder.rs
  src/auth/user/password/kernel/init/password_hasher.rs
  src/auth/user/password/reset/reset/api/init/token_decoder.rs
  src/auth/x_outside_feature/api/auth/feature.rs
  src/auth/x_outside_feature/api/common/feature.rs
  src/z_lib/api/jwt/helper.rs
  src/z_lib/api/response/actix_web.rs
Due: test-api

update: packages
  Cargo.lock
  Cargo.toml
Due: none

update: package
  Cargo.lock
  Cargo.toml
Due: none

refactor: repository
  src/auth/user/account/search/api/init/search_repository.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/kernel/init/mod.rs
  src/auth/user/kernel/init/user_repository.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/init/user_repository/mod.rs
  src/auth/user/kernel/init/user_repository/mysql.rs
  src/auth/user/password/authenticate/api/init.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/init.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/kernel/init/password_repository.rs
  src/auth/user/password/kernel/init/password_repository/mod.rs
  src/auth/user/password/kernel/init/password_repository/mysql.rs
  src/auth/user/password/reset/request_token/api/init.rs
  src/auth/user/password/reset/request_token/api/init/destination_repository.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/api/init.rs
  src/auth/user/password/reset/reset/api/test.rs
Due: test-api

refactor: repository
  src/auth/user/account/search/api/init.rs
  src/auth/user/account/search/api/init/search_repository.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/init/user_repository/mysql.rs
  src/auth/user/password/authenticate/api/init.rs
  src/auth/user/password/change/api/init.rs
  src/auth/user/password/kernel/init.rs
  src/auth/user/password/kernel/init/password_repository/mod.rs
  src/auth/user/password/kernel/init/password_repository/mysql.rs
  src/auth/user/password/reset/request_token/api/init.rs
  src/auth/user/password/reset/request_token/api/init/destination_repository.rs
  src/auth/user/password/reset/reset/api/init.rs
Due: test-api

refactor: repository
  src/auth/ticket/check/api/test.rs
  src/auth/ticket/encode/init.rs
  src/auth/ticket/issue/init.rs
  src/auth/ticket/kernel/api/init/ticket_repository/memory.rs
  src/auth/ticket/kernel/api/init/ticket_repository/mod.rs
  src/auth/ticket/kernel/api/init/ticket_repository/mysql.rs
  src/auth/ticket/logout/api/init.rs
  src/auth/ticket/logout/api/test.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/reset/reset/api/test.rs
Due: test-api

update: sqlx data
  api/ci/prepare-sqlx.sh
  sqlx-data.core.json
  sqlx-data.example.json
  sqlx-data.json
Due: none

refactor: repository
  src/auth/ticket/check/api/test.rs
  src/auth/ticket/logout/api/test.rs
  src/auth/ticket/validate/init.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb.rs
  src/auth/ticket/validate/init/nonce_repository/memory.rs
  src/auth/ticket/validate/init/nonce_repository/mod.rs
  src/auth/ticket/validate/test.rs
  src/auth/user/account/search/api/test.rs
  src/auth/user/password/authenticate/api/test.rs
  src/auth/user/password/change/api/test.rs
  src/auth/user/password/reset/request_token/api/test.rs
  src/auth/user/password/reset/reset/api/test.rs
Due: test-api

change: db implement
  .envrc
  src/auth/ticket/encode/init.rs
  src/auth/ticket/issue/init.rs
  src/auth/ticket/kernel/api/data.rs
  src/auth/ticket/kernel/api/init.rs
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb.rs
  src/auth/ticket/kernel/api/init/ticket_repository/memory.rs
  src/auth/ticket/kernel/api/init/ticket_repository/mod.rs
  src/auth/ticket/kernel/api/init/ticket_repository/mysql.rs
  src/auth/ticket/logout/api/action.rs
  src/auth/ticket/logout/api/infra.rs
  src/auth/ticket/logout/api/init.rs
  src/auth/ticket/logout/api/test.rs
  src/auth/ticket/validate/infra.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb.rs
  src/auth/ticket/validate/init/nonce_repository/memory.rs
  src/auth/x_outside_feature/api/auth/feature.rs
  src/auth/x_outside_feature/api/auth/init.rs
  src/x_outside_feature/api/auth/env.rs
  src/z_lib/api/repository/dynamodb/helper.rs
  src/z_lib/api/repository/dynamodb/mod.rs
  src/z_lib/api/repository/mod.rs
Due: test-api

refactor: repository
  .envrc
  src/auth/ticket/encode/init.rs
  src/auth/ticket/issue/init.rs
  src/auth/ticket/kernel/api/init.rs
  src/auth/ticket/kernel/api/init/mod.rs
  src/auth/ticket/kernel/api/init/ticket_repository/dynamodb.rs
  src/auth/ticket/logout/api/init.rs
  src/auth/ticket/validate/init.rs
  src/auth/ticket/validate/init/nonce_repository/dynamodb.rs
  src/auth/user/account/search/api/init.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/kernel/init/user_repository/memory.rs
  src/auth/user/kernel/init/user_repository/mod.rs
  src/auth/user/kernel/init/user_repository/mysql.rs
  src/auth/user/login_id/kernel/data.rs
  src/auth/user/password/authenticate/api/action.rs
  src/auth/user/password/authenticate/api/data.rs
  src/auth/user/password/authenticate/api/init.rs
  src/auth/user/password/authenticate/api/x_logger/log.rs
  src/auth/user/password/authenticate/api/x_tonic/response.rs
  src/auth/user/password/change/api/init.rs
  src/auth/user/password/reset/kernel/data.rs
  src/auth/user/password/reset/request_token/api/action.rs
  src/auth/user/password/reset/request_token/api/infra.rs
  src/auth/user/password/reset/request_token/api/init.rs
  src/auth/user/password/reset/reset/api/action.rs
  src/auth/user/password/reset/reset/api/data.rs
  src/auth/user/password/reset/reset/api/init.rs
  src/auth/user/password/reset/reset/api/x_logger/log.rs
  src/auth/user/password/reset/reset/api/x_tonic/response.rs
  src/auth/x_outside_feature/api/auth/feature.rs
  src/auth/x_outside_feature/api/auth/init.rs
  src/x_outside_feature/api/auth/env.rs
  src/z_lib/api/repository/dynamodb/helper.rs
  src/z_lib/api/search/data.rs
Due: test-api

refactor: repository
  .envrc
  src/auth/ticket/check/api/proxy/init/proxy_service.rs
  src/auth/ticket/kernel/api/data.rs
  src/auth/ticket/kernel/api/x_actix_web/response.rs
  src/auth/user/kernel/init/user_repository/dynamodb.rs
  src/auth/user/password/authenticate/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/api/proxy/init/proxy_service.rs
  src/auth/user/password/reset/reset/init/reset_remote.ts
  src/auth/x_outside_feature/api/auth/feature.rs
  src/auth/x_outside_feature/api/auth/init.rs
  src/x_outside_feature/api/auth/env.rs
Due: test-ui, test-api

fix: response pb
  src/auth/user/password/authenticate/init/authenticate_remote.ts
Due: test-ui

version bumped: 0.48.0-proxy
  api/app/proxy/VERSION
Due: none

version bumped: 0.7.0-auth
  api/app/auth/VERSION
Due: none

version bumped: 0.24.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: metadata
  src/avail/x_preact/application_error.ts
  ui/public/metadata.js
Due: test-ui

version bumped: 0.5.0-core
  api/app/core/VERSION
Due: none

version bumped: 0.25.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: metadata
  src/core/outline/load/api/proxy/init/proxy_service.rs
  src/core/outline/load/api/x_tonic/response.rs
  ui/public/metadata.js
Due: test-api

version bumped: 0.25.1-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: metadata
  ui/public/metadata.js
Due: none

version bumped: 0.25.2-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

update: packages
  package-lock.json
  package.json
Due: none

version bumped: 0.25.3-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

update: package
  Cargo.lock
  sqlx-data.auth.json
  sqlx-data.core.json
  sqlx-data.json
Due: none

version bumped: 0.8.0-auth
  api/app/auth/VERSION
Due: none
