Repository getto-systems/project-example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ui, test-api, release-ui, release_deploy-ui, release_success-ui, release_failure-ui, release-api, release_build-api, release_deploy-api, release_success-api, release_failure-api

test-ui:
  stage: test
  variables:
    SECURE_SERVER_URL: https://secure.example.com
    API_SERVER_URL: https://api.example.com
  before_script:
  - npm clean-install
  script:
  - npm test
  - npm run build

test-api:
  stage: test
  image: rust:1-buster
  before_script:
  - rustup install nightly
  - rustup component add --toolchain nightly llvm-tools-preview
  - cargo install rustfilt
  - cargo install grcov
  script:
  - ./api/ci/test.sh

release-ui:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $UI_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_deploy-ui:
  stage: release_deploy
  when: on_success
  variables:
    BUILD_ENV: production
  before_script:
  - apt-get update && apt-get install -y python3-pip
  - pip3 install awscli
  - npm clean-install
  script:
  - ./ui/ci/deploy.sh

release_success-ui:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release_failure-ui:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $UI_BUMP_VERSION_FILE)
  script:
  ...

release-api:
  stage: release
  image: buildpack-deps:buster-scm
  variables:
    BUMP_VERSION_FILE: $API_BUMP_VERSION_FILE
  script:
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | sh

release_build-api:
  stage: release_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - api/ci/build.sh

release_deploy-api:
  stage: release_deploy
  when: on_success
  image: google/cloud-sdk:latest
  script:
  - api/ci/deploy.sh

release_success-api:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

release_failure-api:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=example:$(cat $API_BUMP_VERSION_FILE)
  script:
  ...

fix: audience
  Cargo.lock
  src/auth/_api/service/helper.rs
Due: test-api

version bumped: 0.41.0-api
  Cargo.toml
  api/app/api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: none

refactor: api authorization
  Cargo.lock
  src/auth/_api/service/helper.rs
  src/auth/_api/service/infra.rs
  src/auth/auth_ticket/_api/logout/init/logout_service.rs
  src/auth/auth_ticket/_api/renew/init/renew_service.rs
  src/auth/auth_ticket/_api/validate/init/validate_service.rs
  src/auth/password/_api/authenticate/init/authenticate_service.rs
  src/auth/password/reset/_api/request_token/init/request_token_service.rs
  src/auth/password/reset/_api/reset/init/reset_service.rs
  src/example/_api/service/helper.rs
  src/example/outline/_api/get_menu_badge/init/get_menu_badge_service.rs
  src/z_details/_api/mod.rs
  src/z_details/_api/service/data.rs
  src/z_details/_api/service/helper.rs
  src/z_details/_api/service/infra.rs
  src/z_details/_api/service/init.rs
  src/z_details/_api/service/init/authorizer.rs
  src/z_details/_api/service/mod.rs
Due: test-api

version bumped: 0.42.0-api
  Cargo.toml
  api/app/api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: none

fix: build env
  .gitlab-ci.yml
  Cargo.lock
  ui/ci/deploy.sh
Due: none

version bumped: 0.17.1-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: dev docs
  .envrc
  src/example/outline/_ui/kernel/init/docs.ts
  ui/ci/deploy.sh
  ui/env/environment.js
Due: test-ui

version bumped: 0.18.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: detect application target
  .envrc
  src/auth/password/reset/_auth/request_token/init/token_notifier.rs
  src/avail/version/_ui/action_find_next/test.ts
  src/avail/version/_ui/action_find_next/x_plain/move_to_next_version.ts
  src/avail/version/_ui/find_next/convert.ts
  src/avail/version/_ui/find_next/data.ts
  src/avail/version/_ui/find_next/helper.ts
  src/avail/version/_ui/find_next/test_helper.ts
Due: test-ui, test-api

version bumped: 0.43.0-api
  Cargo.toml
  api/app/api/VERSION
  api/vendor/aws-cloudfront-cookie/Cargo.toml
  api/vendor/getto-application/Cargo.toml
Due: none

version bumped: 0.2.0-auth
  api/app/auth/VERSION
Due: none

version bumped: 0.19.0-ui
  package.json
  ui/VERSION
Due: release-ui, release_deploy-ui, release_success-ui, release_failure-ui

fix: nonce header
  Cargo.lock
  main/_api/main.rs
  src/auth/auth_ticket/_api/kernel/x_actix_web/header.rs
  ui/setup/environment.js
Due: test-api

update: package
  .gitlab-ci.yml
  bootstrap/generate_jwt_key.sh
  example.code-workspace
  package-lock.json
  package.json
Due: none

fix: logout
  main/_ui/public/auth/sign/background.ts
  main/_ui/public/auth/sign/foreground.ts
  main/_ui/public/avail/version/move_to_latest/foreground.ts
  main/_ui/public/avail/version/move_to_next/foreground.ts
  main/_ui/secure/auth/auth_ticket/logout/entry.stories.ts
  main/_ui/secure/auth/auth_ticket/logout/entry.ts
  main/_ui/secure/auth/auth_ticket/logout/foreground.ts
  main/_ui/secure/auth/auth_ticket/logout/resource.ts
  main/_ui/secure/auth/profile/foreground.ts
  main/_ui/secure/docs/auth/auth_ticket/check/foreground.ts
  main/_ui/secure/docs/auth/index/foreground.ts
  main/_ui/secure/docs/auth/logout/foreground.ts
  main/_ui/secure/docs/auth/password/authenticate/foreground.ts
  main/_ui/secure/docs/auth/password/reset/foreground.ts
  main/_ui/secure/docs/avail/foreground.ts
  main/_ui/secure/docs/index/foreground.ts
  main/_ui/secure/docs/privacy_policy/foreground.ts
  main/_ui/secure/docs/z_dev/auth/sign/foreground.ts
  main/_ui/secure/index/foreground.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.ts
  src/example/outline/_ui/kernel/init/home.ts
  src/x_outside_feature/_ui/common.ts
  src/x_outside_feature/_ui/worker.ts
  ui/env/entry_point.js
  ui/public/dist/auth/auth-ticket/logout.html
Due: test-ui

fix: coverage config
  ui/config/jest.config.js
Due: none

refactor: logout
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.ts
Due: test-ui

refactor: error reason helper
  src/auth/auth_ticket/_ui/action_check/x_preact/check_auth_info.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.ts
  src/auth/password/_ui/action_authenticate/x_preact/authenticate_password.ts
  src/auth/password/reset/_ui/action_request_token/x_preact/request_reset_token.ts
  src/auth/password/reset/_ui/action_reset/x_preact/reset_password.ts
  src/example/outline/_ui/action_load_menu/x_preact/load_menu.ts
  src/z_details/_ui/remote/helper.ts
  src/z_details/_ui/remote/reason.ts
  src/z_details/_ui/repository/reason.ts
Due: test-ui

refactor: profile
  main/_ui/secure/auth/auth_ticket/logout/foreground.ts
  main/_ui/secure/auth/auth_ticket/logout/page.stories.ts
  main/_ui/secure/auth/auth_ticket/logout/page.ts
  main/_ui/secure/auth/profile/foreground.ts
  main/_ui/secure/auth/profile/page.stories.ts
  main/_ui/secure/auth/profile/page.ts
  main/_ui/secure/auth/profile/resource.ts
  src/auth/_ui/action_profile/init.ts
  src/auth/_ui/action_profile/init/resource.ts
  src/auth/_ui/action_profile/mock.ts
  src/auth/_ui/action_profile/resource.ts
  src/auth/_ui/action_profile/test.ts
  src/auth/_ui/action_profile/x_preact/profile.ts
  src/example/_ui/action_base/resource.ts
Due: test-ui

refactor: entry
  main/_ui/secure/auth/profile/foreground.ts
  main/_ui/secure/auth/profile/page.stories.ts
  main/_ui/secure/auth/profile/page.ts
  src/auth/_ui/action_sign/x_preact/sign.ts
Due: test-ui

add: change password
  main/_ui/secure/auth/auth_ticket/logout/page.stories.ts
  main/_ui/secure/auth/auth_ticket/logout/page.ts
  main/_ui/secure/auth/profile/foreground.ts
  main/_ui/secure/auth/profile/page.stories.ts
  main/_ui/secure/auth/profile/page.ts
  main/_ui/secure/auth/profile/resource.ts
  src/auth/auth_ticket/_ui/action_logout/mock.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.stories.ts
  src/auth/auth_ticket/_ui/action_logout/x_preact/logout.ts
  src/auth/login_id/_ui/action_input/x_preact/input.ts
  src/auth/password/_ui/action_authenticate/x_preact/authenticate_password.ts
  src/auth/password/_ui/action_change/action.ts
  src/auth/password/_ui/action_change/docs.ts
  src/auth/password/_ui/action_change/init.ts
  src/auth/password/_ui/action_change/init/resource.ts
  src/auth/password/_ui/action_change/mock.ts
  src/auth/password/_ui/action_change/resource.ts
  src/auth/password/_ui/action_change/test.ts
  src/auth/password/_ui/action_change/x_preact/change_password.stories.ts
  src/auth/password/_ui/action_change/x_preact/change_password.ts
  src/auth/password/_ui/action_input/x_preact/input.ts
  src/auth/password/_ui/change/data.ts
  src/auth/password/_ui/change/event.ts
  src/auth/password/_ui/change/infra.ts
  src/auth/password/_ui/change/init.ts
  src/auth/password/_ui/change/init/remote/change.ts
  src/auth/password/_ui/change/method.ts
  src/auth/password/z_protobuf/api.proto
  src/avail/_ui/x_preact/application_error.ts
  ui/vendor/getto-css/preact/design/form.ts
Due: test-ui

fix: change password
  src/auth/password/_ui/action_authenticate/action.ts
  src/auth/password/_ui/action_authenticate/init.ts
  src/auth/password/_ui/action_authenticate/mock.ts
  src/auth/password/_ui/action_change/action.ts
  src/auth/password/_ui/action_change/init.ts
  src/auth/password/_ui/action_change/mock.ts
  src/auth/password/_ui/action_change/x_preact/change_password.ts
  src/auth/password/_ui/change/init/remote/change.ts
  ui/vendor/getto-css/preact/design/form.ts
Due: test-ui

fix: change password remote
  src/auth/password/_ui/change/init/remote/change.ts
Due: test-ui

fix: check nonce
  src/auth/_api/service/helper.rs
  src/auth/password/_api/action_change/test.rs
  src/auth/password/_api/change/infra.rs
  src/auth/password/_api/change/init.rs
  src/auth/password/_api/change/init/change_service.rs
  src/auth/password/_api/change/method.rs
  src/auth/password/_auth/action_change/init.rs
  src/auth/password/_auth/action_change/test.rs
  src/auth/password/_auth/change/infra.rs
  src/auth/password/_auth/change/init.rs
  src/auth/password/_auth/change/method.rs
  src/auth/password/_auth/change/x_tonic/response.rs
  src/auth/password/_auth/x_tonic/route.rs
  src/auth/password/_ui/change/init/remote/change.ts
Due: test-ui, test-api

fix: change password
  src/auth/auth_ticket/_auth/action_logout/action.rs
  src/auth/auth_ticket/_auth/action_renew/action.rs
  src/auth/auth_ticket/_auth/action_validate/action.rs
  src/auth/password/_api/change/init.rs
  src/auth/password/_ui/action_change/x_preact/change_password.ts
Due: test-ui, test-api

fix: cargo test
  .gitlab-ci.yml
  api/ci/setup-test.sh
Due: none

fix: gitlab ci
  .gitlab-ci.yml
  api/ci/test.sh
Due: none

fix: sqlx-data
  api/ci/prepare-sqlx.js
  api/ci/prepare-sqlx.sh
  sqlx-data.api.json
  sqlx-data.auth.json
  sqlx-data.example.json
  sqlx-data.json
Due: none

fix: prepare sqlx
  api/ci/prepare-sqlx.js
  api/ci/prepare-sqlx.sh
  sqlx-data.api.json
Due: none

fix: change password ui
  main/_ui/secure/auth/profile/page.ts
  src/auth/password/_ui/action_change/action.ts
  src/auth/password/_ui/action_change/init.ts
  src/auth/password/_ui/action_change/mock.ts
  src/auth/password/_ui/action_change/x_preact/change_password.ts
Due: test-ui

refactor: validate auth token
  src/auth/auth_ticket/_auth/action_logout/action.rs
  src/auth/auth_ticket/_auth/action_logout/init.rs
  src/auth/auth_ticket/_auth/action_logout/test.rs
  src/auth/auth_ticket/_auth/action_logout/x_tonic/log.rs
  src/auth/auth_ticket/_auth/action_logout/x_tonic/response.rs
  src/auth/auth_ticket/_auth/action_renew/action.rs
  src/auth/auth_ticket/_auth/action_validate/action.rs
  src/auth/auth_ticket/_auth/discard/event.rs
  src/auth/auth_ticket/_auth/discard/infra.rs
  src/auth/auth_ticket/_auth/discard/init.rs
  src/auth/auth_ticket/_auth/discard/method.rs
  src/auth/auth_ticket/_auth/discard/x_tonic/log.rs
  src/auth/auth_ticket/_auth/discard/x_tonic/response.rs
  src/auth/auth_ticket/_auth/validate/method.rs
  src/auth/password/_auth/change/method.rs
Due: test-api

fix: comment
  src/auth/auth_ticket/_auth/action_renew/action.rs
  src/auth/auth_ticket/_auth/action_validate/action.rs
Due: test-api

fix: test
  main/_example/main.rs
  src/example/outline/_api/action_get_menu_badge/test.rs
Due: test-api

refactor: renew proxy
  src/auth/auth_ticket/_api/action_renew/action.rs
  src/auth/auth_ticket/_api/action_renew/init.rs
  src/auth/auth_ticket/_api/action_renew/mod.rs
  src/auth/auth_ticket/_api/action_renew/test.rs
  src/auth/auth_ticket/_api/action_renew/x_actix_web/log.rs
  src/auth/auth_ticket/_api/action_renew/x_actix_web/mod.rs
  src/auth/auth_ticket/_api/action_renew/x_actix_web/response.rs
  src/auth/auth_ticket/_api/mod.rs
  src/auth/auth_ticket/_api/proxy_renew/init.rs
  src/auth/auth_ticket/_api/proxy_renew/init/renew_service.rs
  src/auth/auth_ticket/_api/proxy_renew/init/response_encoder.rs
  src/auth/auth_ticket/_api/proxy_renew/mod.rs
  src/auth/auth_ticket/_api/renew/event.rs
  src/auth/auth_ticket/_api/renew/infra.rs
  src/auth/auth_ticket/_api/renew/init.rs
  src/auth/auth_ticket/_api/renew/init/response_encoder.rs
  src/auth/auth_ticket/_api/renew/method.rs
  src/auth/auth_ticket/_api/renew/mod.rs
  src/auth/auth_ticket/_api/renew/x_actix_web/log.rs
  src/auth/auth_ticket/_api/renew/x_actix_web/mod.rs
  src/auth/auth_ticket/_api/renew/x_actix_web/response.rs
  src/auth/auth_ticket/_api/x_actix_web/route.rs
Due: test-api

Path conditions:
  test-ui: any of: src/**/*.ts, ui/details/**/*.ts, ui/vendor/**/*.ts
  test-api: any of: src/**/*.rs, api/details/**/*.rs, api/vendor/**/*.rs
  release-ui: any of: ui/VERSION
  release_deploy-ui: any of: ui/VERSION
  release_success-ui: any of: ui/VERSION
  release_failure-ui: any of: ui/VERSION
  release-api: any of: api/VERSION
  release_build-api: any of: api/VERSION
  release_deploy-api: any of: api/VERSION
  release_success-api: any of: api/VERSION
  release_failure-api: any of: api/VERSION
